<div class="thumbs-grid thumbs-grid-med x-scroll-area">
    <div class="x-scroll-wrapper"><!-- inner div for scroll -->
        <div class="x-thumbs">
            <% _.each(awards, function(award) { %>
                <div class="x-thumb">
                    <a href="" class="image-link" rel="external" data-date="" data-id="" data-tag="">
                        <img src="<%= award.images.thm %>" class="s-thumb-image s-thumb-med">
                    </a>
                    <div class="competition-ribbon"><%= string_utils.ordinal(award.id) %></div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
