<div class="thumbs-grid thumbs-grid-med x-scroll-area">
    <div class="x-scroll-wrapper"><!-- inner div for scroll -->
        <div class="x-thumbs">
            <% _.each(awards, function(award) { %>
                <div class="x-thumb">
                    <a href="" class="image-link" rel="external" data-date="" data-id="" data-tag="">
                        <img src="<%= award.images.sml %>" class="thumb-image thumb-med" width="75" height="75">
                    </a>
                    <div class="ribbon ribbon-<%= award.id %>">&nbsp;</div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
