<a class="ui-bar ui-bar-b top-left-arrow x-details" data-query="<%= escape(feed_param) %>" data-city="<%= details.name %>" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="b">
    <span class="image-details x-details">
        <span class="ui-icon ui-icon-redheart "></span>
        <em><%= details.name %></em>
        <span class="image-tag x-tag"><% if(collection.length){ %><%= collection.models[0].get("description") %><% } %></span>
        <span class="image-time small-text">
            <span class="ui-icon ui-icon-clock "></span>
            <span class="x-date"><% if(collection.length){ %><%= string_utils.short_timestamp( collection.models[0].get("date") )  %><% } %></span>
        </span>
    </span>
</a>
<div id="upload-popular-nearby-images" class="thumbs-grid thumbs-grid-med x-scroll-area">
    <div class="x-scroll-wrapper"><!-- inner div for scroll -->
    <div class="x-left-pull thumb-med load-more-inline">
        <span class="ui-icon ui-icon-refresh"></span>
        <span class="ui-btn-text x-msg">Refresh</span>
    </div>
    <div class="x-thumbs"></div>
    <div class="x-right-pull thumb-med load-more-inline">
        <span class="ui-icon ui-icon-refresh"></span>
        <span class="ui-btn-text x-msg">Load More</span>
    </div>
</div>
