<% switch (type){
    case "follow":%>
        <em><%= user.display_username %></em> <%= T('is now following you') %>
    <%  break;
    case "favorite":%>
        <em><%= user.display_username %></em> <%= T('liked your photo') %>
    <%  break;
    case "comment":%>
        <em><%= user.display_username %></em> <%= T('commented on your photo') %>
    <%  break;
    case "comment-on-comment":%>
        <em><%= user.display_username %></em> <%= T('posted a comment') %>
    <%  break;
    default: %>
        <%= T('No news yet') %>..
<%}%>
