<div data-role="footer" data-position="fixed" data-ajax="false" data-tap-toggle="false" data-theme="b" class="s-tab-bar tab-bar-icons">
<div class="s-bg-load-bar">
    <span class="s-load-bar-animate"></span>
</div>
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="#/dash/" data-icon="dash" data-theme="b" data-name="dash">Dash</a></li>
            <li><a href="#/spots/" data-icon="spots" data-theme="b" data-name="spots">Spots</a></li>
            <li><a class="x-launch-camera-options" data-icon="share"  data-theme="b" data-name="share">Share</a></li>
            <li><a href="#/popular/" data-icon="popular" data-theme="b" data-name="discover">Discover</a></li>
            <% if(username){ %>
                <li>
                    <a href="#/feed/?username=<%= username %>" data-icon="user" data-theme="b" data-name="feed">Me</a>
                    <span class="x-upload-count hide s-count-item"></span>

                </li>
            <% }else{ %>
                <li><a href="#/welcome/" data-icon="user" data-theme="b" data-name="feed">Login</a></li>
            <% } %>

        </ul>
    </div><!-- /navbar -->

    <% if(username){ %>
        <a class="x-activity s-tabbar-activity s-my-snaps-only ui-bar" href="#/activity/" data-role="button" data-mini="true" data-theme="e">
            <!-- <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-heart"></span>x 1</span>
            <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-comment"></span>x 4</span> -->

            <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-activity"></span>Activity</span>
        </a>
    <% } %>
</div><!-- /footer -->
