#popular .ui-content{
    padding: 3px;
}
#popular #popular-timeframe{
    padding-left: 12px;
}


.right-header-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.people-list {
    padding-top: 30px;
}

.thumb-image {
    height: 100px;
    width: 100px;
}

.feed-content {
    padding: 0;
/*    padding-top: 15px;*/
    overflow: hidden;
}

.feed-content.grid{
    padding-top: 0;
}

.feed-content ul.gallery {
    padding: 15px;
}
.feed-content.grid ul.gallery {
    padding: 0;
}

.feed-content.grid .ui-listview {
    margin: 0;
}

.feed-content.grid ul{
    padding-left: 5px;
}

.feed-content.grid ul li{
    padding-right: 4px;
}

/*
 * SNAPR MAP DISPLAY
 * 
 */

/*#map-layer {
    width:100%;
    overflow: hidden;
    z-index: 10;
    position:absolute;
    left: 0;
}
*/


#google-map {
    position:absolute;
    overflow: auto;
    top: 41px;
    bottom: 29px;
    left: 0;
    right: 0;
}

#map .ui-footer {
    position: absolute;
    bottom: 0;
}


