#popular .ui-content{
    padding: 3px;
}
#popular #popular-timeframe{
    padding-left: 12px;
}
ul.grid-list {
    padding:0;
}
ul.grid-list li {
    list-style:none;
    display:inline-block;
}

.right-header-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.people-list {
    padding-top: 30px;
}

.thumb-image {
    height: 100px;
    width: 100px;
}

.feed-content {
    padding: 0;
/*    padding-top: 15px;*/
    overflow: hidden;
}

.feed-content.grid{
    padding-top: 0;
}

.feed-content ul.gallery {
    padding: 15px;
}
.feed-content.grid ul.gallery {
    padding: 0;
}

.feed-content.grid .ui-listview {
    margin: 0;
}

.feed-content.grid ul{
    padding-left: 5px;
}

.feed-content.grid ul li{
    padding-right: 4px;
}

/*
 * SNAPR MAP DISPLAY
 * 
 */

/*#map-layer {
    width:100%;
    overflow: hidden;
    z-index: 10;
    position:absolute;
    left: 0;
}
*/


#google-map {
    position:absolute;
    overflow: auto;
    top: 41px;
    bottom: 29px;
    left: 0;
    right: 0;
}

#map .ui-footer {
    position: absolute;
    bottom: 0;
}

/* map thumbs */

.snaprmappoint {
    width: 1px;
    height: 1px;
    overflow: visible;
    position:absolute;
}

.snaprmapthumb {
    position: absolute;
    bottom: -3px;
    left: -38px;
    width: 78px;
    height: 120px;
    z-index: 100;
}

.snaprmapthumb a .snaprmapthumbimage {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 60px;
    height: 60px;
}

.snaprmapthumb .snaprmappin {
    position: absolute;
    top:83px;
    left: 32px;
    background-image: url('../gfx/map_pin_public.png');
    width:28px;
    height: 35px;
    display: block;
}

.snaprmapthumb .snaprthumbbg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../gfx/map_thumb_bg.png');
    width:78px;
    height: 88px;
    display: block;
}



/* upload */
.heart-progress-bar{
    width: 100px;
    height: 100px;
    position: relative;
    top: 2px;
}

.heart-progress-bar .heart{
    width: 100px;
}

.heart-progress-bar .heart-prog{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -moz-linear-gradient(top, 
                          #ffff00,
                          #fade2e);
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0,         #ffff00),
    color-stop(1,         #fade2e));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffff00', EndColorStr='#fade2e')";
}

.heart-progress-bar .heart-bg{
    background-color: #C5C4C4;
    -moz-box-shadow: inset 0 0 9px 2px #AFAEAE;
    -webkit-box-shadow: inset 0 0 9px 2px #AFAEAE;
    box-shadow: inset 0 0 9px 2px #AFAEAE;
}


/* old */
.progress-bar{
    width: 100%;
    position: relative;
    top: 2px;
}

.progress-bar .bar{
    height: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.progress-bar .bar-prog{
    position: absolute;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient(top, 
                          #ffff00,
                          #fade2e);
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0,         #ffff00),
    color-stop(1,         #fade2e));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffff00', EndColorStr='#fade2e')";
}

.progress-bar .bar-bg{
    background-color: #C5C4C4;
    -moz-box-shadow: inset 0 0 9px 2px #AFAEAE;
    -webkit-box-shadow: inset 0 0 9px 2px #AFAEAE;
    box-shadow: inset 0 0 9px 2px #AFAEAE;
}
