#popular .ui-content{
    padding: 3px;
}
#popular #popular-timeframe{
    padding-left: 12px;
}
ul.grid-list {
    padding:0;
}
ul.grid-list li {
    list-style:none;
    display:inline-block;
}

.right-header-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*
 * SNAPR MAP DISPLAY
 * 
 */

/*#map-layer {
    width:100%;
    overflow: hidden;
    z-index: 10;
    position:absolute;
    left: 0;
}
*/


#google-map {
    position:absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* map thumbs */

.snaprmappoint {
    width: 1px;
    height: 1px;
    overflow: visible;
    position:absolute;
}

.snaprmapthumb {
    position: absolute;
    bottom: -3px;
    left: -38px;
    width: 78px;
    height: 120px;
    z-index: 100;
}

.snaprmapthumb a .snaprmapthumbimage {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 60px;
    height: 60px;
}

.snaprmapthumb .snaprmappin {
    position: absolute;
    top:83px;
    left: 32px;
    background-image: url('../gfx/map_pin_public.png');
    width:28px;
    height: 35px;
    display: block;
}

.snaprmapthumb .snaprthumbbg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../gfx/map_thumb_bg.png');
    width:78px;
    height: 88px;
    display: block;
}
