// ICONS 
// Positioning for icons in the app based on sprites.less
//-----------------------


// DEFAULT ICONS
//-----------------
.ui-icon,
.ui-icon-searchfield:after{
    background-image: url('@{gfx}@{gfxIcons}');  
	background-repeat: no-repeat;
}

.ui-icon-plus       {   background-position:@gfxIcons-plus-x @gfxIcons-y-dark;}
.ui-icon-minus      {   background-position: @gfxIcons-minus-x @gfxIcons-y-dark;}
.ui-icon-delete     {   background-position: @gfxIcons-delete-x @gfxIcons-y-dark;}
.ui-icon-arrow-r    {   background-position: @gfxIcons-arrow-r-x @gfxIcons-y-dark;}
.ui-icon-arrow-l    {   background-position: @gfxIcons-arrow-l-x @gfxIcons-y-dark;}
.ui-icon-arrow-u    {   background-position: @gfxIcons-arrow-u-x @gfxIcons-y-dark;}
.ui-icon-arrow-d    {   background-position: @gfxIcons-arrow-d-x @gfxIcons-y-dark;}
.ui-icon-check      {   background-position: @gfxIcons-check-x @gfxIcons-y-dark;}
.ui-icon-gear       {   background-position: @gfxIcons-gear-x @gfxIcons-y-dark;}
.ui-icon-refresh    {   background-position: @gfxIcons-refresh-x @gfxIcons-y-dark;}
.ui-icon-forward    {   background-position: @gfxIcons-forward-x @gfxIcons-y-dark;}
.ui-icon-back       {   background-position: @gfxIcons-back-x @gfxIcons-y-dark;}
.ui-icon-grid       {   background-position: @gfxIcons-grid-x @gfxIcons-y-dark;}
.ui-icon-star       {   background-position: @gfxIcons-star-x @gfxIcons-y-dark;}
.ui-icon-alert      {   background-position: @gfxIcons-alert-x @gfxIcons-y-dark;}
.ui-icon-info       {   background-position: @gfxIcons-info-x @gfxIcons-y-dark;}
.ui-icon-home       {   background-position: @gfxIcons-home-x @gfxIcons-y-dark;}
.ui-icon-search,
.ui-icon-searchfield:after {background-position: @gfxIcons-search-x @gfxIcons-y-dark;}
.ui-icon-checkbox-off { background-position: @gfxIcons-minus-x @gfxIcons-y-dark;}
.ui-icon-checkbox-on{   background-position: 	@gfxIcons-check-x @gfxIcons-y-highlight;}
.ui-icon-radio-off  {   background-position: 	@gfxIcons-minus-x @gfxIcons-y-dark;}
.ui-icon-radio-on   {   background-position: @gfxIcons-check-x @gfxIcons-y-highlight;}


// TOP BAR ICONS
//-----------------
.ui-header{
    .ui-btn-up-a{
        .ui-btn-inner{
            .ui-icon-search     {   background-position: @gfxTopBar-x-a @gfxTopBar-search-icon-y;}
            .ui-icon-home       {   background-position: @gfxTopBar-x-a @gfxTopBar-home-icon-y;}
            .ui-icon-delete     {   background-position: @gfxTopBar-x-a @gfxTopBar-close-icon-y;}
            .ui-icon-settings   {   background-position: @gfxTopBar-x-a @gfxTopBar-settings-icon-y;}
            .ui-icon-location   {   background-position: @gfxTopBar-x-a @gfxTopBar-location-icon-y;}
            .ui-icon-camroll    {   background-position: @gfxTopBar-x-a @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera     {   background-position: @gfxTopBar-x-a @gfxTopBar-camera-icon-y;}
            .ui-icon-join       {   background-position: @gfxTopBar-x-a @gfxTopBar-join-icon-y;}
            .ui-icon-info       {   background-position: @gfxTopBar-x-a @gfxTopBar-info-icon-y;}
            .ui-icon-map        {   background-position: @gfxTopBar-x-a @gfxTopBar-map-icon-y;}
        }
    }
    .ui-btn-hover-a{
        .ui-btn-inner{
            .ui-icon-search     {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-search-icon-y;}
            .ui-icon-home       {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-home-icon-y;}
            .ui-icon-delete     {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-close-icon-y;}
            .ui-icon-settings   {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-settings-icon-y;}
            .ui-icon-location   {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-location-icon-y;}
            .ui-icon-camroll    {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera     {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-camera-icon-y;}
            .ui-icon-join       {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-join-icon-y;}
            .ui-icon-info       {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-info-icon-y;}
            .ui-icon-map        {   background-position: @gfxTopBar-x-a-hover @gfxTopBar-map-icon-y;}
        }
    }    
    .ui-btn-up-b{
        .ui-btn-inner{
            .ui-icon-search{background-position: @gfxTopBar-x-b @gfxTopBar-search-icon-y;}
            .ui-icon-home{ background-position: @gfxTopBar-x-b @gfxTopBar-home-icon-y;}
            .ui-icon-delete{ background-position: @gfxTopBar-x-b @gfxTopBar-close-icon-y;}
            .ui-icon-settings{ background-position: @gfxTopBar-x-b @gfxTopBar-settings-icon-y;}
            .ui-icon-location{ background-position: @gfxTopBar-x-b @gfxTopBar-location-icon-y;}
            .ui-icon-camroll{ background-position: @gfxTopBar-x-b @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera{ background-position: @gfxTopBar-x-b @gfxTopBar-camera-icon-y;}
            .ui-icon-join{ background-position: @gfxTopBar-x-b @gfxTopBar-join-icon-y;}
            .ui-icon-info{ background-position: @gfxTopBar-x-b @gfxTopBar-info-icon-y;}
            .ui-icon-map{ background-position: @gfxTopBar-x-b @gfxTopBar-map-icon-y;}
        }
    }
    .ui-btn-hover-b{
        .ui-btn-inner{
            .ui-icon-search{background-position: @gfxTopBar-x-b-hover @gfxTopBar-search-icon-y;}
            .ui-icon-home{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-home-icon-y;}
            .ui-icon-delete{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-close-icon-y;}
            .ui-icon-settings{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-settings-icon-y;}
            .ui-icon-location{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-location-icon-y;}
            .ui-icon-camroll{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-camera-icon-y;}
            .ui-icon-join{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-join-icon-y;}
            .ui-icon-info{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-info-icon-y;}
            .ui-icon-map{ background-position: @gfxTopBar-x-b-hover @gfxTopBar-map-icon-y;}
        }
    }
    .ui-btn-up-c{
        .ui-btn-inner{
            .ui-icon-search{background-position: @gfxTopBar-x-c @gfxTopBar-search-icon-y;}
            .ui-icon-home{ background-position: @gfxTopBar-x-c @gfxTopBar-home-icon-y;}
            .ui-icon-delete{ background-position: @gfxTopBar-x-c @gfxTopBar-close-icon-y;}
            .ui-icon-settings{ background-position: @gfxTopBar-x-c @gfxTopBar-settings-icon-y;}
            .ui-icon-location{ background-position: @gfxTopBar-x-c @gfxTopBar-location-icon-y;}
            .ui-icon-camroll{ background-position: @gfxTopBar-x-c @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera{ background-position: @gfxTopBar-x-c @gfxTopBar-camera-icon-y;}
            .ui-icon-join{ background-position: @gfxTopBar-x-c @gfxTopBar-join-icon-y;}
                .ui-icon-info{ background-position: @gfxTopBar-x-c @gfxTopBar-info-icon-y;}
                .ui-icon-map{ background-position: @gfxTopBar-x-c @gfxTopBar-map-icon-y;}
        }
    }
    .ui-btn-hover-c{
        .ui-btn-inner{
            .ui-icon-search{background-position: @gfxTopBar-x-c-hover @gfxTopBar-search-icon-y;}
            .ui-icon-home{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-home-icon-y;}
            .ui-icon-delete{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-close-icon-y;}
            .ui-icon-settings{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-settings-icon-y;}
            .ui-icon-location{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-location-icon-y;}
            .ui-icon-camroll{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-camroll-icon-y;}
            .ui-icon-camera{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-camera-icon-y;}
            .ui-icon-join{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-join-icon-y;}
                .ui-icon-info{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-info-icon-y;}
                .ui-icon-map{ background-position: @gfxTopBar-x-c-hover @gfxTopBar-map-icon-y;}
        }
    }
}


// TAB BAR ICONS 
//-----------------
.tab-bar-icons{
    .ui-icon{
        width: @gfxTabBar-grid;
        height: @gfxTabBar-grid;
        background-image: url('@{gfx}@{gfxTabBar}');
    }    
    .ui-icon-dash {     background-position: @gfxTabBar-x @gfxTabBar-dash-y ;}
    .ui-icon-map {     background-position: @gfxTabBar-x @gfxTabBar-map-y ;}
    .ui-icon-share {     background-position: @gfxTabBar-x @gfxTabBar-camera-y ;}
    .ui-icon-spots {     background-position: @gfxTabBar-x @gfxTabBar-spots-y ;}
    .ui-icon-popular {     background-position: @gfxTabBar-x @gfxTabBar-popular-y ;}
    .ui-icon-user {     background-position:@gfxTabBar-x @gfxTabBar-user-y ;}
    .ui-btn-active{
        .ui-icon-dash {     background-position: @gfxTabBar-x-hover @gfxTabBar-dash-y;}
        .ui-icon-map {     background-position: @gfxTabBar-x-hover @gfxTabBar-map-y ;}
        .ui-icon-share {     background-position: @gfxTabBar-x-hover @gfxTabBar-camera-y ;}
        .ui-icon-spots {     background-position: @gfxTabBar-x-hover @gfxTabBar-spots-y ;}
        .ui-icon-popular {     background-position: @gfxTabBar-x-hover @gfxTabBar-popular-y ;}
        .ui-icon-user {     background-position:@gfxTabBar-x-hover @gfxTabBar-user-y ;}
    }
}


// ACTION ICONS 
//-----------------
.action-icons{
    .ui-icon{
        background: none;
        background-image: url('@{gfx}@{gfxAction}'); 
        width: @gfxAction-grid;
        height: @gfxAction-grid;
    }
    .ui-icon-action-heart{background-position: @gfxAction-x @gfxAction-heart-y}
    .ui-icon-action-comment{background-position: @gfxAction-x @gfxAction-comment-y}
    .ui-icon-action-more{background-position: @gfxAction-x @gfxAction-more-y}
    &.selected,
    &.ui-btn-hover-d,
    &.ui-btn-down-d,
    &.ui-btn-active-d{
        .ui-icon-action-heart{background-position: @gfxAction-x-hover @gfxAction-heart-y}
        .ui-icon-action-comment{background-position: @gfxAction-x-hover @gfxAction-comment-y}
        .ui-icon-action-more{background-position: @gfxAction-x-hover @gfxAction-more-y}
    }
}


// DARK ICONS
//-----------------
.dark-icons{
    .ui-btn{
        .ui-btn-inner{
            .ui-icon{
                   background-image: url('@{gfx}@{gfxDark}'); 
                   width: @gfxDark-grid;
                   height: @gfxDark-grid;
               }
               .ui-icon-settings,&.ui-icon-settings{background-position: @gfxDark-x @gfxDark-settings-y;}
               .ui-icon-flag,&.ui-icon-flag{background-position: @gfxDark-x @gfxDark-flag-y;}
               .ui-icon-delete,&.ui-icon-delete{background-position: @gfxDark-x @gfxDark-delete-y;}
               .ui-icon-download,&.ui-icon-download{background-position: @gfxDark-x @gfxDark-download-y;}
               .ui-icon-twitter,&.ui-icon-twitter{background-position: @gfxDark-x @gfxDark-twitter-y;}
               .ui-icon-facebook,&.ui-icon-facebook{background-position: @gfxDark-x @gfxDark-facebook-y;}
               .ui-icon-tumblr,&.ui-icon-tumblr{background-position: @gfxDark-x @gfxDark-tumblr-y;}
               .ui-icon-foursquare,&.ui-icon-foursquare{background-position: @gfxDark-x @gfxDark-foursquare-y;}
               .ui-icon-email,&.ui-icon-email{background-position: @gfxDark-x @gfxDark-email-y;}
               .ui-icon-feed,&.ui-icon-feed{background-position: @gfxDark-x @gfxDark-feed-y;}
               .ui-icon-grid,&.ui-icon-grid{background-position: @gfxDark-x @gfxDark-grid-y;}
               .ui-icon-spots,&.ui-icon-spots{background-position: @gfxDark-x @gfxDark-spots-y;}
               .ui-icon-photos,&.ui-icon-photos{background-position: @gfxDark-x @gfxDark-photos-y;}
        }
        &.ui-btn-active{
            .ui-btn-inner{
                   .ui-icon-spots,&.ui-icon-spots{background-position: @gfxDark-x-hover @gfxDark-spots-y;}
                   .ui-icon-photos,&.ui-icon-photos{background-position: @gfxDark-x-hover @gfxDark-photos-y;}
            }
        }
    } 
}


// UI BAR ICONS 
//-----------------
.ui-bar,
.ui-bar-icons{   
    .ui-icon,
    &.ui-icon{
        background-image: url('@{gfx}@{gfxBar}');
        width: @gfxBar-grid;
        height: @gfxBar-grid;
        
    }     
    .ui-icon-open,&.ui-icon-open{background-position: @gfxBar-x @gfxBar-open-y;}
    .ui-icon-closed,&.ui-icon-closed{background-position: @gfxBar-x @gfxBar-closed-y;}
    .ui-icon-arrow-r,&.ui-icon-arrow-r{background-position: @gfxBar-x @gfxBar-arrowR-y;}
    .ui-icon-heart,&.ui-icon-heart{background-position: @gfxBar-x @gfxBar-heart-y;}
    .ui-icon-venue,&.ui-icon-venue{background-position: @gfxBar-x @gfxBar-venue-y;}
    .ui-icon-person,&.ui-icon-person{background-position: @gfxBar-x @gfxBar-person-y;}
    .ui-icon-search,&.ui-icon-search{background-position: @gfxBar-x @gfxBar-search-y;}
    .ui-icon-activity,&.ui-icon-activity{background-position: @gfxBar-x @gfxBar-activity-y;}
    .ui-icon-location,&.ui-icon-location{background-position: @gfxBar-x @gfxBar-location-y;}
    .ui-icon-clock,&.ui-icon-clock{background-position: @gfxBar-x @gfxBar-clock-y;}
    .ui-icon-connection,&.ui-icon-connection{background-position: @gfxBar-x @gfxBar-connection-y;}
    .ui-icon-blog,&.ui-icon-blog{background-position: @gfxBar-x @gfxBar-blog-y;}
    .ui-icon-comment,&.ui-icon-comment{background-position: @gfxBar-x @gfxBar-comment-y;}
    .ui-icon-play&.ui-icon-play{background-position: @gfxBar-x @gfxBar-play-y;}
    .ui-icon-refresh,&.ui-icon-refresh{background-position: @gfxBar-x @gfxBar-refresh-y;}
    .ui-icon-redheart,&.ui-icon-redheart{background-position: @gfxBar-x-d @gfxBar-heart-y;}  
    .ui-icon-info,&.ui-icon-info{background-position: @gfxBar-x @gfxBar-info-y;}
    
      
    &.ui-bar-a{
    }
    
    &.ui-bar-e,
    &.ui-btn-up-e,
    &.ui-btn-hover-e,
    &.ui-btn-down-e{
        .ui-icon-open,&.ui-icon-open{background-position: @gfxBar-x-e @gfxBar-open-y;}
           .ui-icon-closed,&.ui-icon-closed{background-position: @gfxBar-x-e @gfxBar-closed-y;}
           .ui-icon-arrow-r,&.ui-icon-arrow-r{background-position: @gfxBar-x-e @gfxBar-arrowR-y;}
           .ui-icon-heart,&.ui-icon-heart{background-position: @gfxBar-x-e @gfxBar-heart-y;}
           .ui-icon-venue,&.ui-icon-venue{background-position: @gfxBar-x-e @gfxBar-venue-y;}
           .ui-icon-person,&.ui-icon-person{background-position: @gfxBar-x-e @gfxBar-person-y;}
           .ui-icon-search,&.ui-icon-search{background-position: @gfxBar-x-e @gfxBar-search-y;}
           .ui-icon-activity,&.ui-icon-activity{background-position: @gfxBar-x-e @gfxBar-activity-y;}
           .ui-icon-location,&.ui-icon-location{background-position: @gfxBar-x-e @gfxBar-location-y;}
           .ui-icon-clock,&.ui-icon-clock{background-position: @gfxBar-x-e @gfxBar-clock-y;}
           .ui-icon-connection,&.ui-icon-connection{background-position: @gfxBar-x-e @gfxBar-connection-y;}
           .ui-icon-blog,&.ui-icon-blog{background-position: @gfxBar-x-e @gfxBar-blog-y;}
           .ui-icon-comment,&.ui-icon-comment{background-position: @gfxBar-x-e @gfxBar-comment-y;}
           .ui-icon-play,&.ui-icon-play{background-position: @gfxBar-x-e @gfxBar-play-y;}
           .ui-icon-refresh,&.ui-icon-refresh{background-position: @gfxBar-x-e @gfxBar-refresh-y;}
           .ui-icon-redheart,&.ui-icon-redheart{background-position: @gfxBar-x-d @gfxBar-heart-y;}
           .ui-icon-info,&.ui-icon-info{background-position: @gfxBar-x-e @gfxBar-info-y;}
           
    }
    
}

// TUMBLR ICONS 
//-----------------
.ui-icon.tumblr-icon{   
    background-image: url('@{gfx}@{gfxTumblr}');
    width: @gfxTumblr-grid!important;
    height: @gfxTumblr-grid!important;
    &.ui-icon-tumblr-text{background-position: @gfxTumblr-x @gfxTumblr-text-y;}
    &.ui-icon-tumblr-photo{background-position: @gfxTumblr-x @gfxTumblr-photo-y;}
    &.ui-icon-tumblr-quote{background-position: @gfxTumblr-x @gfxTumblr-quote-y;}
    &.ui-icon-tumblr-link{background-position: @gfxTumblr-x @gfxTumblr-link-y;}
    &.ui-icon-tumblr-video{background-position: @gfxTumblr-x @gfxTumblr-video-y;}
    &.ui-icon-tumblr-audio{background-position: @gfxTumblr-x @gfxTumblr-audio-y;}
    &.ui-icon-tumblr-chat{background-position: @gfxTumblr-x @gfxTumblr-chat-y;}
}


// FEED ICONS
//-----------------

.feed-icons.ui-icon,
.feed-icons .ui-icon{
    background-image: url('@{gfx}@{gfxFeed}');
}
.feed-icons{
    .ui-icon-quote,&.ui-icon-quote{background-position: @gfxFeed-x @gfxFeed-quote-y;}
    .ui-icon-clocksmall,&.ui-icon-clocksmall{background-position: @gfxFeed-x @gfxFeed-time-y;}
    .ui-icon-venuesmall,&.ui-icon-venuesmall{background-position: @gfxFeed-x @gfxFeed-venue-y;}
}


// HELPER ICONS
//-----------------

.ui-icon.helper-icons,
.helper-icons .ui-icon{
    background-image: url('@{gfx}@{gfxHelper}');    
    width: @gfxHelper-grid;
    height: @gfxHelper-grid;
}



// SMALL SHARING ICONS
//-----------------

.s-share-icon-small{
    background-color: lighten(@grayLighter, 10%);
    .border-radius(@cornersLessRound);
    width: 22px;
    height: 22px;
    display: inline-block;
    .ui-icon{
        background-image: url('@{gfx}@{gfxShareSmall}');                             
        width: @gfxShareSmall-grid;
        height: @gfxShareSmall-grid;
        position: relative!important;
        display: block;
        top: 1px!important;
        left: 1px!important;
        margin: 0!important;
    }
    &.s-twitter-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-twitter-y!important;}
       background-color: @twitterBlue;
        .box-shadow(inset 0 3px 20px @twitterBlueTint);
    }
    &.s-facebook-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-facebook-y!important;}
       background-color: @facebookBlue;
       .box-shadow(inset 0 3px 20px @facebookBlueTint);
   }
   &.s-tumblr-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-tumblr-y!important;}
       background-color: @tumblrBlue;
       .box-shadow(inset 0 3px 20px @tumblrBlueTint);
   }
   &.s-foursquare-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-foursquare-y!important;}
        background-color: @foursquareBlue;
        .box-shadow(inset 0 3px 20px @foursquareBlueTint);
   }
}




// SPOT ICONS
//-----------------

.ui-icon.spot-icon,
.category-btn .ui-icon{
    background-position: @gfxSpot-x-c @gfxSpot-y;
    background-image: url('@{gfx}@{gfxSpot}');                                        
    width: @gfxSpot-grid;
    height: @gfxSpot-grid;
    }

// if parent class is set
.great-outdoors{
    .category-btn .ui-icon,
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-greatOutdoors}
} 
.shops {
    .category-btn .ui-icon,
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-shops}
}
.nightlife-spots{
    .category-btn .ui-icon, 
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-nightlife}
}
.food {
    .category-btn .ui-icon,
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-food}
}
.arts-and-entertainment {
    .category-btn .ui-icon,
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-arts}
}
.all-categories {
    .category-btn .ui-icon,
    .spot-icon{background-position: @gfxSpot-x-c @gfxSpot-y-all}
}

// Darker icon
.ui-icon.spot-icon-b{background-position: @gfxSpot-x-e @gfxSpot-y;}
.great-outdoors .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-greatOutdoors}
.shops .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-shops}
.nightlife-spots .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-nightlife}
.food .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-food}
.arts-and-entertainment .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-arts}
.all-categories .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-all}
.beer .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-nightlife}
.cafe .spot-icon-b.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-cafe}


// Darkest icon
.ui-icon.dark-spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y;}
.great-outdoors .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-greatOutdoors}
.shops .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-shops}
.nightlife-spots .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-nightlife}
.food .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-food}
.arts-and-entertainment .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-arts}
.all-categories .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-all}

.beer .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-nightlife}
.cafe .dark-spot-icon.spot-icon{background-position: @gfxSpot-x-e @gfxSpot-y-cafe}


// DISTANCE ICONS
//-----------------


.ui-icon.distance-icon,
.distance-btn .ui-icon{
    background-position: @gfxDistance-x @gfxDistance-y;
    background-image: url('@{gfx}@{gfxDistance}');                                        
    width: @gfxDistance-grid;
    height: @gfxDistance-grid;
    }

// if parent class is set
.distance-anywhere{
    .distance-btn .ui-icon,
    .distance-icon{background-position: @gfxDistance-x @gfxDistance-y-infinite}
}

.distance-1000{
    .distance-btn .ui-icon,
    .distance-icon{background-position: @gfxDistance-x @gfxDistance-y-1000}
}

.distance-10000{
    .distance-btn .ui-icon,
    .distance-icon{background-position: @gfxDistance-x @gfxDistance-y-10000}
}

.distance-50000{
    .distance-btn .ui-icon,
    .distance-icon{background-position: @gfxDistance-x @gfxDistance-y-50000}
}