/*
* Icons - Positioning for icons in the app based on sprites.less
*/

/* @defaulticons */
.ui-icon,
.ui-icon-searchfield:after {
    background-image: url('../gfx/general-jquerymob-icons.png');    
	background-repeat: no-repeat;
}


/* JQuery Mob icons */
.ui-icon-plus {     background-position:@gfx-general-icon-sprite-plus-x @g-dark-offset-y;}
.ui-icon-minus {    background-position: @gfx-general-icon-sprite-minus-x @g-dark-offset-y;}
.ui-icon-delete {   background-position: @gfx-general-icon-sprite-delete-x @g-dark-offset-y;}
.ui-icon-arrow-r {  background-position: @gfx-general-icon-sprite-arrow-r-x @g-dark-offset-y;}
.ui-icon-arrow-l {  background-position: @gfx-general-icon-sprite-arrow-l-x @g-dark-offset-y;}
.ui-icon-arrow-u {  background-position: @gfx-general-icon-sprite-arrow-u-x @g-dark-offset-y;}
.ui-icon-arrow-d {  background-position: @gfx-general-icon-sprite-arrow-d-x @g-dark-offset-y;}
.ui-icon-check {    background-position: @gfx-general-icon-sprite-check-x @g-dark-offset-y;}
.ui-icon-gear {     background-position: @gfx-general-icon-sprite-gear-x @g-dark-offset-y;}
.ui-icon-refresh {  background-position: @gfx-general-icon-sprite-refresh-x @g-dark-offset-y;}
.ui-icon-forward {  background-position: @gfx-general-icon-sprite-forward-x @g-dark-offset-y;}
.ui-icon-back {     background-position: @gfx-general-icon-sprite-back-x @g-dark-offset-y;}
.ui-icon-grid {     background-position: @gfx-general-icon-sprite-grid-x @g-dark-offset-y;}
.ui-icon-star {     background-position: @gfx-general-icon-sprite-star-x @g-dark-offset-y;}
.ui-icon-alert {    background-position: @gfx-general-icon-sprite-alert-x @g-dark-offset-y;}
.ui-icon-info {     background-position: @gfx-general-icon-sprite-info-x @g-dark-offset-y;}
.ui-icon-home {     background-position: @gfx-general-icon-sprite-home-x @g-dark-offset-y;}
.ui-icon-search,
.ui-icon-searchfield:after {background-position: @gfx-general-icon-sprite-search-x @g-dark-offset-y;}
.ui-icon-checkbox-off {background-position: @gfx-general-icon-sprite-minus-x @g-dark-offset-y;}
.ui-icon-checkbox-on {background-position: 	@gfx-general-icon-sprite-check-x @g-highlight-offset-y;}
.ui-icon-radio-off {background-position: 	@gfx-general-icon-sprite-minus-x @g-dark-offset-y;}
.ui-icon-radio-on {background-position: @gfx-general-icon-sprite-check-x @g-highlight-offset-y;}


/* @tabbaricons */
.tab-bar-icons{
    .ui-icon{
        width: @gfx-tab-bar-sprite-grid;
        height: @gfx-tab-bar-sprite-grid;
        background-image: url('../gfx/tab-bar-icons.png');    
    }
    
    .ui-icon-dash {     background-position: @tb-offset-x @gfx-tab-bar-sprite-dash-y ;}
    .ui-icon-map {     background-position: @tb-offset-x @gfx-tab-bar-sprite-map-y ;}
    .ui-icon-share {     background-position: @tb-offset-x @gfx-tab-bar-sprite-camera-y ;}
    .ui-icon-spots {     background-position: @tb-offset-x @gfx-tab-bar-sprite-spots-y ;}
    .ui-icon-popular {     background-position: @tb-offset-x @gfx-tab-bar-sprite-popular-y ;}
    .ui-icon-user {     background-position:@tb-offset-x @gfx-tab-bar-sprite-user-y ;}
    
    .ui-btn-active{
        .ui-icon-dash {     background-position: @tb-offset-x-hover @gfx-tab-bar-sprite-dash-y;}
        .ui-icon-map {     background-position: @tb-offset-x-hover @gfx-tab-bar-sprite-map-y ;}
        .ui-icon-share {     background-position: @tb-offset-x-hover @gfx-tab-bar-sprite-camera-y ;}
        .ui-icon-spots {     background-position: @tb-offset-x-hover @gfx-tab-bar-sprite-spots-y ;}
        .ui-icon-popular {     background-position: @tb-offset-x-hover @gfx-tab-bar-sprite-popular-y ;}
        .ui-icon-user {     background-position:@tb-offset-x-hover @gfx-tab-bar-sprite-user-y ;}
    }
    
}


/* @topbaricons */
.ui-header{
    .ui-btn-up-a{
        .ui-btn-inner{
             .ui-icon-search{background-position: @a-offset-x @gfx-main-icon-sprite-search-icon-y;}
               .ui-icon-home{ background-position: @a-offset-x @gfx-main-icon-sprite-home-icon-y;}
               .ui-icon-delete{ background-position: @a-offset-x @gfx-main-icon-sprite-close-icon-y;}
               .ui-icon-settings{ background-position: @a-offset-x @gfx-main-icon-sprite-settings-icon-y;}
               .ui-icon-location{ background-position: @a-offset-x @gfx-main-icon-sprite-location-icon-y;}
               .ui-icon-camroll{ background-position: @a-offset-x @gfx-main-icon-sprite-camroll-icon-y;}
               .ui-icon-camera{ background-position: @a-offset-x @gfx-main-icon-sprite-camera-icon-y;}
        }
    }
    .ui-btn-hover-a{
        .ui-btn-inner{
            .ui-icon-search{background-position: @a-offset-x-hover @gfx-main-icon-sprite-search-icon-y;}
            .ui-icon-home{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-home-icon-y;}
            .ui-icon-delete{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-close-icon-y;}
            .ui-icon-settings{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-settings-icon-y;}
            .ui-icon-location{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-location-icon-y;}
            .ui-icon-camroll{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-camroll-icon-y;}
            .ui-icon-camera{ background-position: @a-offset-x-hover @gfx-main-icon-sprite-camera-icon-y;}
        }
    }
    
    
    .ui-btn-up-b{
        .ui-btn-inner{
             .ui-icon-search{background-position: @b-offset-x @gfx-main-icon-sprite-search-icon-y;}
             .ui-icon-home{ background-position: @b-offset-x @gfx-main-icon-sprite-home-icon-y;}
             .ui-icon-delete{ background-position: @b-offset-x @gfx-main-icon-sprite-close-icon-y;}
             .ui-icon-settings{ background-position: @b-offset-x @gfx-main-icon-sprite-settings-icon-y;}
             .ui-icon-location{ background-position: @b-offset-x @gfx-main-icon-sprite-location-icon-y;}
             .ui-icon-camroll{ background-position: @b-offset-x @gfx-main-icon-sprite-camroll-icon-y;}
             .ui-icon-camera{ background-position: @b-offset-x @gfx-main-icon-sprite-camera-icon-y;}
             .ui-icon-join{ background-position: @b-offset-x @gfx-main-icon-sprite-join-icon-y;}
        }
    }
    .ui-btn-hover-b{
        .ui-btn-inner{
            .ui-icon-search{background-position: @b-offset-x-hover @gfx-main-icon-sprite-search-icon-y;}
            .ui-icon-home{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-home-icon-y;}
            .ui-icon-delete{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-close-icon-y;}
            .ui-icon-settings{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-settings-icon-y;}
            .ui-icon-location{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-location-icon-y;}
            .ui-icon-camroll{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-camroll-icon-y;}
            .ui-icon-camera{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-camera-icon-y;}
            .ui-icon-join{ background-position: @b-offset-x-hover @gfx-main-icon-sprite-join-icon-y;}
            
        }
    }
    .ui-btn-up-c{
        .ui-btn-inner{
           .ui-icon-search{background-position: @c-offset-x @gfx-main-icon-sprite-search-icon-y;}
           .ui-icon-home{ background-position: @c-offset-x @gfx-main-icon-sprite-home-icon-y;}
           .ui-icon-delete{ background-position: @c-offset-x @gfx-main-icon-sprite-close-icon-y;}
        }
    }
    .ui-btn-hover-c{
        .ui-btn-inner{
            .ui-icon-search{background-position: @c-offset-x-hover @gfx-main-icon-sprite-search-icon-y;}
            .ui-icon-home{ background-position: @c-offset-x-hover @gfx-main-icon-sprite-home-icon-y;}
            .ui-icon-delete{ background-position: @c-offset-x-hover @gfx-main-icon-sprite-close-icon-y;}
        }
    }
}

/* @action-icons */
.action-icons{
    .ui-icon{
        background: none;
        background-image: url('../gfx/action-icons-custom.png');
        width: @gfx-action-icon-sprite-grid;
        height: @gfx-action-icon-sprite-grid;
    }

    .ui-icon-action-heart{background-position: @as-offset-x @gfx-action-icon-sprite-heart-y}
    .ui-icon-action-comment{background-position: @as-offset-x @gfx-action-icon-sprite-comment-y}
    .ui-icon-action-more{background-position: @as-offset-x @gfx-action-icon-sprite-more-y}

    &.selected,
    &.ui-btn-hover-d,
    &.ui-btn-down-d,
    &.ui-btn-active-d{
        .ui-icon-action-heart{background-position: @as-offset-x-hover @gfx-action-icon-sprite-heart-y}
        .ui-icon-action-comment{background-position: @as-offset-x-hover @gfx-action-icon-sprite-comment-y}
        .ui-icon-action-more{background-position: @as-offset-x-hover @gfx-action-icon-sprite-more-y}
    }
}

/* @dark-icons */
.dark-icons{
    .ui-btn{
        .ui-btn-inner{
            .ui-icon{
                   background-image: url('../gfx/action-icons-dark.png');
                   width: @gfx-action-darkicon-sprite-grid;
                   height: @gfx-action-darkicon-sprite-grid;
               }
               .ui-icon-settings,&.ui-icon-settings{background-position: @ad-offset-x @gfx-action-darkicon-sprite-settings-y;}
               .ui-icon-flag,&.ui-icon-flag{background-position: @ad-offset-x @gfx-action-darkicon-sprite-flag-y;}
               .ui-icon-delete,&.ui-icon-delete{background-position: @ad-offset-x @gfx-action-darkicon-sprite-delete-y;}
               .ui-icon-download,&.ui-icon-download{background-position: @ad-offset-x @gfx-action-darkicon-sprite-download-y;}
               .ui-icon-twitter,&.ui-icon-twitter{background-position: @ad-offset-x @gfx-action-darkicon-sprite-twitter-y;}
               .ui-icon-facebook,&.ui-icon-facebook{background-position: @ad-offset-x @gfx-action-darkicon-sprite-facebook-y;}
               .ui-icon-tumblr,&.ui-icon-tumblr{background-position: @ad-offset-x @gfx-action-darkicon-sprite-tumblr-y;}
               .ui-icon-foursquare,&.ui-icon-foursquare{background-position: @ad-offset-x @gfx-action-darkicon-sprite-foursquare-y;}
               .ui-icon-email,&.ui-icon-email{background-position: @ad-offset-x @gfx-action-darkicon-sprite-email-y;}
               .ui-icon-feed,&.ui-icon-feed{background-position: @ad-offset-x @gfx-action-darkicon-sprite-feed-y;}
               .ui-icon-grid,&.ui-icon-grid{background-position: @ad-offset-x @gfx-action-darkicon-sprite-grid-y;}
        }
    } 
}




.ui-bar{   
    
    .ui-icon{
        background-image: url('@{gfx}@{gfxBar}');
    }
     
    .ui-icon-open{background-position: @gfxBar-x @gfxBar-open-y;}
    .ui-icon-close{background-position: @gfxBar-x @gfxBar-close-y;}
    .ui-icon-arrowR{background-position: @gfxBar-x @gfxBar-arrowR-y;}
    .ui-icon-heart{background-position: @gfxBar-x @gfxBar-heart-y;}
    .ui-icon-venue{background-position: @gfxBar-x @gfxBar-venue-y;}
    .ui-icon-person{background-position: @gfxBar-x @gfxBar-person-y;}
    .ui-icon-search{background-position: @gfxBar-x @gfxBar-search-y;}
    .ui-icon-activity{background-position: @gfxBar-x @gfxBar-activity-y;}
    .ui-icon-location{background-position: @gfxBar-x @gfxBar-location-y;}
    .ui-icon-clock{background-position: @gfxBar-x @gfxBar-clock-y;}
    .ui-icon-connection{background-position: @gfxBar-x @gfxBar-clock-y;}
    .ui-icon-blog{background-position: @gfxBar-x @gfxBar-clock-y;}
    .ui-icon-comment{background-position: @gfxBar-x @gfxBar-clock-y;}
    .ui-icon-play{background-position: @gfxBar-x @gfxBar-play-y;}
    .ui-icon-refresh{background-position: @gfxBar-x @gfxBar-refresh-y;}
    
    .ui-icon-redheart{background-position: @gfxBar-x-d @gfxBar-heart-y;}
    
    &.ui-bar-a{

    }
}



.map-icons.ui-icon,
.map-icons .ui-icon{
    background-image: url('@{gfx}@{gfxMap}');
}
.map-icons{
    .ui-icon-mapTime, &.ui-icon-mapTime{background-position: @gfxMap-x @gfxMap-time-y;}
    .ui-icon-person-a, &.ui-icon-person-a{background-position: @gfxMap-x @gfxMap-person-y;}
    .ui-icon-search-a, &.ui-icon-search-a{background-position: @gfxMap-x @gfxMap-search-y;}
    .ui-icon-arrow-d, &.ui-icon-arrow-d{background-position: @gfxMap-x @gfxMap-arrowD-y;}
    .ui-icon-delete, &.ui-icon-delete{background-position: @gfxMap-x @gfxMap-delete-y;}
    .ui-icon-noImages, &.ui-icon-noImages{background-position: @gfxMap-x @gfxMap-noImages-y;}
}

.profile-icons.ui-icon,
.profile-icons .ui-icon{
    background-image: url('@{gfx}@{gfxProfile}');
}
.profile-icons{
    .ui-icon-feed,&.ui-icon-feed{background-position: @gfxProfile-x @gfxProfile-feed-y;}
    .ui-icon-favs,&.ui-icon-favs{background-position: @gfxProfile-x @gfxProfile-favs-y;}
    .ui-icon-link,&.ui-icon-link{background-position: @gfxProfile-x @gfxProfile-link-y;}
}


.feed-icons.ui-icon,
.feed-icons .ui-icon{
    background-image: url('@{gfx}@{gfxFeed}');
}
.feed-icons{
    .ui-icon-quote,&.ui-icon-quote{background-position: @gfxFeed-x @gfxFeed-quote-y;}
    .ui-icon-clocksmall,&.ui-icon-clocksmall{background-position: @gfxFeed-x @gfxFeed-time-y;}
    .ui-icon-venuesmall,&.ui-icon-venuesmall{background-position: @gfxFeed-x @gfxFeed-venue-y;}
}


.ui-icon.helper-icons,
.helper-icons .ui-icon{
    background-image: url('../gfx/helper-icons.png');
    width: @gfx-helper-icon-sprite-grid;
    height: @gfx-helper-icon-sprite-grid;
}





/* Small Colored Icons For Third Party Services */
.sharing-icon-small{
    background-color: lighten(@color-bg-neutral-light-tint, 10%);
    .corner-all(@corner-general-less-rounded);
    width: 22px;
    height: 22px;
    display: inline-block;
    .ui-icon{
        background-image: url('../gfx/share-icons-small.png');
        width: @gfx-small-sharing-icon-sprite-grid;
        height: @gfx-small-sharing-icon-sprite-grid;
        position: relative!important;
        display: block;
        top: 1px!important;
        left: 1px!important;
        margin: 0!important;
    }
    &.twitter-sharing{
       .ui-icon{background-position: @ss-offset-x @gfx-small-sharing-icon-sprite-twitter-y!important;}
       background-color: @color-bg-twitter-main;
        .box-shadow(inset 0 3px 20px @color-bg-twitter-main-tint);
    }
    &.facebook-sharing{
       .ui-icon{background-position: @ss-offset-x @gfx-small-sharing-icon-sprite-facebook-y!important;}
       background-color: @color-bg-facebook-main;
       .box-shadow(inset 0 3px 20px @color-bg-facebook-main-tint);
   }
   &.tumblr-sharing{
       .ui-icon{background-position: @ss-offset-x @gfx-small-sharing-icon-sprite-tumblr-y!important;}
       background-color: @color-bg-tumblr-main;
       .box-shadow(inset 0 3px 20px @color-bg-tumblr-main-tint);
   }
   &.foursquare-sharing{
       .ui-icon{background-position: @ss-offset-x @gfx-small-sharing-icon-sprite-foursquare-y!important;}
        background-color: @color-bg-foursquare-main;
        .box-shadow(inset 0 3px 20px @color-bg-foursquare-main-tint);
   }
}

/* @spot icons*/

/* default */
.ui-icon.spot-icon,
.category-btn .ui-icon{
    background-position: @si-cd-offset-x @gfx-spot-icon-y;
    background-image: url('../gfx/spot-icons.png');
    width: @gfx-spot-icon-sprite-grid;
    height: @gfx-spot-icon-sprite-grid;
    }
/* if parent class is set */
.great-outdoors{
    .category-btn .ui-icon,
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-great-outdoors-y}
} 
.shops {
    .category-btn .ui-icon,
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-shops-y}
}
.nightlife-spots{
    .category-btn .ui-icon, 
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-nightlife-spots-y}
}
.food {
    .category-btn .ui-icon,
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-food-y}
}
.arts-and-entertainment {
    .category-btn .ui-icon,
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-arts-and-entertainment-y}
}
.all-categories {
    .category-btn .ui-icon,
    .spot-icon{background-position: @si-cd-offset-x @gfx-spot-icon-all-categories-y}
}



/* dark icon */
.ui-icon.dark-spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-y;}
/* if parent class is set */
.great-outdoors .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-great-outdoors-y}
.shops .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-shops-y}
.nightlife-spots .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-nightlife-spots-y}
.food .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-food-y}
.arts-and-entertainment .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-arts-and-entertainment-y}
.all-categories .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-all-categories-y}

.beer .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-beer-y}
.cafe .dark-spot-icon.spot-icon{background-position: @si-e-offset-x @gfx-spot-icon-cafe-y}


/* Misc Spinner */
.ui-icon-spinner{
    .spinner();
    .spin();
}




