@font-face {
  font-family: 'MuseoSansRounded700';
  src: url('../fonts/museosansrounded-700-webfont.eot');
  src: url('../fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosansrounded-700-webfont.woff') format('woff'), url('../fonts/museosansrounded-700-webfont.ttf') format('truetype'), url('../fonts/museosansrounded-700-webfont.svg#MuseoSansRounded700') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* MASTER MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.ui-icon,
.ui-icon-searchfield:after {
  background-image: url('../gfx/general-jquerymob-icons.png');
  background-repeat: no-repeat;
}
.ui-icon-plus {
  background-position: 9px -72px;
}
.ui-icon-minus {
  background-position: -27px -72px;
}
.ui-icon-delete {
  background-position: -63px -72px;
}
.ui-icon-arrow-r {
  background-position: -99px -72px;
}
.ui-icon-arrow-l {
  background-position: -135px -72px;
}
.ui-icon-arrow-u {
  background-position: -171px -72px;
}
.ui-icon-arrow-d {
  background-position: -207px -72px;
}
.ui-icon-check {
  background-position: -243px -72px;
}
.ui-icon-gear {
  background-position: -279px -72px;
}
.ui-icon-refresh {
  background-position: -315px -72px;
}
.ui-icon-forward {
  background-position: -351px -72px;
}
.ui-icon-back {
  background-position: -387px -72px;
}
.ui-icon-grid {
  background-position: -423px -72px;
}
.ui-icon-star {
  background-position: -459px -72px;
}
.ui-icon-alert {
  background-position: -495px -72px;
}
.ui-icon-info {
  background-position: -531px -72px;
}
.ui-icon-home {
  background-position: -567px -72px;
}
.ui-icon-search,
.ui-icon-searchfield:after {
  background-position: -603px -72px;
}
.ui-icon-checkbox-off {
  background-position: -27px -72px;
}
.ui-icon-checkbox-on {
  background-position: -243px -144px;
}
.ui-icon-radio-off {
  background-position: -27px -72px;
}
.ui-icon-radio-on {
  background-position: -243px -144px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-search {
  background-position: 0px 0px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-home {
  background-position: 0px -40px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-delete {
  background-position: 0px -80px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-gear {
  background-position: 0px -120px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-location {
  background-position: 0px -160px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-camroll {
  background-position: 0px -200px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-camera {
  background-position: 0px -240px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-join {
  background-position: 0px -320px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-info {
  background-position: 0px -360px;
}
.ui-header .ui-btn-up-a .ui-btn-inner .ui-icon-map {
  background-position: 0px -400px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-search {
  background-position: -40px 0px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-home {
  background-position: -40px -40px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-delete {
  background-position: -40px -80px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-gear {
  background-position: -40px -120px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-location {
  background-position: -40px -160px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-camroll {
  background-position: -40px -200px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-camera {
  background-position: -40px -240px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-join {
  background-position: -40px -320px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-info {
  background-position: -40px -360px;
}
.ui-header .ui-btn-hover-a .ui-btn-inner .ui-icon-map {
  background-position: -40px -400px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-search {
  background-position: -80px 0px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-home {
  background-position: -80px -40px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-delete {
  background-position: -80px -80px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-gear {
  background-position: -80px -120px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-location {
  background-position: -80px -160px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-camroll {
  background-position: -80px -200px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-camera {
  background-position: -80px -240px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-join {
  background-position: -80px -320px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-info {
  background-position: -80px -360px;
}
.ui-header .ui-btn-up-b .ui-btn-inner .ui-icon-map {
  background-position: -80px -400px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-search {
  background-position: -120px 0px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-home {
  background-position: -120px -40px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-delete {
  background-position: -120px -80px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-gear {
  background-position: -120px -120px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-location {
  background-position: -120px -160px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-camroll {
  background-position: -120px -200px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-camera {
  background-position: -120px -240px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-join {
  background-position: -120px -320px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-info {
  background-position: -120px -360px;
}
.ui-header .ui-btn-hover-b .ui-btn-inner .ui-icon-map {
  background-position: -120px -400px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-search {
  background-position: -160px 0px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-home {
  background-position: -160px -40px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-delete {
  background-position: -160px -80px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-gear {
  background-position: -160px -120px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-location {
  background-position: -160px -160px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-camroll {
  background-position: -160px -200px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-camera {
  background-position: -160px -240px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-join {
  background-position: -160px -320px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-info {
  background-position: -160px -360px;
}
.ui-header .ui-btn-up-c .ui-btn-inner .ui-icon-map {
  background-position: -160px -400px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-search {
  background-position: -200px 0px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-home {
  background-position: -200px -40px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-delete {
  background-position: -200px -80px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-gear {
  background-position: -200px -120px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-location {
  background-position: -200px -160px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-camroll {
  background-position: -200px -200px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-camera {
  background-position: -200px -240px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-join {
  background-position: -200px -320px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-info {
  background-position: -200px -360px;
}
.ui-header .ui-btn-hover-c .ui-btn-inner .ui-icon-map {
  background-position: -200px -400px;
}
.tab-bar-icons .ui-icon {
  width: 32px;
  height: 32px;
  background-image: url('../gfx/tab-bar-icons.png');
}
.tab-bar-icons .ui-icon-dash {
  background-position: 0px 0px;
}
.tab-bar-icons .ui-icon-map {
  background-position: 0px -96px;
}
.tab-bar-icons .ui-icon-share {
  background-position: 0px -64px;
}
.tab-bar-icons .ui-icon-spots {
  background-position: 0px -128px;
}
.tab-bar-icons .ui-icon-popular {
  background-position: 0px -32px;
}
.tab-bar-icons .ui-icon-user {
  background-position: 0px -160px;
}
.tab-bar-icons .ui-btn-active .ui-icon-dash {
  background-position: -32px 0px;
}
.tab-bar-icons .ui-btn-active .ui-icon-map {
  background-position: -32px -96px;
}
.tab-bar-icons .ui-btn-active .ui-icon-share {
  background-position: -32px -64px;
}
.tab-bar-icons .ui-btn-active .ui-icon-spots {
  background-position: -32px -128px;
}
.tab-bar-icons .ui-btn-active .ui-icon-popular {
  background-position: -32px -32px;
}
.tab-bar-icons .ui-btn-active .ui-icon-user {
  background-position: -32px -160px;
}
.action-icons .ui-icon {
  background: none;
  background-image: url('../gfx/action-icons-custom.png');
  width: 40px;
  height: 40px;
}
.action-icons .ui-icon-heart {
  background-position: 0px 0px;
}
.action-icons .ui-icon-comment {
  background-position: 0px -40px;
}
.action-icons .ui-icon-more {
  background-position: 0px -120px;
}
.action-icons.selected .ui-icon-heart,
.action-icons.ui-btn-hover-d .ui-icon-heart,
.action-icons.ui-btn-down-d .ui-icon-heart,
.action-icons.ui-btn-active-d .ui-icon-heart {
  background-position: -40px 0px;
}
.action-icons.selected .ui-icon-comment,
.action-icons.ui-btn-hover-d .ui-icon-comment,
.action-icons.ui-btn-down-d .ui-icon-comment,
.action-icons.ui-btn-active-d .ui-icon-comment {
  background-position: -40px -40px;
}
.action-icons.selected .ui-icon-more,
.action-icons.ui-btn-hover-d .ui-icon-more,
.action-icons.ui-btn-down-d .ui-icon-more,
.action-icons.ui-btn-active-d .ui-icon-more {
  background-position: -40px -120px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon {
  background-image: url('../gfx/action-icons-dark.png');
  width: 40px;
  height: 40px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-gear,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-gear {
  background-position: 0px 0px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-flag,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-flag {
  background-position: 0px -40px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-delete,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-delete {
  background-position: 0px -80px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-download,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-download {
  background-position: 0px -120px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-twitter,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-twitter {
  background-position: 0px -160px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-facebook,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-facebook {
  background-position: 0px -200px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-tumblr,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-tumblr {
  background-position: 0px -240px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-foursquare,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-foursquare {
  background-position: 0px -280px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-email,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-email {
  background-position: 0px -320px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-feed,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-feed {
  background-position: 0px -360px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-grid,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-grid {
  background-position: 0px -400px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-spots,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-spots {
  background-position: 0px -440px;
}
.dark-icons .ui-btn .ui-btn-inner .ui-icon-photos,
.dark-icons .ui-btn .ui-btn-inner.ui-icon-photos {
  background-position: 0px -480px;
}
.dark-icons .ui-btn.ui-btn-active .ui-btn-inner .ui-icon-spots,
.dark-icons .ui-btn.ui-btn-active .ui-btn-inner.ui-icon-spots {
  background-position: -40px -440px;
}
.dark-icons .ui-btn.ui-btn-active .ui-btn-inner .ui-icon-photos,
.dark-icons .ui-btn.ui-btn-active .ui-btn-inner.ui-icon-photos {
  background-position: -40px -480px;
}
.ui-bar .ui-icon,
.ui-bar-icons .ui-icon,
.ui-bar.ui-icon,
.ui-bar-icons.ui-icon {
  background-image: url('../gfx/ui-bar-icons.png');
  width: 32px;
  height: 32px;
}
.ui-bar .ui-icon-open,
.ui-bar-icons .ui-icon-open,
.ui-bar.ui-icon-open,
.ui-bar-icons.ui-icon-open {
  background-position: 0 0px;
}
.ui-bar .ui-icon-closed,
.ui-bar-icons .ui-icon-closed,
.ui-bar.ui-icon-closed,
.ui-bar-icons.ui-icon-closed {
  background-position: 0 -32px;
}
.ui-bar .ui-icon-arrow-r,
.ui-bar-icons .ui-icon-arrow-r,
.ui-bar.ui-icon-arrow-r,
.ui-bar-icons.ui-icon-arrow-r {
  background-position: 0 -64px;
}
.ui-bar .ui-icon-heart,
.ui-bar-icons .ui-icon-heart,
.ui-bar.ui-icon-heart,
.ui-bar-icons.ui-icon-heart {
  background-position: 0 -96px;
}
.ui-bar .ui-icon-venue,
.ui-bar-icons .ui-icon-venue,
.ui-bar.ui-icon-venue,
.ui-bar-icons.ui-icon-venue {
  background-position: 0 -128px;
}
.ui-bar .ui-icon-person,
.ui-bar-icons .ui-icon-person,
.ui-bar.ui-icon-person,
.ui-bar-icons.ui-icon-person {
  background-position: 0 -160px;
}
.ui-bar .ui-icon-search,
.ui-bar-icons .ui-icon-search,
.ui-bar.ui-icon-search,
.ui-bar-icons.ui-icon-search {
  background-position: 0 -192px;
}
.ui-bar .ui-icon-activity,
.ui-bar-icons .ui-icon-activity,
.ui-bar.ui-icon-activity,
.ui-bar-icons.ui-icon-activity {
  background-position: 0 -224px;
}
.ui-bar .ui-icon-location,
.ui-bar-icons .ui-icon-location,
.ui-bar.ui-icon-location,
.ui-bar-icons.ui-icon-location {
  background-position: 0 -256px;
}
.ui-bar .ui-icon-clock,
.ui-bar-icons .ui-icon-clock,
.ui-bar.ui-icon-clock,
.ui-bar-icons.ui-icon-clock {
  background-position: 0 -288px;
}
.ui-bar .ui-icon-connection,
.ui-bar-icons .ui-icon-connection,
.ui-bar.ui-icon-connection,
.ui-bar-icons.ui-icon-connection {
  background-position: 0 -320px;
}
.ui-bar .ui-icon-blog,
.ui-bar-icons .ui-icon-blog,
.ui-bar.ui-icon-blog,
.ui-bar-icons.ui-icon-blog {
  background-position: 0 -352px;
}
.ui-bar .ui-icon-comment,
.ui-bar-icons .ui-icon-comment,
.ui-bar.ui-icon-comment,
.ui-bar-icons.ui-icon-comment {
  background-position: 0 -384px;
}
.ui-icon-play.ui-bar.ui-icon-play,
.ui-icon-play.ui-bar-icons.ui-icon-play {
  background-position: 0 -416px;
}
.ui-bar .ui-icon-refresh,
.ui-bar-icons .ui-icon-refresh,
.ui-bar.ui-icon-refresh,
.ui-bar-icons.ui-icon-refresh {
  background-position: 0 -448px;
}
.ui-bar .ui-icon-redheart,
.ui-bar-icons .ui-icon-redheart,
.ui-bar.ui-icon-redheart,
.ui-bar-icons.ui-icon-redheart {
  background-position: -96px -96px;
}
.ui-bar .ui-icon-info,
.ui-bar-icons .ui-icon-info,
.ui-bar.ui-icon-info,
.ui-bar-icons.ui-icon-info {
  background-position: 0 -480px;
}
.ui-bar.ui-bar-e .ui-icon-open,
.ui-bar-icons.ui-bar-e .ui-icon-open,
.ui-bar.ui-btn-up-e .ui-icon-open,
.ui-bar-icons.ui-btn-up-e .ui-icon-open,
.ui-bar.ui-btn-hover-e .ui-icon-open,
.ui-bar-icons.ui-btn-hover-e .ui-icon-open,
.ui-bar.ui-btn-down-e .ui-icon-open,
.ui-bar-icons.ui-btn-down-e .ui-icon-open,
.ui-bar.ui-bar-e.ui-icon-open,
.ui-bar-icons.ui-bar-e.ui-icon-open,
.ui-bar.ui-btn-up-e.ui-icon-open,
.ui-bar-icons.ui-btn-up-e.ui-icon-open,
.ui-bar.ui-btn-hover-e.ui-icon-open,
.ui-bar-icons.ui-btn-hover-e.ui-icon-open,
.ui-bar.ui-btn-down-e.ui-icon-open,
.ui-bar-icons.ui-btn-down-e.ui-icon-open {
  background-position: -128px 0px;
}
.ui-bar.ui-bar-e .ui-icon-closed,
.ui-bar-icons.ui-bar-e .ui-icon-closed,
.ui-bar.ui-btn-up-e .ui-icon-closed,
.ui-bar-icons.ui-btn-up-e .ui-icon-closed,
.ui-bar.ui-btn-hover-e .ui-icon-closed,
.ui-bar-icons.ui-btn-hover-e .ui-icon-closed,
.ui-bar.ui-btn-down-e .ui-icon-closed,
.ui-bar-icons.ui-btn-down-e .ui-icon-closed,
.ui-bar.ui-bar-e.ui-icon-closed,
.ui-bar-icons.ui-bar-e.ui-icon-closed,
.ui-bar.ui-btn-up-e.ui-icon-closed,
.ui-bar-icons.ui-btn-up-e.ui-icon-closed,
.ui-bar.ui-btn-hover-e.ui-icon-closed,
.ui-bar-icons.ui-btn-hover-e.ui-icon-closed,
.ui-bar.ui-btn-down-e.ui-icon-closed,
.ui-bar-icons.ui-btn-down-e.ui-icon-closed {
  background-position: -128px -32px;
}
.ui-bar.ui-bar-e .ui-icon-arrow-r,
.ui-bar-icons.ui-bar-e .ui-icon-arrow-r,
.ui-bar.ui-btn-up-e .ui-icon-arrow-r,
.ui-bar-icons.ui-btn-up-e .ui-icon-arrow-r,
.ui-bar.ui-btn-hover-e .ui-icon-arrow-r,
.ui-bar-icons.ui-btn-hover-e .ui-icon-arrow-r,
.ui-bar.ui-btn-down-e .ui-icon-arrow-r,
.ui-bar-icons.ui-btn-down-e .ui-icon-arrow-r,
.ui-bar.ui-bar-e.ui-icon-arrow-r,
.ui-bar-icons.ui-bar-e.ui-icon-arrow-r,
.ui-bar.ui-btn-up-e.ui-icon-arrow-r,
.ui-bar-icons.ui-btn-up-e.ui-icon-arrow-r,
.ui-bar.ui-btn-hover-e.ui-icon-arrow-r,
.ui-bar-icons.ui-btn-hover-e.ui-icon-arrow-r,
.ui-bar.ui-btn-down-e.ui-icon-arrow-r,
.ui-bar-icons.ui-btn-down-e.ui-icon-arrow-r {
  background-position: -128px -64px;
}
.ui-bar.ui-bar-e .ui-icon-heart,
.ui-bar-icons.ui-bar-e .ui-icon-heart,
.ui-bar.ui-btn-up-e .ui-icon-heart,
.ui-bar-icons.ui-btn-up-e .ui-icon-heart,
.ui-bar.ui-btn-hover-e .ui-icon-heart,
.ui-bar-icons.ui-btn-hover-e .ui-icon-heart,
.ui-bar.ui-btn-down-e .ui-icon-heart,
.ui-bar-icons.ui-btn-down-e .ui-icon-heart,
.ui-bar.ui-bar-e.ui-icon-heart,
.ui-bar-icons.ui-bar-e.ui-icon-heart,
.ui-bar.ui-btn-up-e.ui-icon-heart,
.ui-bar-icons.ui-btn-up-e.ui-icon-heart,
.ui-bar.ui-btn-hover-e.ui-icon-heart,
.ui-bar-icons.ui-btn-hover-e.ui-icon-heart,
.ui-bar.ui-btn-down-e.ui-icon-heart,
.ui-bar-icons.ui-btn-down-e.ui-icon-heart {
  background-position: -128px -96px;
}
.ui-bar.ui-bar-e .ui-icon-venue,
.ui-bar-icons.ui-bar-e .ui-icon-venue,
.ui-bar.ui-btn-up-e .ui-icon-venue,
.ui-bar-icons.ui-btn-up-e .ui-icon-venue,
.ui-bar.ui-btn-hover-e .ui-icon-venue,
.ui-bar-icons.ui-btn-hover-e .ui-icon-venue,
.ui-bar.ui-btn-down-e .ui-icon-venue,
.ui-bar-icons.ui-btn-down-e .ui-icon-venue,
.ui-bar.ui-bar-e.ui-icon-venue,
.ui-bar-icons.ui-bar-e.ui-icon-venue,
.ui-bar.ui-btn-up-e.ui-icon-venue,
.ui-bar-icons.ui-btn-up-e.ui-icon-venue,
.ui-bar.ui-btn-hover-e.ui-icon-venue,
.ui-bar-icons.ui-btn-hover-e.ui-icon-venue,
.ui-bar.ui-btn-down-e.ui-icon-venue,
.ui-bar-icons.ui-btn-down-e.ui-icon-venue {
  background-position: -128px -128px;
}
.ui-bar.ui-bar-e .ui-icon-person,
.ui-bar-icons.ui-bar-e .ui-icon-person,
.ui-bar.ui-btn-up-e .ui-icon-person,
.ui-bar-icons.ui-btn-up-e .ui-icon-person,
.ui-bar.ui-btn-hover-e .ui-icon-person,
.ui-bar-icons.ui-btn-hover-e .ui-icon-person,
.ui-bar.ui-btn-down-e .ui-icon-person,
.ui-bar-icons.ui-btn-down-e .ui-icon-person,
.ui-bar.ui-bar-e.ui-icon-person,
.ui-bar-icons.ui-bar-e.ui-icon-person,
.ui-bar.ui-btn-up-e.ui-icon-person,
.ui-bar-icons.ui-btn-up-e.ui-icon-person,
.ui-bar.ui-btn-hover-e.ui-icon-person,
.ui-bar-icons.ui-btn-hover-e.ui-icon-person,
.ui-bar.ui-btn-down-e.ui-icon-person,
.ui-bar-icons.ui-btn-down-e.ui-icon-person {
  background-position: -128px -160px;
}
.ui-bar.ui-bar-e .ui-icon-search,
.ui-bar-icons.ui-bar-e .ui-icon-search,
.ui-bar.ui-btn-up-e .ui-icon-search,
.ui-bar-icons.ui-btn-up-e .ui-icon-search,
.ui-bar.ui-btn-hover-e .ui-icon-search,
.ui-bar-icons.ui-btn-hover-e .ui-icon-search,
.ui-bar.ui-btn-down-e .ui-icon-search,
.ui-bar-icons.ui-btn-down-e .ui-icon-search,
.ui-bar.ui-bar-e.ui-icon-search,
.ui-bar-icons.ui-bar-e.ui-icon-search,
.ui-bar.ui-btn-up-e.ui-icon-search,
.ui-bar-icons.ui-btn-up-e.ui-icon-search,
.ui-bar.ui-btn-hover-e.ui-icon-search,
.ui-bar-icons.ui-btn-hover-e.ui-icon-search,
.ui-bar.ui-btn-down-e.ui-icon-search,
.ui-bar-icons.ui-btn-down-e.ui-icon-search {
  background-position: -128px -192px;
}
.ui-bar.ui-bar-e .ui-icon-activity,
.ui-bar-icons.ui-bar-e .ui-icon-activity,
.ui-bar.ui-btn-up-e .ui-icon-activity,
.ui-bar-icons.ui-btn-up-e .ui-icon-activity,
.ui-bar.ui-btn-hover-e .ui-icon-activity,
.ui-bar-icons.ui-btn-hover-e .ui-icon-activity,
.ui-bar.ui-btn-down-e .ui-icon-activity,
.ui-bar-icons.ui-btn-down-e .ui-icon-activity,
.ui-bar.ui-bar-e.ui-icon-activity,
.ui-bar-icons.ui-bar-e.ui-icon-activity,
.ui-bar.ui-btn-up-e.ui-icon-activity,
.ui-bar-icons.ui-btn-up-e.ui-icon-activity,
.ui-bar.ui-btn-hover-e.ui-icon-activity,
.ui-bar-icons.ui-btn-hover-e.ui-icon-activity,
.ui-bar.ui-btn-down-e.ui-icon-activity,
.ui-bar-icons.ui-btn-down-e.ui-icon-activity {
  background-position: -128px -224px;
}
.ui-bar.ui-bar-e .ui-icon-location,
.ui-bar-icons.ui-bar-e .ui-icon-location,
.ui-bar.ui-btn-up-e .ui-icon-location,
.ui-bar-icons.ui-btn-up-e .ui-icon-location,
.ui-bar.ui-btn-hover-e .ui-icon-location,
.ui-bar-icons.ui-btn-hover-e .ui-icon-location,
.ui-bar.ui-btn-down-e .ui-icon-location,
.ui-bar-icons.ui-btn-down-e .ui-icon-location,
.ui-bar.ui-bar-e.ui-icon-location,
.ui-bar-icons.ui-bar-e.ui-icon-location,
.ui-bar.ui-btn-up-e.ui-icon-location,
.ui-bar-icons.ui-btn-up-e.ui-icon-location,
.ui-bar.ui-btn-hover-e.ui-icon-location,
.ui-bar-icons.ui-btn-hover-e.ui-icon-location,
.ui-bar.ui-btn-down-e.ui-icon-location,
.ui-bar-icons.ui-btn-down-e.ui-icon-location {
  background-position: -128px -256px;
}
.ui-bar.ui-bar-e .ui-icon-clock,
.ui-bar-icons.ui-bar-e .ui-icon-clock,
.ui-bar.ui-btn-up-e .ui-icon-clock,
.ui-bar-icons.ui-btn-up-e .ui-icon-clock,
.ui-bar.ui-btn-hover-e .ui-icon-clock,
.ui-bar-icons.ui-btn-hover-e .ui-icon-clock,
.ui-bar.ui-btn-down-e .ui-icon-clock,
.ui-bar-icons.ui-btn-down-e .ui-icon-clock,
.ui-bar.ui-bar-e.ui-icon-clock,
.ui-bar-icons.ui-bar-e.ui-icon-clock,
.ui-bar.ui-btn-up-e.ui-icon-clock,
.ui-bar-icons.ui-btn-up-e.ui-icon-clock,
.ui-bar.ui-btn-hover-e.ui-icon-clock,
.ui-bar-icons.ui-btn-hover-e.ui-icon-clock,
.ui-bar.ui-btn-down-e.ui-icon-clock,
.ui-bar-icons.ui-btn-down-e.ui-icon-clock {
  background-position: -128px -288px;
}
.ui-bar.ui-bar-e .ui-icon-connection,
.ui-bar-icons.ui-bar-e .ui-icon-connection,
.ui-bar.ui-btn-up-e .ui-icon-connection,
.ui-bar-icons.ui-btn-up-e .ui-icon-connection,
.ui-bar.ui-btn-hover-e .ui-icon-connection,
.ui-bar-icons.ui-btn-hover-e .ui-icon-connection,
.ui-bar.ui-btn-down-e .ui-icon-connection,
.ui-bar-icons.ui-btn-down-e .ui-icon-connection,
.ui-bar.ui-bar-e.ui-icon-connection,
.ui-bar-icons.ui-bar-e.ui-icon-connection,
.ui-bar.ui-btn-up-e.ui-icon-connection,
.ui-bar-icons.ui-btn-up-e.ui-icon-connection,
.ui-bar.ui-btn-hover-e.ui-icon-connection,
.ui-bar-icons.ui-btn-hover-e.ui-icon-connection,
.ui-bar.ui-btn-down-e.ui-icon-connection,
.ui-bar-icons.ui-btn-down-e.ui-icon-connection {
  background-position: -128px -320px;
}
.ui-bar.ui-bar-e .ui-icon-blog,
.ui-bar-icons.ui-bar-e .ui-icon-blog,
.ui-bar.ui-btn-up-e .ui-icon-blog,
.ui-bar-icons.ui-btn-up-e .ui-icon-blog,
.ui-bar.ui-btn-hover-e .ui-icon-blog,
.ui-bar-icons.ui-btn-hover-e .ui-icon-blog,
.ui-bar.ui-btn-down-e .ui-icon-blog,
.ui-bar-icons.ui-btn-down-e .ui-icon-blog,
.ui-bar.ui-bar-e.ui-icon-blog,
.ui-bar-icons.ui-bar-e.ui-icon-blog,
.ui-bar.ui-btn-up-e.ui-icon-blog,
.ui-bar-icons.ui-btn-up-e.ui-icon-blog,
.ui-bar.ui-btn-hover-e.ui-icon-blog,
.ui-bar-icons.ui-btn-hover-e.ui-icon-blog,
.ui-bar.ui-btn-down-e.ui-icon-blog,
.ui-bar-icons.ui-btn-down-e.ui-icon-blog {
  background-position: -128px -352px;
}
.ui-bar.ui-bar-e .ui-icon-comment,
.ui-bar-icons.ui-bar-e .ui-icon-comment,
.ui-bar.ui-btn-up-e .ui-icon-comment,
.ui-bar-icons.ui-btn-up-e .ui-icon-comment,
.ui-bar.ui-btn-hover-e .ui-icon-comment,
.ui-bar-icons.ui-btn-hover-e .ui-icon-comment,
.ui-bar.ui-btn-down-e .ui-icon-comment,
.ui-bar-icons.ui-btn-down-e .ui-icon-comment,
.ui-bar.ui-bar-e.ui-icon-comment,
.ui-bar-icons.ui-bar-e.ui-icon-comment,
.ui-bar.ui-btn-up-e.ui-icon-comment,
.ui-bar-icons.ui-btn-up-e.ui-icon-comment,
.ui-bar.ui-btn-hover-e.ui-icon-comment,
.ui-bar-icons.ui-btn-hover-e.ui-icon-comment,
.ui-bar.ui-btn-down-e.ui-icon-comment,
.ui-bar-icons.ui-btn-down-e.ui-icon-comment {
  background-position: -128px -384px;
}
.ui-bar.ui-bar-e .ui-icon-play,
.ui-bar-icons.ui-bar-e .ui-icon-play,
.ui-bar.ui-btn-up-e .ui-icon-play,
.ui-bar-icons.ui-btn-up-e .ui-icon-play,
.ui-bar.ui-btn-hover-e .ui-icon-play,
.ui-bar-icons.ui-btn-hover-e .ui-icon-play,
.ui-bar.ui-btn-down-e .ui-icon-play,
.ui-bar-icons.ui-btn-down-e .ui-icon-play,
.ui-bar.ui-bar-e.ui-icon-play,
.ui-bar-icons.ui-bar-e.ui-icon-play,
.ui-bar.ui-btn-up-e.ui-icon-play,
.ui-bar-icons.ui-btn-up-e.ui-icon-play,
.ui-bar.ui-btn-hover-e.ui-icon-play,
.ui-bar-icons.ui-btn-hover-e.ui-icon-play,
.ui-bar.ui-btn-down-e.ui-icon-play,
.ui-bar-icons.ui-btn-down-e.ui-icon-play {
  background-position: -128px -416px;
}
.ui-bar.ui-bar-e .ui-icon-refresh,
.ui-bar-icons.ui-bar-e .ui-icon-refresh,
.ui-bar.ui-btn-up-e .ui-icon-refresh,
.ui-bar-icons.ui-btn-up-e .ui-icon-refresh,
.ui-bar.ui-btn-hover-e .ui-icon-refresh,
.ui-bar-icons.ui-btn-hover-e .ui-icon-refresh,
.ui-bar.ui-btn-down-e .ui-icon-refresh,
.ui-bar-icons.ui-btn-down-e .ui-icon-refresh,
.ui-bar.ui-bar-e.ui-icon-refresh,
.ui-bar-icons.ui-bar-e.ui-icon-refresh,
.ui-bar.ui-btn-up-e.ui-icon-refresh,
.ui-bar-icons.ui-btn-up-e.ui-icon-refresh,
.ui-bar.ui-btn-hover-e.ui-icon-refresh,
.ui-bar-icons.ui-btn-hover-e.ui-icon-refresh,
.ui-bar.ui-btn-down-e.ui-icon-refresh,
.ui-bar-icons.ui-btn-down-e.ui-icon-refresh {
  background-position: -128px -448px;
}
.ui-bar.ui-bar-e .ui-icon-redheart,
.ui-bar-icons.ui-bar-e .ui-icon-redheart,
.ui-bar.ui-btn-up-e .ui-icon-redheart,
.ui-bar-icons.ui-btn-up-e .ui-icon-redheart,
.ui-bar.ui-btn-hover-e .ui-icon-redheart,
.ui-bar-icons.ui-btn-hover-e .ui-icon-redheart,
.ui-bar.ui-btn-down-e .ui-icon-redheart,
.ui-bar-icons.ui-btn-down-e .ui-icon-redheart,
.ui-bar.ui-bar-e.ui-icon-redheart,
.ui-bar-icons.ui-bar-e.ui-icon-redheart,
.ui-bar.ui-btn-up-e.ui-icon-redheart,
.ui-bar-icons.ui-btn-up-e.ui-icon-redheart,
.ui-bar.ui-btn-hover-e.ui-icon-redheart,
.ui-bar-icons.ui-btn-hover-e.ui-icon-redheart,
.ui-bar.ui-btn-down-e.ui-icon-redheart,
.ui-bar-icons.ui-btn-down-e.ui-icon-redheart {
  background-position: -96px -96px;
}
.ui-bar.ui-bar-e .ui-icon-info,
.ui-bar-icons.ui-bar-e .ui-icon-info,
.ui-bar.ui-btn-up-e .ui-icon-info,
.ui-bar-icons.ui-btn-up-e .ui-icon-info,
.ui-bar.ui-btn-hover-e .ui-icon-info,
.ui-bar-icons.ui-btn-hover-e .ui-icon-info,
.ui-bar.ui-btn-down-e .ui-icon-info,
.ui-bar-icons.ui-btn-down-e .ui-icon-info,
.ui-bar.ui-bar-e.ui-icon-info,
.ui-bar-icons.ui-bar-e.ui-icon-info,
.ui-bar.ui-btn-up-e.ui-icon-info,
.ui-bar-icons.ui-btn-up-e.ui-icon-info,
.ui-bar.ui-btn-hover-e.ui-icon-info,
.ui-bar-icons.ui-btn-hover-e.ui-icon-info,
.ui-bar.ui-btn-down-e.ui-icon-info,
.ui-bar-icons.ui-btn-down-e.ui-icon-info {
  background-position: -128px -480px;
}
.ui-icon.tumblr-icon {
  background-image: url('../gfx/tumblr-post-icons.png');
  width: 24px !important;
  height: 24px !important;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-text {
  background-position: 0px 0px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-photo {
  background-position: 0px -24px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-quote {
  background-position: 0px -48px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-link {
  background-position: 0px -72px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-video {
  background-position: 0px -144px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-audio {
  background-position: 0px -120px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-chat {
  background-position: 0px -96px;
}
.feed-icons.ui-icon,
.feed-icons .ui-icon {
  background-image: url('../gfx/feed-icons.png');
}
.feed-icons .ui-icon-quote,
.feed-icons.ui-icon-quote {
  background-position: 0 0px;
}
.feed-icons .ui-icon-clocksmall,
.feed-icons.ui-icon-clocksmall {
  background-position: 0 -32px;
}
.feed-icons .ui-icon-venuesmall,
.feed-icons.ui-icon-venuesmall {
  background-position: 0 -64px;
}
.ui-icon.helper-icons,
.helper-icons .ui-icon {
  background-image: url('../gfx/helper-icons.png');
  width: 96px;
  height: 96px;
}
.s-share-icon-small {
  background-color: #f0f0ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.s-share-icon-small .ui-icon {
  background-image: url('../gfx/share-icons-small.png');
  width: 21px;
  height: 21px;
  position: relative!important;
  display: block;
  top: 1px!important;
  left: 1px!important;
  margin: 0!important;
}
.s-share-icon-small.s-twitter-sharing {
  background-color: #68d9ff;
  -webkit-box-shadow: inset 0 3px 20px #309dc2;
  -moz-box-shadow: inset 0 3px 20px #309dc2;
  box-shadow: inset 0 3px 20px #309dc2;
}
.s-share-icon-small.s-twitter-sharing .ui-icon {
  background-position: 0 0px !important;
}
.s-share-icon-small.s-facebook-sharing {
  background-color: #507ab8;
  -webkit-box-shadow: inset 0 3px 20px #2e5998;
  -moz-box-shadow: inset 0 3px 20px #2e5998;
  box-shadow: inset 0 3px 20px #2e5998;
}
.s-share-icon-small.s-facebook-sharing .ui-icon {
  background-position: 0 -21px !important;
}
.s-share-icon-small.s-tumblr-sharing {
  background-color: #5a687d;
  -webkit-box-shadow: inset 0 3px 20px #2c3c54;
  -moz-box-shadow: inset 0 3px 20px #2c3c54;
  box-shadow: inset 0 3px 20px #2c3c54;
}
.s-share-icon-small.s-tumblr-sharing .ui-icon {
  background-position: 0 -42px !important;
}
.s-share-icon-small.s-foursquare-sharing {
  background-color: #34a0ce;
  -webkit-box-shadow: inset 0 3px 20px #29708e;
  -moz-box-shadow: inset 0 3px 20px #29708e;
  box-shadow: inset 0 3px 20px #29708e;
}
.s-share-icon-small.s-foursquare-sharing .ui-icon {
  background-position: 0 -63px !important;
}
.ui-icon.spot-icon,
.s-category-btn .ui-icon {
  background-position: 0px 0px;
  background-image: url('../gfx/spot-icons.png');
  width: 24px;
  height: 24px;
}
.great-outdoors .s-category-btn .ui-icon,
.great-outdoors .spot-icon {
  background-position: 0px -24px;
}
.shops .s-category-btn .ui-icon,
.shops .spot-icon {
  background-position: 0px -48px;
}
.nightlife-spots .s-category-btn .ui-icon,
.nightlife-spots .spot-icon {
  background-position: 0px -96px;
}
.food .s-category-btn .ui-icon,
.food .spot-icon {
  background-position: 0px -120px;
}
.arts-and-entertainment .s-category-btn .ui-icon,
.arts-and-entertainment .spot-icon {
  background-position: 0px -144px;
}
.all-categories .s-category-btn .ui-icon,
.all-categories .spot-icon {
  background-position: 0px -192px;
}
.ui-icon.spot-icon-b {
  background-position: -48px 0px;
}
.great-outdoors .spot-icon-b.spot-icon {
  background-position: -48px -24px;
}
.shops .spot-icon-b.spot-icon {
  background-position: -48px -48px;
}
.nightlife-spots .spot-icon-b.spot-icon {
  background-position: -48px -96px;
}
.food .spot-icon-b.spot-icon {
  background-position: -48px -120px;
}
.arts-and-entertainment .spot-icon-b.spot-icon {
  background-position: -48px -144px;
}
.all-categories .spot-icon-b.spot-icon {
  background-position: -48px -192px;
}
.beer .spot-icon-b.spot-icon {
  background-position: -48px -96px;
}
.cafe .spot-icon-b.spot-icon {
  background-position: -48px -168px;
}
.ui-icon.dark-spot-icon {
  background-position: -48px 0px;
}
.great-outdoors .dark-spot-icon.spot-icon {
  background-position: -48px -24px;
}
.shops .dark-spot-icon.spot-icon {
  background-position: -48px -48px;
}
.nightlife-spots .dark-spot-icon.spot-icon {
  background-position: -48px -96px;
}
.food .dark-spot-icon.spot-icon {
  background-position: -48px -120px;
}
.arts-and-entertainment .dark-spot-icon.spot-icon {
  background-position: -48px -144px;
}
.all-categories .dark-spot-icon.spot-icon {
  background-position: -48px -192px;
}
.beer .dark-spot-icon.spot-icon {
  background-position: -48px -96px;
}
.cafe .dark-spot-icon.spot-icon {
  background-position: -48px -168px;
}
.ui-icon.distance-icon,
.s-distance-btn .ui-icon {
  background-position: 0px 0px;
  background-image: url('../gfx/distance-icons.png');
  width: 24px;
  height: 24px;
}
.distance-anywhere .s-distance-btn .ui-icon,
.distance-anywhere .distance-icon {
  background-position: 0px 0px;
}
.distance-1000 .s-distance-btn .ui-icon,
.distance-1000 .distance-icon {
  background-position: 0px -24px;
}
.distance-10000 .s-distance-btn .ui-icon,
.distance-10000 .distance-icon {
  background-position: 0px -48px;
}
.distance-50000 .s-distance-btn .ui-icon,
.distance-50000 .distance-icon {
  background-position: 0px -72px;
}
html {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.s-main-image {
  -webkit-touch-callout: default;
}
.image-caption,
user-details {
  -webkit-user-select: text;
}
input:focus {
  outline: none;
}
textarea {
  resize: none;
  min-height: 60px;
  overflow: hidden;
}
body {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000 !important;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
hr,
textarea,
input,
.ui-select {
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
}
ul,
ul li {
  list-style: none;
  padding: 0;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 0;
  clear: both;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  border-top: solid 1px #000000;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
  background-color: transparent;
  color: rgba(200, 200, 200, 0.3);
}
strong {
  font-weight: normal;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}
