// COMPETITION PAGE
// -------------------------
.competition {
	.awards-stream {
		margin: 4px 0;
		.award-stream {
			margin: 0;
			.x-thumb {
				overflow: hidden;
				border: @borderMediumOnLight;
				border-radius: @corners;
			}
		}
	}
	.ui-li-desc {
		white-space: normal;
	}
}