// @2X RES GFX
//---------------------

/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {
*/    .ui-icon,
    .ui-icon-searchfield:after{
        background-image: url('@{gfxRetina}@{gfxIcons}');  
        .background-size(@gfxIcons-width @gfxIcons-height);
    }
    .ui-header{
        .ui-icon{
            background-image: url('@{gfxRetina}@{gfxTopBar}');
            .background-size(@gfxTopBar-width @gfxTopBar-height);
        }
    }
    .tab-bar-icons{
        .ui-icon{
            background-image: url('@{gfxRetina}@{gfxTabBar}');
            .background-size(@gfxTabBar-width @gfxTabBar-height);        
        }
    }
    .action-icons{
        .ui-icon{
            background-image: url('@{gfxRetina}@{gfxAction}'); 
            .background-size(@gfxAction-width @gfxAction-height);
        }
    }
    .dark-icons{
        .ui-btn{
            .ui-btn-inner{
                .ui-icon{
                    background-image: url('@{gfxRetina}@{gfxDark}'); 
                    .background-size(@gfxDark-width @gfxDark-height);
                }
            }
        }
    }
    .ui-bar,
    .ui-bar-icons{   
        .ui-icon,
        &.ui-icon{
            background-image: url('@{gfxRetina}@{gfxBar}');
            .background-size(@gfxBar-width @gfxBar-height);
        }
    }
    .ui-icon.tumblr-icon{   
        background-image: url('@{gfxRetina}@{gfxTumblr}');
        .background-size(@gfxTumblr-width @gfxTumblr-height);
    }
    .feed-icons.ui-icon,
    .feed-icons .ui-icon{
        background-image: url('@{gfxRetina}@{gfxFeed}');
        .background-size(@gfxFeed-width @gfxFeed-height);
    }
    .ui-icon.helper-icons,
    .helper-icons .ui-icon{
        background-image: url('@{gfxRetina}@{gfxHelper}'); 
        .background-size(@gfxHelper-width @gfxHelper-height);   
    }
    .s-share-icon-small{
        .ui-icon{
            background-image: url('@{gfxRetina}@{gfxShareSmall}');
            .background-size(@gfxShareSmall-width @gfxShareSmall-height);   
        }
    }
    .ui-icon.spot-icon,
    .s-category-btn .ui-icon{
        background-image: url('@{gfxRetina}@{gfxSpot}'); 
        .background-size(@gfxSpot-width @gfxSpot-height);                                          
    }
    .ui-icon.distance-icon,
    .s-distance-btn .ui-icon{
        background-image: url('@{gfxRetina}@{gfxDistance}');
        .background-size(@gfxDistance-width @gfxDistance-height);                                          
    }
    .map-icons.ui-icon,
    .map-icons .ui-icon{
        background-image: url('@{gfxRetina}@{gfxMap}');
        .background-size(@gfxMap-width @gfxMap-height);                                              
    }
    .profile-icons.ui-icon,
    .profile-icons .ui-icon{
        background-image: url('@{gfxRetina}@{gfxProfile}');
        .background-size(@gfxProfile-width @gfxProfile-height);                                            
    }
    .ui-checkbox{
        .ui-icon{
            background-image: url('@{gfxRetina}@{gfxAction}');
            .background-size(@gfxAction-width @gfxAction-height);                                            
        }
    }
    .s-image-streams{
        .x-stream{       
            .s-load-more-inline{
                .ui-icon-refresh{
                    background-image: url('@{gfxRetina}@{gfxRefresh}');
                    .background-size(@gfxRefresh-width @gfxRefresh-height);                                            
                }
            }
            .x-loading,
            &.x-loading {
                .s-load-more-inline{
                    .ui-icon-refresh{
                        background-image: url('@{gfxRetina}@{gfxSpinner}');
                        .background-size(@gfxSpinner-width @gfxSpinner-height);                                                            
                    }
                }
            }
        }
    }
    .s-validate{
        .x-validating{
            .ui-icon-check{
                .spinner('@{gfxRetina}@{gfxSpinnerSmall}');
                .background-size(@gfxSpinnerSmall-width @gfxSpinnerSmall-height);                                            
            }
        }
    }
    .s-menu-main{
        .s-menu-btns{
            .ui-btn{
                background-image: url('@{gfxRetina}@{gfxMenu}');
                .background-size(@gfxMenu-width @gfxMenu-height);                                            
                .ui-icon{
                    background-image: url('@{gfxRetina}@{gfxMenu}');
                    .background-size(@gfxMenu-width @gfxMenu-height);                                            
                }
            }
            .ui-icon-big-arrow-d{
                background-image: url('@{gfxRetina}@{@gfxMenuArrow}');
                .background-size(@gfxMenuArrow-width @gfxMenuArrow-height);                                            
            }
        }
    }
    .s-menu-stream{
        &.x-loading{
            .ui-icon-arrow-r{
                .spinner('@{gfxRetina}@{gfxSpinnerSmallDark}');
            }
        }
    }
    .s-feed-header.s-inline-header{
        .s-user-icon-left{
            .s-icon-overlay{
                background-image: url('@{gfxRetina}@{gfxIconOverlay}');
                .background-size(@gfxIconOverlay-width @gfxIconOverlay-height);                                            
            }
        }
        .s-follow-btn{
            .ui-icon{
                background-image: url('@{gfxRetina}@{gfxIcons}');
                .background-size(@gfxIcons-width @gfxIcons-height);                                            
            }
        }
    }
    .s-dash-footer{
        .ui-btn-inner{
            .ui-icon{
                background-image: url('@{gfxRetina}@{gfxDash}');
                .background-size(@gfxDash-width @gfxDash-height);                                            
            }
        }
    }
    .s-share-photo{
        .s-upload-image-privacy{
            .ui-icon{
                background-image: url('@{gfxRetina}@{gfxAction}');
                .background-size(@gfxAction-width @gfxAction-height);                                                        
            }
        }
        .s-upload-image-sharing{
            .ui-icon{
                background-image: url('@{gfxRetina}@{gfxShare}');
                .background-size(@gfxShare-width @gfxShare-height);                                            
            }
        }
        .s-upload-image-location{
            .ui-btn {
                .ui-icon{
                    background-image: url('@{gfxRetina}@{gfxAction}');
                    .background-size(@gfxAction-width @gfxAction-height);                                            
                }
            }
        }
    }
    .ps-toolbar{
        .ps-toolbar-close{
            .ps-toolbar-content{
                background-image: url('@{gfxRetina}@{gfxIcons}');
                .background-size(@gfxIcons-width @gfxIcons-height);                                            

            }
        }
    }
    .ps-caption-bottom{
        .ps-caption-content{
            background-image: url('@{gfxRetina}@{gfxGallQuote}');
            .background-size(@gfxGallQuote-width @gfxGallQuote-height);                                            

            &::after{
                background-image: url('@{gfxRetina}@{gfxIcons}');
                .background-size(@gfxIcons-width @gfxIcons-height);                                            
            }
        }
    }
    div.ps-carousel-item-loading{
         background: url('@{gfx}@{gfxImageLoadDark}') no-repeat center center;
        .background-size(@gfxImageLoadDark-width @gfxImageLoadDark-height);                                            
    }
    .ui-loader{
        .ui-icon-loading {
            background-image: url('@{gfxRetina}@{gfxSpinner}');
            .background-size(@gfxSpinner-width @gfxSpinner-height);                                            
        }
    }
    .x-ajax-loading{
        .ui-btn-inner > .ui-icon{
            .spinner('@{gfxRetina}@{gfxSpinnerSmallDark}');
            .background-size(@gfxSpinnerSmallDark-width @gfxSpinnerSmallDark-height);                                            
        }
    }
    .ui-body-c .ui-listview,
    .s-image-actions,
    .dark-icons{
        .x-ajax-loading{
            .ui-btn-inner > .ui-icon{
                .spinner('@{gfxRetina}@{gfxSpinnerSmall}');
                .background-size(@gfxSpinnerSmall-width @gfxSpinnerSmall-height);                                            
            }
        }
    }
    .ui-icon-spinner{
        .spinner('@{gfxRetina}@{gfxSpinnerSmall}');
        .background-size(@gfxSpinnerSmall-width @gfxSpinnerSmall-height);                                            
    }
/*}*/


