//Global Icon Sprites Layouts


// Paths
// -------------------------
@gfx:                           '../gfx/';
@gfxRetina:                     '../gfx/retina/';
@gfxHDPI:                       '../gfx/hdpi/';

/* 
* Top Bar Icon Sprite - '../gfx/bar-icons.png'
*/
@gfx-main-icon-sprite-width: 240px;
@gfx-main-icon-sprite-height: 560px;
@gfx-main-icon-sprite-grid: 40px;
/* Vertical Layout of Icons */
@gfx-main-icon-sprite-search-icon-y:    -0 * @gfx-main-icon-sprite-grid; 
@gfx-main-icon-sprite-home-icon-y:      -1 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-close-icon-y:     -2 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-settings-icon-y:  -3 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-location-icon-y:  -4 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-camroll-icon-y:   -5 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-camera-icon-y:    -6 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-tick-icon-y:      -7 * @gfx-main-icon-sprite-grid;
@gfx-main-icon-sprite-join-icon-y:      -8 * @gfx-main-icon-sprite-grid;


/* Horizontal offsets for theme swatches / hover states */
@a-offset-x:                            -0 * @gfx-main-icon-sprite-grid;
@a-offset-x-hover:                      -1 * @gfx-main-icon-sprite-grid;
@b-offset-x:                            -2 * @gfx-main-icon-sprite-grid;
@b-offset-x-hover:                      -3 * @gfx-main-icon-sprite-grid;
@c-offset-x:                            -4 * @gfx-main-icon-sprite-grid;
@c-offset-x-hover:                      -5 * @gfx-main-icon-sprite-grid;


/*
* Menu Icon Sprite '../gfx/menu-icons.png'
*/
@gfx-menu-icon-sprite-width:    50px;
@gfx-menu-icon-sprite-height:   750px;
@gfx-menu-icon-sprite-grid:     50px;
/* Vertical Layout of Icons */
@gfx-menu-icon-sprite-camera-y:         -0 * @gfx-menu-icon-sprite-grid; 
@gfx-menu-icon-sprite-camera-lib-y:     -1 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-dashboard-y:      -2 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-feed-y:           -3 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-popular-y:        -4 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-map-y:            -5 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-my-account-y:     -6 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-cities-y:         -7 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-spots-y:          -8 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-info-y:           -9 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-activity-y:       -10 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-leaderboard-y:    -11 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-join-y:           -12 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-login-y:          -13 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-arrow-r-y:        -14 * @gfx-menu-icon-sprite-grid;
@gfx-menu-icon-sprite-tumblr-y:         -15 * @gfx-menu-icon-sprite-grid;

/* Horizontal offsets for theme swatches / hover states */
@mi-offset-x:                            -0 * @gfx-menu-icon-sprite-grid;


/*
* Tab Bar Icon Sprite '../gfx/tab-bar-icons.png'
*/
@gfx-tab-bar-sprite-width:    64px;
@gfx-tab-bar-sprite-height:   192px;
@gfx-tab-bar-sprite-grid:     32px;
/* Vertical Layout of Icons */
@gfx-tab-bar-sprite-dash-y:         -0 * @gfx-tab-bar-sprite-grid; 
@gfx-tab-bar-sprite-popular-y:      -1 * @gfx-tab-bar-sprite-grid;
@gfx-tab-bar-sprite-camera-y:       -2 * @gfx-tab-bar-sprite-grid;
@gfx-tab-bar-sprite-map-y:          -3 * @gfx-tab-bar-sprite-grid;
@gfx-tab-bar-sprite-spots-y:        -4 * @gfx-tab-bar-sprite-grid;
@gfx-tab-bar-sprite-user-y:         -5 * @gfx-tab-bar-sprite-grid;

/* Horizontal offsets for theme swatches / hover states */
@tb-offset-x:                       -0 * @gfx-tab-bar-sprite-grid;
@tb-offset-x-hover:                 -1 * @gfx-tab-bar-sprite-grid;


/*
* General JQuery Mob Icons '../gfx/general-jquerymob-icons'
*/
@gfx-general-icon-sprite-width: 774px;
@gfx-general-icon-sprite-height: 180px;
@gfx-general-icon-sprite-grid: 36px;
@gfx-general-icon-extra-x-offset: 9px;/*The jQuery mob sprite has the icons left aligned instead of centered.. */
/* Horizontal Layout of Icons (this one matches the default jQuery mobile horizontal sprite) */
@gfx-general-icon-sprite-plus-x:            -0 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset; 
@gfx-general-icon-sprite-minus-x:           -1 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset ;
@gfx-general-icon-sprite-delete-x:          -2 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-arrow-r-x:         -3 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-arrow-l-x:         -4 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset; 
@gfx-general-icon-sprite-arrow-u-x:         -5 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-arrow-d-x:         -6 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-check-x:           -7 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-gear-x:            -8 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset; 
@gfx-general-icon-sprite-refresh-x:         -9 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-forward-x:         -10 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-back-x:            -11 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-grid-x:            -12 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset; 
@gfx-general-icon-sprite-star-x:            -13 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-alert-x:           -14 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-info-x:            -15 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-home-x:            -16 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
@gfx-general-icon-sprite-search-x:          -17 * @gfx-general-icon-sprite-grid + @gfx-general-icon-extra-x-offset;
/* Horizontal offsets for theme swatches / hover states */
@g-light-offset-y:                          -0 * @gfx-general-icon-sprite-grid;
@g-med-offset-y:                            -1 * @gfx-general-icon-sprite-grid;
@g-dark-offset-y:                           -2 * @gfx-general-icon-sprite-grid;
@g-yellow-offset-y:                         -3 * @gfx-general-icon-sprite-grid;
@g-highlight-offset-y:                      -4 * @gfx-general-icon-sprite-grid;


/*
* Custom Action Icon Sprite '../gfx/action-icons-custom.png'
*/
@gfx-action-icon-sprite-width: 80px;
@gfx-action-icon-sprite-height: 440px;
@gfx-action-icon-sprite-grid: 40px;
/* Vertical Layout of Icons */
@gfx-action-icon-sprite-heart-y:        -0 * @gfx-action-icon-sprite-grid; 
@gfx-action-icon-sprite-comment-y:      -1 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-share-y:        -2 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-more-y:         -3 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-toggle-y:       -4 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-toggle-up-y:    -5 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-close-y:        -6 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-tick-y:         -7 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-arrow-right-y:  -8 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-venue-y:        -9 * @gfx-action-icon-sprite-grid;
@gfx-action-icon-sprite-location-y:     -10 * @gfx-action-icon-sprite-grid;
/* Horizontal offsets for theme swatches / hover states */
@as-offset-x:                            -0 * @gfx-action-icon-sprite-grid;
@as-offset-x-hover:                      -1 * @gfx-action-icon-sprite-grid;


/*
* Dark Action Icon Sprite '../gfx/action-icons-dark.png'
*/
@gfx-action-darkicon-sprite-width: 40px;
@gfx-action-darkicon-sprite-height: 480px;
@gfx-action-darkicon-sprite-grid: 40px;
/* Vertical Layout of Icons */
@gfx-action-darkicon-sprite-settings-y:     -0 * @gfx-action-darkicon-sprite-grid; 
@gfx-action-darkicon-sprite-flag-y:         -1 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-delete-y:       -2 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-download-y:     -3 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-twitter-y:      -4 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-facebook-y:     -5 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-tumblr-y:       -6 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-foursquare-y:   -7 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-email-y:        -8 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-feed-y:         -9 * @gfx-action-darkicon-sprite-grid;
@gfx-action-darkicon-sprite-grid-y:         -10 * @gfx-action-darkicon-sprite-grid;
/* Horizontal offsets for theme swatches / hover states */
@ad-offset-x:                            -0 * @gfx-action-darkicon-sprite-grid;


/*
* Large Sharing Icon Sprite '../gfx/share-icons-large.png'
*/
@gfx-large-sharing-icon-sprite-width: 84px;
@gfx-large-sharing-icon-sprite-height: 168px;
@gfx-large-sharing-icon-sprite-grid: 42px;
/* Vertical Layout of Icons */
@gfx-large-sharing-icon-sprite-twitter-y:       -0 * @gfx-large-sharing-icon-sprite-grid; 
@gfx-large-sharing-icon-sprite-facebook-y:      -1 * @gfx-large-sharing-icon-sprite-grid;
@gfx-large-sharing-icon-sprite-tumblr-y:        -2 * @gfx-large-sharing-icon-sprite-grid;
@gfx-large-sharing-icon-sprite-foursquare-y:    -3 * @gfx-large-sharing-icon-sprite-grid;
/* Horizontal offsets for theme swatches / hover states */
@ls-offset-x:                                   -0 * @gfx-large-sharing-icon-sprite-grid;
@ls-offset-x-hover:                             -1 * @gfx-large-sharing-icon-sprite-grid;


/*
* Small Sharing Sprite '../gfx/share-icons-small.png'
*/
@gfx-small-sharing-icon-sprite-width: 21px;
@gfx-small-sharing-icon-sprite-height: 84px;
@gfx-small-sharing-icon-sprite-grid: 21px;
/* Vertical Layout of Icons */
@gfx-small-sharing-icon-sprite-twitter-y:       -0 * @gfx-small-sharing-icon-sprite-grid; 
@gfx-small-sharing-icon-sprite-facebook-y:      -1 * @gfx-small-sharing-icon-sprite-grid;
@gfx-small-sharing-icon-sprite-tumblr-y:        -2 * @gfx-small-sharing-icon-sprite-grid;
@gfx-small-sharing-icon-sprite-foursquare-y:    -3 * @gfx-small-sharing-icon-sprite-grid;
/* Horizontal offsets for theme swatches / hover states */
@ss-offset-x: 0;



// UI Bar Icons
// -------------------------
@gfxBar:                'ui-bar-icons.png';
@gfxBar-width:          160px;
@gfxBar-height:         480px;
@gfxBar-grid:           32px;


@gfxBar-open-y:         -0 * @gfxBar-grid; 
@gfxBar-close-y:        -1 * @gfxBar-grid; 
@gfxBar-arrowR-y:       -2 * @gfxBar-grid; 
@gfxBar-heart-y:        -3 * @gfxBar-grid; 
@gfxBar-venue-y:        -4 * @gfxBar-grid; 
@gfxBar-person-y:       -5 * @gfxBar-grid;
@gfxBar-search-y:       -6 * @gfxBar-grid;
@gfxBar-activity-y:     -7 * @gfxBar-grid;
@gfxBar-location-y:     -8 * @gfxBar-grid; 
@gfxBar-clock-y:        -9 * @gfxBar-grid;
@gfxBar-connection-y:   -10 * @gfxBar-grid;
@gfxBar-blog-y:         -11 * @gfxBar-grid;
@gfxBar-comment-y:      -12 * @gfxBar-grid;
@gfxBar-play-y:         -13 * @gfxBar-grid;
@gfxBar-refresh-y:      -14 * @gfxBar-grid;


@gfxBar-x-a:            -0 * @gfxBar-grid;
@gfxBar-x-b:            -1 * @gfxBar-grid;
@gfxBar-x-c:            -2 * @gfxBar-grid;
@gfxBar-x-d:            -3 * @gfxBar-grid;
@gfxBar-x-e:            -4 * @gfxBar-grid;

@gfxBar-x:              0;

// Profile
// -------------------------

@gfxProfile:            'profile-icons.png';
@gfxProfile-width:      32px;
@gfxProfile-height:     96px;
@gfxProfile-grid:       32px;

@gfxProfile-feed-y:     -0 * @gfxProfile-grid;
@gfxProfile-favs-y:     -1 * @gfxProfile-grid;
@gfxProfile-link-y:     -2 * @gfxProfile-grid;

@gfxProfile-x: 0;


// Map
// -------------------------

@gfxMap:                'map-icons.png';
@gfxMap-width:          32px;
@gfxMap-height:         192px;
@gfxMap-grid:           32px;

@gfxMap-time-y:         -0 * @gfxMap-grid;
@gfxMap-person-y:       -1 * @gfxMap-grid;
@gfxMap-search-y:       -2 * @gfxMap-grid;
@gfxMap-arrowD-y:       -3 * @gfxMap-grid;
@gfxMap-delete-y:       -4 * @gfxMap-grid;
@gfxMap-noImages-y:     -5 * @gfxMap-grid;

@gfxMap-x:              0;


// Feed
// -------------------------

@gfxFeed:              'feed-icons.png';
@gfxFeed-width:         32px;
@gfxFeed-height:        96px;
@gfxFeed-grid:          32px;

@gfxFeed-quote-y:       -0 * @gfxFeed-grid;
@gfxFeed-time-y:        -1 * @gfxFeed-grid;
@gfxFeed-venue-y:       -2 * @gfxFeed-grid;

@gfxFeed-x:             0;


/*
* Helper Icons '../gfx/helper-icons.png'
*/
@gfx-helper-icon-sprite-width: 96px;
@gfx-helper-icon-sprite-height: 96px;
@gfx-helper-icon-sprite-grid: 96px;
/* Vertical Layout of Icons */
@gfx-helper-icon-sprite-dash-y:         -0 * @gfx-helper-icon-sprite-grid; 
/* Horizontal offsets for theme swatches / hover states */
@hi-offset-x: 0;


/*
* Dash Icons '../gfx/dash-icons.png'
*/
@gfx-dash-icon-sprite-width: 64px;
@gfx-dash-icon-sprite-height: 64px;
@gfx-dash-icon-sprite-grid: 32px;
/* Vertical Layout of Icons */
@gfx-dash-icon-sprite-person-y:         -0 * @gfx-dash-icon-sprite-grid; 
@gfx-dash-icon-sprite-search-y:         -1 * @gfx-dash-icon-sprite-grid; 
/* Horizontal offsets for theme swatches / hover states */
@di-offset-x: 0;




/*
* Linked services Logos '../gfx/service-full-logos.png'
*/
@gfx-service-logo-sprite-width: 150px;
@gfx-service-logo-sprite-height: 180px;
@gfx-service-logo-sprite-grid: 36px;
/* Vertical Layout of Icons */
@gfx-service-logo-twitter-y:                    -0 * @gfx-service-logo-sprite-grid; 
@gfx-service-logo-tumblr-y:                     -1 * @gfx-service-logo-sprite-grid; 
@gfx-service-logo-foursquare-y:                 -2 * @gfx-service-logo-sprite-grid; 
@gfx-service-logo-facebook-y:                   -3 * @gfx-service-logo-sprite-grid; 
@gfx-service-logo-snapr-y:                      -4 * @gfx-service-logo-sprite-grid; 

/* Horizontal offsets for theme swatches / hover states */
@ls-offset-x:                                   0;


/*
* Spot Icons '../gfx/dash-icons.png'
*/
@gfx-spot-icon-sprite-width: 72px;
@gfx-spot-icon-sprite-height: 216px;
@gfx-spot-icon-sprite-grid: 24px;
/* Vertical Layout of Icons */
@gfx-spot-icon-y:                           -0 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-great-outdoors-y:            -1 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-shops-y:                     -2 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-nightlife-spots-y:           -3 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-beer-y:                      -4 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-food-y:                      -5 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-arts-and-entertainment-y:    -6 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-cafe-y:                      -7 * @gfx-spot-icon-sprite-grid; 
@gfx-spot-icon-all-categories-y:            -8 * @gfx-spot-icon-sprite-grid; 
/* Horizontal offsets for theme swatches / hover states */
@si-cd-offset-x:    -0 * @gfx-spot-icon-sprite-grid;
@si-ab-offset-x:    -1 * @gfx-spot-icon-sprite-grid;
@si-e-offset-x:     -2 * @gfx-spot-icon-sprite-grid;


/*
* Pull to refresh '../gfx/pull-to-refresh.png'
*/
@gfx-refresh-sprite-width: 56px;
@gfx-refresh-sprite-height: 168px;
@gfx-refresh-sprite-grid: 56px;
/* Vertical Layout of Icons */
@gfx-refresh-sprite-left-y:         -0 * @gfx-refresh-sprite-grid; 
@gfx-refresh-sprite-right-y:        -1 * @gfx-refresh-sprite-grid; 
@gfx-refresh-sprite-refresh-y:      -2 * @gfx-refresh-sprite-grid; 

/* Horizontal offsets for theme swatches / hover states */
@ri-offset-x: 0;

