// JQUERY MOBILE THEME SWATCHES
//--------------------------

// A //
// The Dark (Black as Night) swatch, used for screens with black BGs
// ------------------------

// Set bgs

.ui-body-a{
    background: none;
    background-color: @black;
}

.ui-dialog.ui-overlay-a{
    background: none;
    background-color: @black!important;
}

.ui-body-d{
    .ui-body-a[data-role="content"]{
        background: none;
        background-color: @black;
        border-radius: @cornersPage;
        min-height: 412px;
    }
}

// Main Styles

.ui-body-a,
.ui-bar-a {
    color: @white;
    text-shadow: none;
    .ui-header,
    .ui-title{
        color: @white;
        text-shadow:0 -1px 1px #000;
        
    }
    .s-image-streams .x-stream .s-load-more-inline{
        background-color: darken(@blackTint, 5%);
    }
    .s-thumbs-grid-med .s-thumb-image,
    .grid #feed-images .s-thumb-image,
    .s-thumb-image{
        background-color: darken(@blackTint, 5%); 
    }
}

// Button Styles

.ui-btn-active{
    .button-font-bold();
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    text-shadow: 0 -1px 1px @shadowLighter;
}

.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-btn-active-a{
    .button-font-bold();
    border: @borderGrayDark;
    background: none;
    background-color: @black;
    color: @grayLight;
    text-shadow: @shadowBlack 0px 1px 1px;
    font-size: @fontSizeBtn;
    text-decoration: none;
    .box-shadow(inset 0 3px 20px @shadowBlack);
    &.ui-shadow{
        .box-shadow(inset 0 3px 20px @shadowBlack);
    }
    .ui-btn-inner{
        border:none;
    }
    a.ui-link-inherit {
        color: @grayLight;
    }
    &.ui-corner-left{.border-left-radius (@cornersRound);}
    &.ui-corner-right{.border-right-radius (@cornersRound);}
    &.ui-btn-corner-all{.border-radius (@cornersRound);}
}

.ui-btn-hover-a,
.ui-btn-down-a,
.ui-btn-active-a {
    border: @borderGray;
    color: @white;
}

// Tweak to A theme buttons for transparent BGs

.s-trans-bg{
    .ui-btn-up-a,
    .ui-input-search,
    .s-map-loading {
        border: none;
        border-bottom: @borderGray;
        background-color: @grayDarkBgTint;
        color: @grayLight;
        &.ui-shadow{
            .box-shadow(inset 0 3px 20px @shadowDarker);
        }
        .ui-btn-inner{
            border:none;
        }
    }
    .ui-btn-hover-a,
    .ui-btn-down-a,
    .ui-btn-active-a   {
        border: none;
        border-bottom: @borderGrayDark;
        color: @white;
        background: none;
        background-color: @grayDarkBg;
        &.ui-shadow{
            .box-shadow(inset 0 3px 20px @shadowDarker);
        }
        .ui-btn-inner{
            border:none;
        }
    }
}


// @A-HEADER
.ui-bar-a[data-role="header"]{
    .ui-btn-up-a,
    .ui-btn-hover-a,
    .ui-btn-down-a{
        background: none!important;
        border: none!important;
        .box-shadow(none)!important;
    }
}


// @B //
// The Dark (Textured Grey) swatch, used for title bars, dark btns on palletes
// -----------------------------

.ui-body-b{
    background: @black;
    background-image: @gfxBgDark;
    border: none;
}

.ui-bar-b{
    background: @grayDarkBg;
    color: @white;
    .linear-gradient(@grayDarkBg, @grayDarkBgTint);

   
    &.small-top-right-arrow::after{
        .arrow-left(8px, @grayDarkBg, 100%, 0);
    }
    a{
        color: @gray;
    }
    .ui-title{
        color: @gray;
    }
}

.ui-btn-up-b,
.ui-btn-up-b[data-rel="back"]::before,
.ui-btn-hover-b,
.ui-btn-hover-b[data-rel="back"]::before,
.ui-btn-down-b,
.ui-btn-down-b[data-rel="back"]::before,
.ui-btn-active-b,
.ui-btn-active-b[data-rel="back"]::before {
    border: @borderBlack;
    background: @grayDarkBg;
    color: @gray;
    text-shadow: @shadowBlack 0px -1px 1px;
    text-decoration: none;
    .linear-gradient(@grayDarkBg, @grayDarkBgTint);
    a.ui-link-inherit {
        color: @gray;
    }
    &.ui-shadow{
        .box-shadow( 0 1px 0 @shadowLighter);
    }
    &.ui-btn-active{
        background: none;
        .linear-gradient(black, @grayDarkBgTint);
    }
    &.bottom-centered-arrow::after{
        .arrow-up(@arrow-size, @grayDarkBg, 50%, 3px);
    }
}

.ui-btn-hover-b,
.ui-btn-hover-b[data-rel="back"]::before,
.ui-btn-active-b,
.ui-btn-active-b[data-rel="back"]::before{
    color: lighten(@gray, 3%);
    .ui-btn-text{
        color: lighten(@gray, 3%);
    }
    .linear-gradient(lighten(@grayDarkBg, 3%), lighten(@grayDarkBgTint, 3%));
   
    &.bottom-centered-arrow::after{
        .arrow-up(@arrow-size, lighten(@grayDarkBg, 3%), 50%, 3px);
    }
}

.ui-btn-down-b,
.ui-btn-down-b[data-rel="back"]::before{
    color: darken(@gray, 3%);
    .pressed-gradient(@grayDarkBgTint, 5%);
    .ui-btn-text{
        color: lighten(@gray, 3%);
    }
    &.ui-btn-active{
        background: none;
        .linear-gradient(black, @grayDarkBgTint);
    }
    &.bottom-centered-arrow::after{
        .arrow-up(@arrow-size, @grayDarkBgTint, 50%, 3px);
    }
}

// Tricky CSS iOS style Arrow back buttons - fiddle at your own peril
// CSS only back buttons based on work by Gregor Adams - http://dream-world.us/2011/11/30/the-best-pure-css3-ios-style-arrow-back-button/

div[data-role="header"].ui-bar-b{
    a[data-rel="back"]{
        display: block;
        .border-radius(5px);
        position: absolute;
        left: 16px;
        z-index: 2;
        width: auto;
        padding: 0 10px 0 6px;
        height: 30px;
        .ui-icon{
            display: none;
        }
        .ui-btn-inner{
            padding-left: 0;
            padding-right: 0;
            .ui-btn-text{
                max-width: 72px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }
    }
    a[data-rel="back"]::before {
        position: absolute;
        content: ' ';
        left: -9px;
        top: 2px;
        height: 24px;
        width: 24px;
        z-index: 3;
        .background-size(24px 24px);
        background-position: -1px -0.5px;
        -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
        .border-top-right-radius(10px);
        .border-top-left-radius(0px);
        .border-bottom-right-radius(0px);
        .border-bottom-left-radius(10px);
        -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.4,#000000), color-stop(0.5, transparent), to(transparent));
       
    }
}

.ui-bar-b{
    em{
        color: white;
    }
    .ui-btn-text{
        .image-tag{
            color: @grayLight;
        }
        .s-small-text{
            color: @gray;
        }
    }
    
}

// C //
// Standard light BG swatch, has subtle gray bg texture, used mainly for light colored dialog style views
// -----------------------------

// Set bg for dialog 

.ui-body-c {
    background: none;
    background-color: @grayLighter;
    background-image: @gfxBgLight;
    border: @borderGrayLighter;
    color: @grayDarker;
    text-shadow: 0 1px 1px @shadowWhite;      
}
.ui-dialog.ui-overlay-c{
    background: none;
    background-color: @grayLighter!important;
    background-image: @gfxBgLight!important;
    border: @borderGrayLighter;
    text-shadow: 0 1px 1px @shadowWhite;
    border:none;
}

// Main Styles

.ui-body-c {
    div[data-role="content"]{
        background-color: @grayLighter;
        background-image: @gfxBgLight;
        border: none;
        border-radius: @cornersPage;
        overflow: visible;
    }
    .ui-header{
        color: @grayDark;
        text-shadow: @shadowWhite 0px 1px 1px;
    }
    .ui-link,
    .ui-link:visited {
        color: @grayDarker;
        font-weight: normal;
    }
    .ui-input-search{
        background-color: white;
        background-image: none;
    }
    hr{
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        height: 0;
        clear: both;
        border: none;
        border-bottom: @borderWhite;
        border-top: @borderGrayLighter;
        font-size: 1px;
        line-height: 0;
        overflow: visible;
        background-color: transparent;
        color: @shadowGray;
    }
 
    // Grey Btns in body are slightly different 
    .ui-content{
        .ui-btn-up-c,
        .ui-btn-hover-c,
        .ui-btn-down-c,
        .ui-btn-active-c   {
            border: @borderGrayLight;
            &.ui-shadow{
                .box-shadow(none);
            }
        }
    }
}


// @C-BARS
.ui-bar-c{
    background: @white;
    .linear-gradient(@white, @grayLighter);
    a{
        color: @grayDarker;
    }
}

// @C-BUTTONS
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c{
    border: none;
    .button-font-bold();
    color: @grayDarker;
    text-shadow: @white 0px 1px 1px;
     text-decoration: none;
    a.ui-link-inherit {
        color: @grayDarker;
    }
    &.ui-shadow {
        .box-shadow(0 1px 4px lighten(@shadowDark, 20%));
    }
}
.ui-btn-up-c {
    background: @white;    
    .linear-gradient(@white, @grayLighter);
}
.ui-btn-hover-c {
    background: lighten(@blue, 10% );
    .linear-gradient(lighten(@white, 10%), lighten(@grayLighter, 10%));
}
.ui-btn-down-c {
    background: @white;
    .pressed-gradient(@white, 3%);
}


// @C-NAVBAR
.ui-body-c{
    &.ui-navbar{
        background: @white;
        .linear-gradient(@white, @grayLighter);
        .ui-btn{
            background: none!important;
        }
    }
}


// Tweak to C theme buttons for transparent BGs 
.s-trans-bg{
    .ui-btn-up-c {
        border: none;
        border-bottom: @borderWhite;
        background: none;
        background-color: @white;
        .box-shadow(inset 0 1px 4px @shadowGray);
        &.ui-shadow{
            .box-shadow(inset 0 1px 4px @shadowGray);
        }
        .ui-btn-inner{
            border:none;
        }
        .border-radius(@cornersRound);
        .ui-icon-delete{background-position: @gfxIcons-delete-x @gfxIcons-y-highlight;}
    }
    .ui-btn-hover-c,
    .ui-btn-down-c,
    .ui-btn-active-c {
        border: none;
        border-bottom: @borderWhite;
        background: none;
        background-color: darken(@white, 5%);

        .box-shadow(inset 0 1px 4px @shadowGray);
        &.ui-shadow{
            .box-shadow(inset 0 1px 4px @shadowGray);
        }
        .ui-btn-inner{
            border:none;
        }
        .border-radius(@cornersRound);
    }
}



// List hover effects are going to be a little bit different to normal buttons 
// and we are going to strip the hell out of them..

.ui-body-c > .ui-listview{
    background: none;
    &.ui-shadow{
        .box-shadow(none);
    }
    .border-radius(0);


    .ui-li,
    .ui-li-has-icon{
        padding: 0;
    }
    .ui-btn{
        border: none!important;
        background: none;
        &.ui-li{
            border-top: @borderGrayLighter!important;
            margin-bottom: 0;
            &:first-child{
                border-top: none!important;
            }
        }
    }
    .ui-btn-up-c {

    }
    .ui-btn-hover-c {
        background-color: rgba(255,255,255,.8);
    }
    .ui-btn-down-c,
    .ui-btn-active {
        background-color: transparent;
        .linear-gradient(rgba(255,255,255, 0), rgba(255,255,255,1));
    }

    // Put the border back on for people / venues lists because i like it there 
    &.people-list,
    &.venue-list,
    &.map-list{
        .ui-btn.ui-li:first-child{
            border-top: @borderGrayLighter!important;
        }
    }

    .ui-btn-inner{
        .ui-link-inherit{
            padding-top: @paddingElement * 2px!important;
            padding-bottom: @paddingElement * 2px!important;
            .button-font-light();
            
        }
    }
    .ui-li-has-icon{
        .ui-btn-inner{
            .ui-link-inherit{
                padding-top: @paddingElement!important;
                padding-bottom: @paddingElement + 2px!important;
            }
        }
    }

    .ui-li-icon{
        left: 0;
        top: @paddingElement;
    }

    .ui-li-heading{
        margin: 0 0 @paddingElement 0;
        font-weight: normal;
    }
    .ui-li-desc{
        margin: -8px 0 0 0;
        padding: 0;
        color: @gray;
    }
    .ui-li,
    .ui-li-link-alt{
        border-right: none!important;
        border-left: none!important;
    }

    //  Right hand buttons in split lists 
    .ui-li-link-alt{
        width: 44px;
        background: none;
        .ui-btn {
            border: none;
            width: 44px;
            height: 44px;
            top: 4px;
            right: 0;
            margin-top: 0;
            background: none;
            .ui-icon{
                margin-top: 0;
                top: 4px;
                right: 0;
            }
            .ui-icon-check{
                background-position: @gfxIcons-check-x @gfxIcons-y-color;
            }
            .ui-icon-plus{
                background-position: @gfxIcons-plus-x @gfxIcons-y-light;
            }
            .ui-icon-tick{
                background-position: @gfxIcons-check-x @gfxIcons-y-highlight;
            }
        }
    }

    &.venue-list{
        .ui-icon-arrow-r{
            display: none;
        }
    }
    .ui-icon-arrow-r {
        background-position: @gfxIcons-arrow-r-x @gfxIcons-y-med;
    }
}

// @C-HEADER
.ui-bar-c[data-role="header"]{
    .ui-btn-up-c,
    .ui-btn-hover-c,
    .ui-btn-down-c{
        background: none!important;
        border: none!important;
        .box-shadow(none)!important;
    }
}


// @D
// A white BG swatch with unstyled buttons. Used for most content pages.
// -------------------

// This darkcolor becomes the BG for the header
.ui-body-d[data-role="page"]{
    background: @black;
    background-image: @gfxBgDark;
    border-radius: @cornersPage;
    border-top: @borderGray;
    .box-sizing(border-box);
}

.ui-body-d {
    background: none;
    color: @grayDark;
    div[data-role="content"]{
        background-color: @white;
        background-image: none;
        border-radius: @cornersPage;
        min-height: 412px;
    }
    .ui-link,
    .ui-link:visited,
    .ui-link:hover,
    .ui-link:active {
        color: @grayDarker;
    }
    hr{
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        height: 0;
        clear: both;
        border: none;
        border-bottom: @borderWhite;
        border-top: @borderGrayLighter;
        font-size: 1px;
        line-height: 0;
        overflow: visible;
        background-color: transparent;
        color: @shadowGray;
    }

    .ui-listview{
        .ui-btn.ui-li{
            background: none;
            .button-font-light();
            font-size: @fontSizeBtn;
        }
    }
}







// @E
// YELLOW HIGHLIGHT SWATCH
// ------------------------


// @E-BARS
.ui-bar-e{
    background: @yellow;
    color: @grayDarker;
    text-shadow: @white 0px 1px 1px;
    .linear-gradient(@yellow, @yellowTint);
    a{
        color: @grayDarker;
    }
}

// @E-BUTTONS
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e{
    border: none;
    .button-font-bold();
    color: @grayDarker;
    text-shadow: @white 0px 1px 1px;
     text-decoration: none;
    a.ui-link-inherit {
        color: @grayDarker;
    }
    &.ui-shadow {
        .box-shadow(0 1px 4px lighten(@shadowDark, 20%));
    }
}
.ui-btn-up-e {
    background: @yellow;    
    .linear-gradient(@yellow, @yellowTint);
}
.ui-btn-hover-e {
    background: lighten(@yellow, 10% );
    .linear-gradient(lighten(@yellow, 10%), lighten(@yellowTint, 10%));
}
.ui-btn-down-e {
    background: @yellow;
    .pressed-gradient(@yellow, 3%);
}


// @E-NAVBAR
.ui-body-e{
    &.ui-navbar{
        background: @yellow;
        .linear-gradient(@yellow, @yellowTint);
        .ui-btn{
            background: none!important;
        }
    }
}




// @F
// BLUE HIGHLIGHT SWATCH
// ------------------------


// @F-BARS
.ui-bar-f{
    background: @blue;
    .linear-gradient(@blue, @blueTint);
    a{
        color: @grayDarker;
    }
}

// @F-BUTTONS
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f{
    border: none;
    .button-font-bold();
    color: @white;
    text-shadow: @grayDark 0px -1px 1px;
     text-decoration: none;
    a.ui-link-inherit {
        color: @white;
    }
    &.ui-shadow {
        .box-shadow(0 1px 4px lighten(@shadowDark, 20%));
    }
}
.ui-btn-up-f {
    background: @blue;    
    .linear-gradient(@blue, @blueTint);
}
.ui-btn-hover-f {
    background: lighten(@blue, 10% );
    .linear-gradient(lighten(@blue, 10%), lighten(@blueTint, 10%));
}
.ui-btn-down-f {
    background: @blue;
    .pressed-gradient(@blue, 3%);
}


// @F-NAVBAR
.ui-body-f{
    &.ui-navbar{
        background: @blue;
        .linear-gradient(@blue, @blueTint);
        .ui-btn{
            background: none!important;
        }
    }
}



// @G
// ORANGE HIGHLIGHT SWATCH
// ------------------------


// @G-BARS
.ui-bar-g{
    background: @orange;
    .linear-gradient(@orange, @orangeTint);
    a{
        color: @grayDarker;
    }
}

// @G-BUTTONS
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g{
    border: none;
    .button-font-bold();
    color: @grayDarker;
    text-shadow: @white 0px 1px 1px;
     text-decoration: none;
    a.ui-link-inherit {
        color: @grayDarker;
    }
    &.ui-shadow {
        .box-shadow(0 1px 4px lighten(@shadowDark, 20%));
    }
}
.ui-btn-up-g {
    background: @orange;    
    .linear-gradient(@orange, @orangeTint);
}
.ui-btn-hover-g {
    background: lighten(@orange, 10% );
    .linear-gradient(lighten(@orange, 10%), lighten(@orangeTint, 10%));
}
.ui-btn-down-g {
    background: @orange;
    .pressed-gradient(@orange, 3%);
}


// @G-NAVBAR
.ui-body-g{
    &.ui-navbar{
        background: @orange;
        .linear-gradient(@orange, @orangeTint);
        .ui-btn{
            background: none!important;
        }
    }
}




