//  SNAPR THEME VARIABLES
// -----------------------------


// Colors
// ------------------------
@snaprYellow:           #ffff00; 
@snaprYellowTint:       #ffe400;

@yellow:                @snaprYellow; 
@yellowTint:            @snaprYellowTint; 
@orange:                #ffcc00; 
@orangeTint:            #ff8400;
@blue:                  #4185f4; 
@blueTint:              #194fdc;
@green:                 green;
@greenTint:             darken(green,10%);
@red:                   green;
@redTint:               darken(red,10%);


// Grayscale
// -------------------------
@black:                 #000;
@blackTint:             #1e2122;
@blackTrans:            rgba(0, 0, 0, .6);

@grayDarkBg:            #434748;
@grayDarkBgTint:        #26282a;

@grayDarker:            #474747;
@grayDark:              #666;
@gray:                  #999;
@grayLight:             #ccc;
@grayLighter:           #f7f7f7;

@grayLightBg:           #fbfbfb;
@grayLightBgTint:       #d3d3d3;

@whiteTint:             #d7d7d5;
@white:                 #fff;


// Other Colors
// -------------------------
@twitterBlue:           #68d9ff; 
@twitterBlueTint:       #309dc2;
@facebookBlue:          #507ab8; 
@facebookBlueTint:      #2e5998;
@tumblrBlue:            #5a687d; 
@tumblrBlueTint:        #2c3c54;
@foursquareBlue:        #34a0ce; 
@foursquareBlueTint:    #29708e;


// BG Textures
// -------------------------

@gfxBgLight:            url('../gfx/bg-texture-light.gif');
@gfxBgDark:             url('../gfx/bg-texture-dark.gif');


// Borders
// -------------------------

@borderLightOnLight:    solid 1px #fff;
@borderMediumOnLight:   solid 1px #e4e4e4;
@borderDarkOnLight:     solid 1px #cccccc;

@borderLightOnDark:     solid 1px rgba(255,255,255,.4);
@borderMediumOnDark:    solid 1px rgba(255,255,255,.1);
@borderDarkOnDark:      solid 1px #000;


// Shadows
// -------------------------

@shadowLighterOnLight:  rgba(0,0,0,.3);
@shadowLightOnLight:    rgba(255,255,255,.8);
@shadowMediumOnLight:   rgba(200,200,200,.3);
@shadowDarkOnLight:     #333333;

@shadowLightOnDark:     rgba(255,255,255,.2);
@shadowMediumOnDark:    rgba(0,0,0,.5);
@shadowDarkOnDark:      #000;



// Text Colors
// -------------------------

@gray:      #999999;
@grayDark:     #666666;
@grayDarker:       #474747;

@grayLight:       #cccccc;
@gray:      #999999;
@grayDark:        #666666;


// Fonts
// -------------------------

@font:                  Helvetica, Arial, sans-serif;
@font-special:          Helvetica, Arial, sans-serif; 
@font-buttons:          Helvetica, Arial, sans-serif;
@fontSerif:             Georgia,'Times New Roman', Times, sans-serif; 


@fontSize:             15px;
@fontSizeSmall:       12px;
@fontSizeUsername:    16px;
@txt-size-page-heading: @fontSizeUsername;
@fontSize-titleBar:    @fontSizeUsername;
@fontSize-btn:         @fontSizeUsername;
@fontSize-btnSmall:    @fontSizeSmall;
@fontSize-numberBig:   24px;



// Corners
// -------------------------

@corners:                6px;
@cornersRound:           20px;
@cornersPage:            8px;
@cornersGeneral:         6px; 
@cornersLessRound:       4px; 
@cornersNone:            0px; 


// Padding
// -------------------------

@padding:               4px;
@paddingElement:        @padding * 2;
@paddingFeed:           @padding * 2;
@paddingGrid:           4px;


// Arrows
// -------------------------

@arrow-size:            14px;
@arrow-offset:          36px;
@arrow-y-shift:         3px;


// Sizes
// -------------------------

@thumbSize:             101px;
@topBarHeight:          46px;
@topBarBtnHeight:       44px;

@tabBarHeight:          48px;

@avatarSize:            34px;
@avatarSizeMed:         50px;
@avatarSizeLarge:       100px;



