<!DOCTYPE html> 
<html> 
    <head> 
        <title>PINK</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        
        <script src="app/libs/json2.js" type="text/javascript" charset="utf-8"></script> <!-- just in case the browser sucks at JSON -->

        <script src="app/libs/jquery-1.7.1.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/libs/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/libs/jq.cookie.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript" charset="utf-8">
        snapr = {};
        snapr.redirect = '';
        snapr.models = {};
        snapr.views = {};
        snapr.base_url = "http://dev.sna.pr";
        snapr.api_base = snapr.base_url + "/api";
        snapr.access_token_url = snapr.base_url + "/ext/oauth/access_token/";

        // disable jquery-mobile's hash nav so we can replace it with backbone.js
        $(document).bind("mobileinit", function(){
            $.mobile.ajaxEnabled = false;
            $.mobile.pushStateEnabled = false;
            $.mobile.hashListeningEnabled = false;
            $.mobile.defaultPageTransition = 'none';

            $.mobile.fixedToolbars.setTouchToggleEnabled(false);

            // true fixed positioned headers still seem buggy so is disabled
            // $.mobile.touchOverflowEnabled = true;

            // hack to handle cases where we're going directly to a hash
            // we go to the home screen and re-trigger the navigate event
            snapr.redirect = window.location.hash.replace('#','')
            $(document).bind('snaprinit',function(){
                if(snapr.redirect.length){
                    console.warn('redirect to',snapr.redirect)
                    Route.navigate(snapr.redirect, true);
                }
            });

        });
        </script>

        <script src="app/libs/jquery.mobile-1.0/jquery.mobile-1.0.js" type="text/javascript" charset="utf-8"></script>

        <script src="app/libs/klass.min.js" type="text/javascript" charset="utf-8"></script> <!-- used by photoswipe -->
        <script src="app/libs/code.photoswipe.jquery-3.0.0.js" type="text/javascript" charset="utf-8"></script> <!-- photoswipe -->

        <script src="app/libs/underscore.js" type="text/javascript" charset="utf-8"></script> <!-- required by backbone -->
        <script src="app/libs/backbone.js" type="text/javascript" charset="utf-8"></script> <!-- handles routing, models and sync -->

        <!-- backbone views -->
        <script src="app/views/home.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/login.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/upload.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/uploading.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/photo_edit.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/love_it.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/upload_settings.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/linked_service.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/linked_services.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/feed.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/pink_hearts.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/upload_progress_li.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/feed_list.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/views/feed_li.js" type="text/javascript" charset="utf-8"></script>

        <!-- backbone models -->
        <script src="app/models/auth.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/user.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/user_collection.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/user_settings.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/linked_service.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/photo.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/photo_collection.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/pink_photo.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/pink_photo_collection.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/comment.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/favorite.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/thumb.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/thumb_collection.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/reaction_collection.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/models/reaction.js" type="text/javascript" charset="utf-8"></script>
        <script src="app/snapr.js" type="text/javascript" charset="utf-8"></script>
        
        
        <link rel="stylesheet" href="app/libs/jquery.mobile-1.0/jquery.mobile.structure-1.0.css" type="text/css" charset="utf-8">
        <!-- <link href="css/theme.less" rel="stylesheet/less" type="text/css">
        <script src="app/libs/less.js" type="text/javascript" charset="utf-8"></script> -->
        <link rel="stylesheet" href="css/theme.css" type="text/css" charset="utf-8">
        
        
        <!-- <link rel="stylesheet" href="css/photoswipe.css" type="text/css" charset="utf-8"> -->
    </head> 
<body> 

    <!-- main menu / home page -->
    <div id="home" data-title="PINK Nation" data-role="page">
        <div data-role="header" class="PINK-native-title">
         <span class="PINK-header-logo"></span>  
            <h1></h1>
        </div>
        <div data-role="content">
            <h1 class="PINK-title acessibility-text">PINK Your Pics</h1>
            <ul data-role="listview" class="PINK-menu-list">
            
                <li class="home-photo"><a class="x-launch-camera"><span class="PINK-menu-icon icon ui-li-icon"></span>Take a photo</a></li>
                <li class="home-roll"><a class="x-launch-photo-library"><span class="PINK-menu-icon icon ui-li-icon"></span>Choose an existing image</a></li>
                <li class="home-featured"><a data-ajax="false" href="#/feed/"><span class="PINK-menu-icon icon ui-li-icon"></span>See featured pics</a></li>
                <li class="home-pink-hearts"><a data-ajax="false" href="#/pink-hearts/" class="acessibility-text PINK-hearts-menu-btn">Pink Hearts - Explore images that inspire us</a></li>
            </ul>
        </div><!-- /content -->
    </div><!-- /page -->

    <!-- no templates for #home -->


    <!-- list currently linked services and add new ones -->
    <div id="linked-services" data-title="Linked Services" data-add-back-btn="true" data-role="dialog">
        <div data-role="header">
            <h1>Linked Services</h1>
        </div>
        <div data-role="content">
            <div class="services-content">
                <h2 class="tolink-message"></h2>
                <h4>Services to Link</h4>
                <div class="add-services">
                </div>
                <h4>Linked Services</h4>
                <div class="linked-services">
                </div>
            </div>
        </div>
    </div>

    <!-- template for linking a service in #linked-services -->
    <script id="add-linked-service-template" type="text/template">
    <div data-role="collapsible" data-collapsed="true">
    <% switch(provider) { case 'twitter': %>
        <h3>Link Twitter</h3>
        <fieldset data-role="controlgroup">
        </fieldset>
        <button data-inline="true" data-theme="b" class="link-service">Link</button>
    <% break; case 'foursquare': %>
        <h3>Link Foursquare</h3>
        <fieldset data-role="controlgroup">
        </fieldset>
        <button data-inline="true" data-theme="b" class="link-service">Link</button>
    <% break; case 'tumblr': %>
        <h3>Link Tumblr</h3>
        <form class="tumblr-form" action="javascript:void(0)">
            <fieldset data-role="controlgroup">
                <label>Email:<input type="text" id="tumblr-email" /></label>
                <label>Password:<input type="password" id="tumblr-password" /></label>
            </fieldset>
            <input type=submit data-inline="true" data-theme="b" class="link-service" value="Link" />
        </form>
    <% break; case 'facebook': %>
        <h3>Link Facebook</h3>
        <fieldset data-role="controlgroup">
        </fieldset>
        <button data-inline="true" data-theme="b" class="link-service">Link</button>
    <% break; } %>
    </div>
    </script>

    <!-- template for showing a linked service in #linked-services -->
    <script id="linked-service-template" type="text/template">
        <div data-role="collapsible" data-collapsed="true">
        <% switch(service.provider) { case 'twitter': %>
            <h3>Twitter - <%= service.get('username') %></h3>
            <fieldset data-role="controlgroup">

                <button class="twitter-import-profile">Import Profile</button>

                <input type="checkbox" name="twitter-link" id="twitter-link" class="custom" 
                <% if(service.get('show_username')){%> checked="true" <%}%> />
                <label for="twitter-link">Link to my profile from Snapr</label>

                <input type="checkbox" name="twitter-tweet" id="twitter-tweet" class="custom"
                <% if(service.get('allow_tweet')){%> checked="true" <%}%> />
                <label for="twitter-tweet">Allow tweets from Snapr</label>

            </fieldset>
        <% break; case 'foursquare': %>
            <h3>Foursquare - <%= service.get('username') %></h3>
            <fieldset data-role="controlgroup">

                <input type="checkbox" name="foursquare-link" id="foursquare-link" class="custom" 
                <% if(service.get('show_username')){%> checked="true" <%}%> />
                <label for="foursquare-link">Display my foursquare username</label>

                <input type="checkbox" name="foursquare-checkin" id="foursquare-checkin" class="custom" 
                <% if(service.get('allow_checkin')){%> checked="true" <%}%> />
                <label for="foursquare-checkin">Allow checkins from Snapr</label>

            </fieldset>
        <% break; case 'tumblr': %>
            <h3>Tumblr - <%= service.get('username') %></h3>
            <fieldset data-role="controlgroup">

                <input type="checkbox" name="tumblr-link" id="tumblr-link" class="custom" 
                <% if(service.get('show_username')){%> checked="true" <%}%> />
                <label for="tumblr-link">Display my Tumblr username</label>

                <input type="checkbox" name="tumblr-post" id="tumblr-post" class="custom" 
                <% if(service.get('allow_post')){%> checked="true" <%}%> />
                <label for="tumblr-post">Allow posts from Snapr</label>

            </fieldset>
        <% break; case 'facebook': %>
            <h3>Facebook - <%= service.get('username') %></h3>
            <fieldset data-role="controlgroup">

                <input type="checkbox" name="facebook-link" id="facebook-link" class="custom" 
                <% if(service.get('show_profile_link')){%> checked="true" <%}%> />
                <label for="facebook-link">Link to my profile from Snapr</label>

                <input type="checkbox" name="facebook-newsfeed" id="facebook-newsfeed" class="custom"
                <% if(service.get('allow_newsfeed_posts')){%> checked="true" <%}%> />
                <label for="facebook-newsfeed">Allow newsfeed posts from Snapr</label>

                <input type="checkbox" name="facebook-gallery" id="facebook-gallery" class="custom"
                <% if(service.get('allow_gallery_posts')){%> checked="true" <%}%> />
                <label for="facebook-gallery">Allow newsfeed posts from Snapr</label>

            </fieldset>
            <fieldset data-role="controlgroup">

                <label for="facebook-gallery-name">Gallery Name</label>
                <input type="text" name="facebook-gallery-name" id="facebook-gallery-name" class="custom"
                value="<%= service.get('gallery_name') %>" />

            </fieldset>
        <% break; } %>
            <button data-inline="true" class="unlink">Unlink</button><button data-inline="true" data-theme="b" class="save">Save</button>
        </div>
    </script>


    <!-- show images in a feed view -->
    <div id="feed" data-role="page" data-add-back-btn="true">
        <div data-role="header">
            
            <h1></h1>
          
        	
        </div>
        <div class="feed-content" data-role="content">
            <!-- <ul>
                <li class="pink-header">
                    <form action="javascript:void(0);">
                        <select name="pink-select" id="pink-select">
                            <option value="cell">All</option>
                            <option value="love">Love</option>
                            <option value="fashion_show">Fashion</option>
                            <option value="travel">Travel</option>
                            <option value="puppies">Puppies</option>
                            <option value="models">Models</option>
                            <option value="bling">Bling</option>
                            <option value="pink">PINK</option>
                        </select>
                    </form>
                </li>
            </ul> -->
            <ul class="gallery">
            </ul>
        </div>
        <div class="load-more">
            <button class="more ui-btn-right" data-theme="b">More</button>
        </div>
    </div><!-- /page -->

    <!-- template for list items within #feed -->
    <script id="feed-li-list-template" type="text/template">
    <li class="feed-li">
        <div>
            <div class="image-frame">
            <img style="width:100%;height:<%= snapr.utils.get_photo_height(item.get('width'), item.get('height'), '#feed .ui-content') %>px;" src="https://s3.amazonaws.com/media-server<%= item.get('server_id') %>.snapr.us/lrg/<%= item.get('secret') %>/<%= item.get('id') %>.jpg" alt="<%= item.get('description') %>" class="main-image" />
            </div>

            <!-- gallery version below -->
            <!-- <a href="https://s3.amazonaws.com/media-server<%= item.get('server_id') %>.snapr.us/lrg/<%= item.get('secret') %>/<%= item.get('id') %>.jpg" rel="external" class="gallery_link"><img style="width:100%;height:<%= snapr.utils.get_photo_height(item.get('width'), item.get('height'), '#feed .ui-content') %>px;" src="https://s3.amazonaws.com/media-server<%= item.get('server_id') %>.snapr.us/lrg/<%= item.get('secret') %>/<%= item.get('id') %>.jpg" alt="<%= item.get('description') %>" class="thumb-image" /></a> -->

            <div class="image-caption"><%= item.get('description') %></div>
            <div class="user-details">By <%= item.get('username') %><% if (item.get("location").location){%><%= item.get("location").location.split(",")[0] || item.get("location").location %><% } %></div>
        </div>
    </li>
    </script>

    <script id="feed-li-list-pink-template" type="text/template">
    <li class="feed-li">
        <div>
            <div class="image-frame">
            <img style="width:100%;height:<%= snapr.utils.get_photo_height(item.get('width'), item.get('height'), '#feed .ui-content') %>px;" src="http://pink.victoriassecret.com/<%= item.get('mobileFilePath') %>" alt="<%= item.get('description') %>" class="main-image" />
            </div>

            <div class="image-caption"><%= item.get('description') %></div>
        </div>
    </li>
    </script>


    <!-- pink-hearts iframe -->
    <div id="pink-hearts" data-role="page" data-add-back-btn="true">
        <div data-role="header">
            <h1>Pink Hearts</h1>
        </div>
        <div class="iframe-content">
            
        </div>
    </div><!-- /page -->


    <!-- log in as a snapr user (for testing - go to #/login/) -->
    <div id="login" data-add-back-btn="true" data-role="dialog">
        <div data-role="header">
            <h1>Log in</h1>
        </div>
        <div data-role="content">
            <div class="login-message"></div>
            <form action="javascript: void(0);" accept-charset="utf-8" id="login-dialog">
                <fieldset>
                    <label for="username">Username</label><input type="text" name="username" placeholder="  " autocapitalize="off" autocorrect="off" id="login-dialog-username">
                    <label for="password">Password</label><input type="password" name="password" placeholder="  " id="login-dialog-password">
                    <input type="submit" name="login" data-theme="b" value="Log In">
                </fieldset>
            </form>

            <!-- <p>Log in with:</p>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-role="button" data-theme="c">Twitter</a></li>
                    <li><a href="#" data-role="button" data-theme="c">Facebook</a></li>
                </ul>
            </div> -->
            
            <ul data-role="listview" data-theme="c" data-inset="true">
                <li><a href="#/join/" data-ajax="false">Join Snapr</a></li>
                <!-- <li><a href="#">Forgot your username or password?</a></li> -->
            </ul>
        </div>
    </div><!-- /page -->

    <!-- no templates for #login -->


    <!-- upload form for web-based uploading/testing (go to #/upload/) -->
    <div id="upload" data-role="page">
        <div data-role="header">
            <h1>Upload</h1>
            
            <a href="#/" data-ajax="false" data-role="button" data-icon="home" data-iconpos="notext"></a>
            
        </div>
        <div data-role="content" data-theme="c">
            <div data-role="fieldcontain">
                <form id="upload-form" action="javascript:void(0);" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="redirect_uri" id="redirect_uri"/>
                    <input type="hidden" name="device-time" id="device-time"/>
                    <input type="hidden" name="-set-later-" id="_access_token"/>
                    <input type="hidden" name="privacy" id="privacy" value="queued"/>
                    <input type="hidden" name="public_groups" id="public_groups" value="pink-nation-featured"/>
                    <label for="username">Select a photo to upload:</label>
                    <input type="file" name="photo" id="upload-file" />
                    
                    <span class="PINK-text-btn">
                    <input disabled="true" type="submit" value="Upload Snap" id="upload-submit" data-theme="e" />
                    </span>
                    
                 
                    
                </form>
            </div>
        </div>
    </div>

    <!-- no templates for #upload -->


    <!-- upload progress view (layout should match the #photo-edit view exactly) -->
    <div id="uploading" data-role="page">
        <div data-role="header">
            <a class="cancel-uploads" data-ajax="false" data-role="button">Cancel</a>
            <h1>Uploading</h1>
        </div>
        <div data-role="content">
            
        </div>
       
       
        </div>
        
    </div>

    <!-- template for #uploading content attached to upload progress li view -->
    <script id="uploading-template" type="text/template">
       <div class="upload-progress-container">
           <div class="PINK-upload-image upload-image">
               <div class="edit-image PINK-upload-image-thumb">
                   <img src="<%= img_url %>" />
               </div>
               
               <div class="upload-progress-container PINK-upload-image-info">
               <h2>Looking good!</h2>
               <div class="progress-bar <%= upload_status %>">
                   <div class="bar-bg bar">
                   </div>
                   <div class="bar-prog bar" style="width:<%= percent_complete %>%">
                   </div>
                   <p class="progress-count"><%= percent_complete %>%</p>
                   
               </div>
           </div>
          </div>
    </script>


    <!-- sharing setup / caption view -->
    <div id="photo-edit" data-role="page">
        <div data-role="header">
            <a href="#/" data-ajax="false" data-role="button">Cancel</a>
            <h1>Share</h1>
        </div>
        <div data-role="content">
        </div>
    </div>
    
    <!-- template for #photo-edit -->
    <script id="photo-edit-template" type="text/template">
        <form action="javascript: void(0);">
            <div class="PINK-upload-image">
                <div class="edit-image PINK-upload-image-thumb"></div>
                <div class="PINK-upload-image-info PINK-small-text">
                    <p class="share-message">Some pictures are too good to keep to yourself! Share this with Pink Nation for a chance to have it featured in our app.</p>
                    <textarea name="description" id="description" placeholder="Caption this!" style="display:none;"></textarea>
                </div>
            </div>
            <div data-role="controlgroup" data-type="horizontal" class="sharing-settings">
                <ul data-role="listview" data-inset="true" data-theme="c">
                    <li data-role="fieldcontain">
                      
                            <label for="facebook-sharing">Facebook</label>
                           
                            <div class="PINK-switch">
                                <select name="facebook-sharing" id="facebook-sharing" data-role="slider">
                                    <option value="off"  selected="true">Off</option>
                                    <option value="on">On</option>
                                </select>
                            </div>
                      
                    </li>
                    <li data-role="fieldcontain">
                            <label for="tumblr-sharing">Tumblr</label>
                     
                            <div class="PINK-switch">
                                <select name="tumblr-sharing" id="tumblr-sharing" data-role="slider">
                                    <option value="off" selected="true">Off</option>
                                    <option value="on">On</option>
                                </select>
                            </div>
                    </li>
                </ul>
                <ul data-role="listview" data-inset="true" data-theme="c">
                    <li data-role="fieldcontain">
                     
                            <label for="enter-girl-of-month">Send to PINK Nation</label>
                           
                            <div class="ui-block-b PINK-switch">
                                <select name="enter-girl-of-month" id="enter-girl-of-month" data-role="slider">
                                    <option value="off"  selected="true">Off</option>
                                    <option value="on">On</option>
                                </select>
                            </div>
                    </li>
                </ul>
            </div>
            
            <span class="PINK-text-btn">
                <input type="submit" data-role="button" data-theme="e" class="share" disabled="true" value="Share" />
            </span>
        </form>
        <a class="skip">Skip this step &raquo;</a>
    </script>

    <!-- template for .edit-image inside #photo-edit -->
    <script id="photo-edit-image-template" type="text/template">
        <img src="<%= img_url %>" />
    </script>


    <!-- landing page for successful image share/save -->
    <div id="love-it" data-role="page">
        <div data-role="content">
        </div>
    </div>

    <!-- template for #love-it -->
    <script id="love-it-template" type="text/template">
        <div class="PINK-love-it">
            <div class="image-frame">
            <img src="<%= img_url %>" style="height:<%= height %>;" alt="thumbnail" class="main-image">
            </div>
            <h2>Love it!</h2>
            <% if (shared){ %>
            <p>Your pic has been shared and saved<br/> to your phone&rsquo;s library</p>
            <% }else{ %>
                <p>Your pic has been saved to your<br/> phone&rsquo;s library</p>
            <% } %>
        </div>
      
            <a data-ajax="false" data-theme="b" data-role="button" class="PINK-text-btn x-launch-camera">Take another photo</a>
            <a data-ajax="false" data-theme="b" data-role="button" class="PINK-text-btn x-launch-photo-library">Choose an existing pic</a>
            <a data-ajax="false" data-theme="b" href="#/" data-role="button" class="PINK-text-btn">Pics home</a>
     
    </script>


<!-- end page content and templates -->


<!-- weinre script for remote debugging -->
<!-- <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script> -->

</body>
</html>