<div id="about" data-role="page" data-theme="f" data-tab-bar="false">
    <div data-role="header" data-theme="f">
        <h1><%= T('Info') %></h1>
        <a href="#/" class="ui-btn-right" data-ajax="false" data-role="button" data-icon="delete" data-iconpos="notext" data-transition="none"></a>
    </div>
    <div data-role="content" data-theme="f" data-ajax="false">
        <ul data-role="listview" data-ajax="false" class="wrap-text" data-inset="true" data-theme="a">
            <li>
                <h4 class="text-accent">About Snapr</h4>
                <p>Snapr brings together photos from a range of apps.</p>

                <p>Use Snapr&rsquo;s classic filter set, or find even more fun in titles like <a href="http://tuxedokittie.com">Tuxedo Kittie</a> and <a href="http://zombiegra.am">Zombiegram</a>.</p>
                
            </li>
           
        </ul>
    </div>
</div>
