<div id="about" data-role="page" data-theme="f" data-tab-bar="false">
    <div data-role="header" data-theme="f">
        <h1><%= T('Info') %></h1>
        <a href="#" data-theme="f" data-role="button" data-icon="delete" data-iconpos="notext" data-inline="true" class="ui-btn-right">Close</a>
    </div>
    <div data-role="content" data-theme="f" data-ajax="false">
        <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="a">
            <li>
                <h4 class="text-accent">Tuxedo Kittie</h4>
                <p>Custom Info</p>
                
            </li>
            <li>
                <a href="#/about-snapr/"><%= T('About') %> Snapr &rsaquo;</a>
            </li>
        </ul>
    </div>
</div>
