<div id="about" data-role="page" data-theme="f" data-tab-bar="false">
    <div data-role="header" data-theme="f">
        <h1><%= T('Info') %></h1>
        <a href="#/" class="ui-btn-right" data-ajax="false" data-role="button" data-icon="delete" data-iconpos="notext" data-transition="none"></a>
    </div>
    <div data-role="content" data-theme="f" data-ajax="false">
        <ul data-role="listview" data-ajax="false" class="wrap-text" data-inset="true" data-theme="a">
            <li>
                <h4 class="text-accent">Tuxedo Kittie</h4>
                <p>Give your feline friend a new sense of style!</p>

<p>Pick from fun themed outfits and accessories, snap on a super cool filter and miaow! You are ready to light up the interwaves.</p>

<p>Share photos to all your favourite social networks and find other kitties to adore.</p>
                
            </li>
            <li>
                <a href="#/about-snapr/"><%= T('About') %> Snapr &rsaquo;</a>
            </li>
        </ul>
    </div>
</div>
