<div class="s-map-point">

	<%
		var oneDay = 24*60*60*1000;
		var date = data.date_taken;
		date = new Date(date).getTime();
		var now = new Date().getTime();
		var diffDays = Math.floor(Math.abs((now - date)/(oneDay)));


		console.log(data);

		var ajax_options = _.extend( {}, {
		    url: config.get('api_base') + "/comments/",
		    dataType: "jsonp",
		    data: _.extend({}, auth.attributes, {
		        photo_id: data.id,
		        _method: "GET"
		    })
		});
		var response = $.ajax( ajax_options );
		console.log(response);






	%>
	
    <a href="#/photos/?photo_id=<%= data.id %>&n=1" class="s-map-thumb clickable <% if (diffDays > 3) { %> s-map-thumb-old <% } %>">
		<img src="https://s3.amazonaws.com/media-server<%= data.server_id %>.snapr.us/thm2/<%= data.secret %>/<%= data.id %>.jpg" <% if(data.description){ %>alt="<%= data.description %>"<% } %>>
	</a>

</div>
