<% if(item.get('status') == 'moderated'){ %>
    <p class="text-muted center">Image not found</p>
<% }else{ %>

<div class="s-image-area">
    <img style="height:<%= obj.height %>px;" src="https://s3.amazonaws.com/media-server<%= item.get('server_id') %>.snapr.us/lrg/<%= item.get('secret') %>/<%= item.get('id') %>.jpg" <% if(item.get('description')){ %>alt="<%= item.get('description') %>"<% } %> class="x-photo s-photo" />
    <div class="x-favorited-overlay s-favorited-overlay ui-corner-all"><span class="ui-icon ui-icon-large-heart"></span></div><!-- thing that shows up when you fav an image -->
</div>

<div class="s-image-details">

	<span class="s-time"><%= string_utils.short_timestamp(item.get_display_date(), true ) %></span>

    <div class="s-description"><%= string_utils.comment_links( item.get('description') ) %>
        <% if (item.has('location') && item.get('location').spot_id){%>
        <a class="s-spot x-goto-spot">
            @ <%= item.get('location').foursquare_venue_name %>
        </a>
        <%}%>
        <% if(config.get('app_group') == 'snapr' && item.has('app') && item.get('app').slug !== 'snapr'){ %>
            &mdash; via <a href="http://apps.sna.pr/<%= item.get('app').slug %>/" target="blank"><%= item.get('app').name %></a>
        <% }%>

    </div>

 	<% if(item.get('rating') >= 2){ %>
    <p class="s-featured s-icon-left"><span class="ui-icon ui-icon-star-empty"></span> <%= T('Featured', {context:"shout"}) %></p>
	<% } %>

    <% if(item.has('location') && item.get('location').location){ %>
        <a class="x-goto-map s-location text-muted" data-role="button" data-mini="true" data-theme="a" data-icon="location" data-iconpos="left" data-inline="true">
           <%= string_utils.short_location(item.get('location').location) %>
        </a>
    <% }%>




    <ul class="x-favorites s-likes">
        <% var favs = item.get('latest_favorites'), fav_count = item.get('favorite_count') %>
        <% if(fav_count == 0){ %>
            <!-- no likes -->
        <% }else if(fav_count == 1){ %>
            <li><a href="#/user/?username=<%= favs[0].user %>"><%= favs[0].user %></a> <%= T('likes this') %></li>
        <% }else if(fav_count < 10){ %>
            <li>
            <% _.each(favs, function(favorite, index){ %><a href="#/user/?username=<%= favorite.user %>"><%= favorite.user %></a><% if(index == fav_count-2){ %> &amp; <% }else if(index != fav_count-1){ %>, <% } %><% }) %> <%= T('like this') %></li>
        <% }else{ %>
            <li><a class="x-show-favorites"><%= fav_count %> <%= T('likes') %></a></li>
        <% } %>
    </ul>

    <ul class="x-comments s-comments">
        <% _.each(item.get('latest_comments'), function(comment){ %>
            <li><a><%= comment.user %></a> <%= string_utils.comment_links( comment.comment ) %></li>
        <% }) %>
        <% if(item.get('comments') > 10){ %><li><a class="x-show-comments"><%= T('Show more comments') %></a></li><% } %>
    </ul>

    <div class="s-action-buttons x-action-buttons">
        <!-- Like button -->
        <a data-role="button" data-theme="c" data-mini="true" data-inline="true" data-icon="heart" data-iconpos="notext" class="x-favorite <% if (item.get('favorite')){ %>ui-btn-active<% }%>">Like</a>

        <!-- Share button -->
        <a data-role="button" data-theme="c" data-mini="true" data-inline="true" data-icon="share" data-iconpos="notext" class="x-share-button">Share</a>

        <!-- Comment button -->
        <a data-role="button" data-theme="c" data-mini="true" data-inline="true" data-icon="comments" data-inline="true" data-iconpos="notext" class="x-comment-button">Comment</a>

        <!-- More button -->
        <% if (item.get("username") == auth.get("snapr_user") || config.get('moderation_controls')){ %>
            <a data-rel="popup" href="#more-menu-<%= item.cid %>" data-role="button" data-theme="a" data-mini="true" data-icon="large-more" data-inline="true" data-iconpos="notext" class="x-more-button s-more-button">More</a>
        <% } %>
    </div>

    <!-- reactions -->
    <div data-role="popup" class="x-reactions s-popup" data-theme="a" data-overlay-theme="b">
        <div class="x-header ui-header"></div>
        <ul class="x-list s-reactions-list" data-role="listview"></ul>
    </div>

    <!-- More menu -->
    <div data-role="popup" data-arrow="b" class="x-more-menu s-more-menu" data-theme="b" id="more-menu-<%= item.cid %>">
            <a class="aj-take" data-role="button" data-icon="hand-top" data-iconpos="notext" data-theme="b" data-inline="true">
               Delete
           </a>
            <a class="aj-untake" data-role="button" data-icon="hand-down" data-iconpos="notext" data-theme="b" data-inline="true">
               Delete
           </a>
        <% if (item.get("username") && item.get("username").toLowerCase() == (auth.get("snapr_user") || "").toLowerCase()){ %>
            <a class="x-delete" data-role="button" data-icon="trash" data-iconpos="notext" data-theme="b" data-inline="true">
               Delete
           </a>
        <%} else if(config.get('moderation_controls')){ %>
            <a class="x-flag" data-role="button" data-icon="flag" data-iconpos="notext" data-theme="b" data-inline="true">
                <% if (item.get('flagged')){%> flagged <% }else{ %> flag <% } %>
            </a>
        <%}%>
    </div>

</div>

<!-- share form -->
<div class="s-share-area x-share-menu hide">

    <form action="javascript:void(0);" accept-charset="utf-8">
        <div class="s-message-area">
            <textarea data-theme="a" name="comment-<%= item.get('id') %>" placeholder="<%= T('Type a message') %> " class="s-photo-share-comment"><% if(item.get('description')){ %>"<%= item.get('description') %>"<% } %></textarea>
            <% if (item.get("username") != auth.get("snapr_user")){ %><span class="s-shared-via"> &mdash; via <span class="s-username">@<%= item.get("username") %></span></span><br><% } %>
        </div>

        <fieldset data-role="controlgroup" data-type="<%=config.get('services_list')%>" class="s-image-sharing">
            
            <% if(_.contains(config.get('services'), 'twitter')){ %>
                <input type="checkbox" class="x-service-select" name="twitter" id="twitter-sharing" <% if(share_settings.twitter){ %>checked="checked"<% } %>/>
                <label for="twitter-sharing">
                    <span class="ui-icon ui-icon-social-twitter"></span>
                    <span class="s-service-text">Twitter</span>
                </label>
            <% } %>

            <% if(_.contains(config.get('services'), 'facebook')){ %>
                <input type="checkbox" class="x-service-select" name="facebook_album" id="facebook-sharing" <% if(share_settings.facebook_album){ %>checked="checked"<% } %>/>
                <label for="facebook-sharing">
                    <span class="ui-icon ui-icon-social-facebook"></span>
                    <span class="s-service-text">Facebook</span>
                </label>
            <% } %>

            <% if(_.contains(config.get('services'), 'tumblr')){ %>
                <input type="checkbox" class="x-service-select" name="tumblr" id="tumblr-sharing" <% if(share_settings.tumblr){ %>checked="checked"<% } %>/>
                <label for="tumblr-sharing">
                    <span class="ui-icon ui-icon-social-tumblr"></span>
                    <span class="s-service-text">Tumblr</span>
                </label>
            <% } %>

           
        </fieldset>

        <div class="ui-grid-a">
            <div class="ui-block-a"></div>
            <div class="ui-block-b">
                <button class="x-submit-button" data-theme="e"><%= T('Share') %></button>
            </div>
        </div>

    </form>
    <div class="x-success hide s-warning-message">Thanks! The photo has been shared</div>
</div>

<div class="s-comment-area x-comment-form hide">
   <form action="javascript:void(0);" accept-charset="utf-8" >
       <textarea name="comment-<%= item.get('id') %>" placeholder="<%= T('Type your message') %>" class="s-comment" data-theme="a"/>

       <div class="ui-grid-a">
           <div class="ui-block-a"></div>
           <div class="ui-block-b">
               <button class="x-submit-button" data-theme="e"><%= T('Comment') %></button>
           </div>
       </div>
   </form>
</div>

<% } %>
