<% if(item.get('status') == 'moderated'){ %>
    <p class="text-muted center">Image not found</p>
<% }else{ %>

  <% if(item.has('location') && item.get('location').location){ %>
      <a class="x-goto-map s-location text-muted" data-role="button" data-mini="true" data-theme="a" data-icon="location" data-iconpos="left" data-inline="true">
         <%= string_utils.short_location(item.get('location').location) %>
      </a>
  <% }%>
  <a href="#" class="s-time" data-role="button" data-mini="true"><%= string_utils.short_timestamp(item.get('date'), true ) %></a>

  <% if(taken === true) { %>
  <div class="s-image-area" style="opacity:0.5">
  <% } else { %>   
  <div class="s-image-area">
  <% } %>

    <img style="height:<%= obj.height %>px;" src="https://s3.amazonaws.com/media-server<%= item.get('server_id') %>.snapr.us/lrg/<%= item.get('secret') %>/<%= item.get('id') %>.jpg" <% if(item.get('description')){ %>alt="<%= item.get('description') %>"<% } %> class="x-photo s-photo" />

    <!-- Taken switch -->
    <div class="takenContainer" data-corners="true">
      <select class="taken" name="taken" data-native-menu="true" data-role="slider" data-theme='c' data-mini="true" data-corners="true">
        <% if(takenByUser === true) { %>
            <option value="off">take</option>
            <option value="on" selected="selected"></option>
        <% } else { %>   
            <option value="off">take</option>
            <option value="on"></option>
        <% } %>      
      </select>
    </div>
</div>

<div class="s-image-details">
  <div class="s-description"><%= string_utils.comment_links( item.get('caption') ) %> </div>

    <div class="tags-readable">

      <%     
      _.each(item.get('materials') , function(mat) { %>
        <a data-role="button" data-inline="true" data-mini="true" ><%= mat %></a>
       <% }); %>

      <%
         if (item.get("username") && item.get("username").toLowerCase() == (auth.get("snapr_user") || "").toLowerCase()){ %>
        <!-- <p>This field is editable</p> -->

      <% } %>

    </div>

    <div class="tags-editable">
      <span>
      <%     
      _.each(item.get('materials') , function(mat) { %>
        <a data-role="button" data-inline="true" data-mini="true" data-icon="remove" class="deleteable"><%= mat %></a>
       <% }); %>
       </span>
       <a data-role="button" data-inline="true" data-mini="true" data-icon="plus" class="addNewTag">Add Tag</a>

      <a data-role="button" data-inline="true" data-mini="true" data-icon="check" class="submitTag">OK</a>

    </div>

   	<% if(item.get('rating') >= 2){ %>
      <p class="s-featured s-icon-left"><span class="ui-icon ui-icon-star-empty"></span> Featured!</p>
  	<% } %>

    <% if(config.get('app_group') == 'snapr' && item.has('app') && item.get('app').slug !== 'snapr'){ %>
        &mdash; via <a href="http://apps.sna.pr/<%= item.get('app').slug %>/" target="blank"><%= item.get('app').name %></a>
    <% }%>

    <ul class="x-comments s-comments">
        <% _.each(item.get('latest_comments'), function(comment){ %>
            <li><a class="commenter" href="#/user/?username=<%= comment.user %>"><%= comment.user %></a> <%= string_utils.comment_links( comment.comment ) %></li>
        <% }) %>
        <% if(item.get('comments') > 10){ %><li><a class="x-show-comments"><%= T('Show more comments') %></a></li><% } %>
    </ul>



    <div class="s-action-buttons x-action-buttons">

        <!-- Comment button -->
        <a data-role="button" data-theme="c" data-inline="true" data-icon="comments" data-inline="true" data-iconpos="notext" class="x-comment-button">Comment</a>
        
        <a href="mailto:?subject=Check Out This Junk&body=http://test.artjunk.org/<%= item.get('id') %>" data-role="button" data-icon="envelope" data-iconpos="notext" data-theme="c" data-inline="true" ></a>
        
        <!-- Flag or Delete button -->
        <% if (item.get("username") && item.get("username").toLowerCase() == (auth.get("snapr_user") || "").toLowerCase()){ %>
            <a class="x-delete" data-role="button" data-icon="trash" data-iconpos="notext" data-theme="c" data-inline="true" ></a>

        <%} else if(config.get('moderation_controls')){ %>
            <a class="x-flag" data-role="button" data-icon="flag" data-iconpos="notext" data-theme="c" data-inline="true" >
                <% if (item.get('flagged')){%> flagged <% }else{ %> flag <% } %>
            </a>
        <%}%>

    </div>


    <!-- reactions -->
    <div data-role="popup" class="x-reactions s-popup" data-theme="a" data-overlay-theme="b">
        <div class="x-header ui-header"></div>
        <ul class="x-list s-reactions-list" data-role="listview"></ul>
    </div>

</div>

<div class="s-comment-area x-comment-form hide">
   <form action="javascript:void(0);" accept-charset="utf-8" >
       <textarea name="comment-<%= item.get('id') %>" placeholder="<%= T('Type your message...') %>" class="s-comment" data-theme="a"/>

       <div class="ui-grid-a">
           <div class="ui-block-a"></div>
           <div class="ui-block-b">
               <button class="x-submit-button" data-theme="c"><%= T('Comment') %></button>
           </div>
       </div>
   </form>
</div>

<% } %>

