 <div id="feed" data-title="<%= T('Photos') %>" data-role="page" data-theme="a">

    <div data-role="header" data-theme="d" data-tap-toggle="false">

        <a class="x-menu-button ui-btn-left" data-icon="large-bars" data-iconpos="notext" data-corners="false">Login in</a>

        <h1 class="x-title">
            <% if(obj.title){ %>
                <%= string_utils.count_chars(title) %>
            <% } %>
        </h1>

        <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
            <!-- Radius button -->
            <a data-rel="popup" class="aj-radius-btn" href="#radius-menu" data-role="button" data-icon="chevron-down" data-iconpos='notext'>radius</a>
            <a data-role="button" class="aj-refresh"data-icon="refresh" data-iconpos='notext'>refresh</a>
        </div>

        <!-- Radius menu -->
        <div data-role="popup" class="aj-radius-menu" id="radius-menu" data-theme='e'>
                <a class="aj-distance" data-role="button" data-icon="large-shoe_steps" data-distance=5000>5 km</a>
                <a class="aj-distance ui-btn-active" data-role="button" data-icon="large-bicycle" data-distance=25000>25 km</a>
                <a class="aj-distance" data-role="button" data-icon="large-road" data-distance=100000>100 km</a>
                <a class="aj-distance all-distance" data-role="button" data-icon="plane" data-distance="all">All</a>
        </div>
    </div>

    <div data-role="content" class="x-photos"></div>
</div>
