 <div id="feed" data-title="<%= T('Photos') %>" data-role="page" data-theme="c">

    <div data-role="header" data-theme="g" data-tap-toggle="false" data-position="fixed">

        <a class="x-menu-button ui-btn-left" data-icon="large-bars" data-iconpos="notext" data-corners="false">Login in</a>

        <h1 class="x-title">
            <% if(obj.title){ %>
                <%= string_utils.count_chars(title) %>
            <% } %>
        </h1>

        <a data-role="button" class="aj-refresh"data-icon="refresh" data-iconpos='notext'>refresh</a>

    </div>

    <div data-role="content" class="x-photos"></div>
</div>
