<div id="search" data-role="page" data-theme="c" data-ajax="false" data-tab-bar="true">
    <div data-role="header" data-theme="d" data-position="fixed" data-tap-toggle="false" data-add-back-btn="false">

         <h1 class="x-title">
            Search
        </h1>
        <a  onclick="alert('Not working yet');" class="x-menu-button ui-btn-right" data-icon="gear" data-iconpos="notext" data-corners="false" data-theme='d'>Login in</a>
    </div>
    <div data-role="content">
        <div class="s-inset-page-content">
            <form accept-charset="utf-8">
                <ul data-role="listview" data-inset="true" data-theme="d">
                    <li data-role="fieldcontain" class="ui-hide-label">
                        <input type="text" placeholder="<%= T('Keywords') %>&hellip;" autocapitalize="off" autocorrect="off" class="x-search-field" id="search-keywords">
                    </li>
                    <li data-role="fieldcontain" class="ui-hide-label s-has-select">
                        <select id="search-type" class="x-search-type" data-theme="e">
                            <option value="tag"><%= T('Search') %> <%= T('Tags') %></option>
                            <option value="location"><%= T('Search') %> <%= T('Locations') %></option>
                 <!--            <option value="user"><%= T('Search') %> <%= T('Users') %></option> -->
                        </select>
                    </li>
                </ul>

                <input type="submit" data-theme="d" value="<%= T('Search') %>">
            </form>
        </div>

    </div>
</div>
