<div id="footer" data-role="footer" data-position="fixed" data-ajax="false" data-tap-toggle="false" data-theme="d" class="s-tab-bar">

	<!-- Shows when there is a connection error -->
    <div class="s-offline-bar x-offline-bar hide">
        <%= T('Connection Error') %>
    </div>

	<!-- Shows when data is updating via background load -->
    <div class="s-bg-load-bar">
        <span class="s-load-bar-animate"></span>
    </div>

    <div data-role="navbar" data-iconpos="notext">
        <ul>   
            <li>        
                <a href='/#/nearby/' id="browse-btn" class="large-icon" data-name="browse" data-icon="picture">BROWSE</a>
            </li>
            <li>        
                <a href='#/map/' id="map-btn" class="large-icon" data-name="map" data-icon="map-marker">MAP</a>
            </li>
            <li>
                <label class="x-launch-camera-options" for="x-web-upload">
                     <a id="post-btn" class="large-icon" data-name="post" data-icon='camera'>POST</a>
                </label>
            </li>
        </ul>
    </div><!-- /navbar -->

    <!-- Radius menu -->
    <div data-role="popup" class="aj-radius-menu" id="radius-menu" data-theme='e' data-corners="false">
            <a class="aj-distance" data-role="button" data-distance=5000> < 5 km</a>
            <a class="aj-distance ui-btn-active" data-role="button" data-distance=25000> < 25 km</a>
            <a class="aj-distance" data-role="button" data-distance=100000> < 100 km</a>
            <a class="aj-distance all-distance" data-role="button" data-distance="all">All</a>
    </div>

</div>

