@import "../libs/jquery.mobile-1.2.0/jquery.mobile.structure-1.2.0.css";

@import "../libs/mobiscroll/mobiscroll-2.0rc2.full.min.css";

@import "../libs/photoswipe/photoswipe.css";
/* MASTER MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
html {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.s-main-image {
  -webkit-touch-callout: default;
}
.image-caption,
user-details {
  -webkit-user-select: text;
}
input:focus {
  outline: none;
}
textarea {
  resize: none;
  min-height: 60px;
  overflow: hidden;
}
body {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
hr,
textarea,
input,
section,
.ui-select {
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
}
ul,
ul li {
  list-style: none;
  padding: 0;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 0;
  clear: both;
  border: none;
  border-bottom: #fbfbfb;
  border-top: #f7f7f7;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
  background-color: transparent;
  color: #fbfbfb;
}
div[data-role="header"] {
  min-height: 40px;
}
div[data-role="header"] .ui-btn-center {
  position: absolute;
  top: 4px;
  width: 100%;
  text-align: center;
}
div[data-role="header"] .ui-btn-center .ui-btn,
div[data-role="header"] .ui-btn-center .ui-controlgroup {
  margin: 0;
}
div[data-role="header"] .ui-btn-right,
div[data-role="header"] .ui-btn-left {
  white-space: nowrap;
}
div[data-role="header"] .ui-btn-right .ui-btn,
div[data-role="header"] .ui-btn-left .ui-btn {
  display: inline-block;
  margin: 0;
  top: 4px;
}
div[data-role="content"] {
  position: relative;
  padding: 0 8px;
}
div[data-role="content"] .ui-content {
  padding: 8px;
}
div[data-role="content"] .ui-listview {
  margin: 0 -8px;
}
div[data-role="content"] .ui-listview .ui-bar {
  margin-right: 0;
  margin-left: 0;
}
div[data-role="content"] .ui-listview-inset {
  margin: 0;
}
div[data-role="content"] .s-inline-header {
  margin: 0 -8px;
  background-color: #f7f7f7;
  padding: 0 8px;
}
div[data-role="content"] .s-inline-footer {
  margin: 0 -8px;
  background-color: #f7f7f7;
  padding: 8px;
}
.ui-content .s-inset-page-content {
  padding: 16px 8px;
}
.ui-content .s-inset-page-content .ui-listview-inset {
  margin-bottom: 16px;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #434748;
}
.s-underline {
  text-decoration: underline;
}
.s-vertical-margins {
  display: block;
  margin: 16px 0;
}
.s-small-username {
  font-size: 12px;
}
.s-wrap-content h1,
.s-wrap-content h2,
.s-wrap-content h3,
.s-wrap-content h4,
.s-wrap-content p,
.s-wrap-content a {
  white-space: normal!important;
  line-height: 140%;
}
.s-wrap-content h1,
.s-wrap-content h2,
.s-wrap-content h3,
.s-wrap-content h4 {
  margin: 8px 32px 8px 0 !important;
  padding-left: 8px;
}
.s-wrap-content p {
  margin: 8px 32px 8px 0 !important;
  text-transform: none!important;
  padding-left: 8px;
}
.s-full-height {
  min-height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.s-alert-text {
  padding: 8px;
  position: relative;
  font-style: italic;
  font-size: 12px;
  color: #666666;
}
.s-alert-text .ui-icon {
  display: none;
}
.s-tabbar-activity {
  position: absolute;
  top: -30px;
  right: 0;
}
.x-tab-bar *[data-tab-bar="true"] {
  padding-bottom: 56px;
}
.x-tab-bar *[data-tab-bar="true"] div[data-role="header"] *[data-icon="home"],
.x-tab-bar *[data-tab-bar="true"] div[data-role="header"] *[data-icon="camera"] {
  display: none;
}
.s-avatar,
.s-avatar-med,
.s-avatar-large {
  width: 34px;
  height: 34px;
  background-color: #f7f7f7;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
.s-avatar-med {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.s-avatar-large {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.s-invisible-submit-button {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ui-hide-label label {
  display: none;
}
.s-validate .x-invalid[for] {
  font-size: 12px;
  line-height: 14px;
  color: #434748;
  padding: 4px;
  margin: 0 8px 8px 8px;
  display: block;
  background-color: #999999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.s-validate .ui-icon-check {
  display: none;
  position: absolute;
  right: 4px;
  top: 8px;
}
.s-validate .x-valid {
  overflow: hidden;
}
.s-validate .x-valid .ui-icon-check {
  display: block;
}
.s-validate .x-validating {
  overflow: hidden;
}
.s-validate .x-validating .ui-icon-check {
  display: block;
  background-image: url('gfx/small-spinner-light.png') !important;
  background-position: center!important;
  background-repeat: no-repeat !important;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit,
.ui-li-static.ui-li-has-icon {
  min-height: 34px;
  padding-left: 50px;
}
.ui-listview .ui-li-icon {
  max-height: 34px;
  max-width: 34px;
  left: 10px;
  top: 24px;
}
.s-inset-page-content .ui-listview-inset {
  background-color: #ffffff;
}
.s-inset-page-content .ui-listview-inset li.ui-li {
  padding: 8px;
  margin: 0;
  border: none;
  background: none;
  border-top: solid 1px #fbfbfb;
}
.s-inset-page-content .ui-listview-inset li.ui-li:first-child {
  border: none;
}
.s-inset-page-content .ui-listview-inset li.ui-li .ui-link-inherit,
.s-inset-page-content .ui-listview-inset li.ui-li p {
  padding-left: 8px;
}
.s-inset-page-content .ui-listview-inset li.ui-li.ui-li-has-icon .ui-link-inherit {
  padding-left: 34px;
}
.s-inset-page-content .ui-listview-inset li.ui-li input[type="text"],
.s-inset-page-content .ui-listview-inset li.ui-li input[type="password"],
.s-inset-page-content .ui-listview-inset li.ui-li input[type="email"] {
  width: 100%;
  border: none;
  background: transparent;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-inset-page-content .ui-listview-inset li.ui-li.s-has-select {
  padding: 0;
}
.s-inset-page-content .ui-listview-inset li.ui-li.s-has-select .ui-select {
  width: 100%;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-inset-page-content .ui-listview-inset li.ui-li.s-has-select .ui-select .ui-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  border: none;
}
.s-inset-page-content .ui-listview-inset li.ui-li.s-has-select .ui-select .ui-btn-inner {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
}
.s-image-loader-bg {
  background-color: #fbfbfb;
  background-image: url('gfx/image-load.gif');
  background-repeat: no-repeat;
  background-position: center;
}
.s-image-loader-bg img {
  display: block;
}
.s-css-thumb {
  background-color: #f7f7f7;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.s-thumb-image {
  width: 101px;
  height: 101px;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #fbfbfb;
}
.s-thumbs-grid-med,
.x-grid .x-feed-images {
  margin: 0 -8px;
  padding: 4px 0 2px 2px;
  min-height: 101px;
}
.s-thumbs-grid-med .s-feed-item,
.x-grid .x-feed-images .s-feed-item {
  display: inline-block;
  margin: 0 2px;
}
.s-thumbs-grid-med .s-image-link,
.x-grid .x-feed-images .s-image-link {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.ui-bar {
  margin: 0 -8px;
}
.ui-bar strong {
  font-size: 16px;
}
.ui-bar .ui-btn .ui-btn-inner,
.ui-bar.ui-btn .ui-btn-inner {
  padding-top: 0;
  padding-bottom: 0;
  height: 36px;
  line-height: 36px;
  text-align: left;
}
.ui-bar .ui-btn .ui-btn-text,
.ui-bar.ui-btn .ui-btn-text {
  font-size: 12px;
}
.ui-bar .ui-btn .ui-btn-text strong,
.ui-bar.ui-btn .ui-btn-text strong {
  font-size: 16px;
}
.ui-bar .ui-btn .ui-btn-text .ui-icon,
.ui-bar.ui-btn .ui-btn-text .ui-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: 0!important;
}
.ui-bar .ui-controlgroup-controls {
  width: 100%;
}
.ui-bar .s-bar-left {
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  border-right: none;
}
.ui-bar .s-bar-left .ui-btn-inner {
  text-align: left;
  padding-right: 0;
}
.ui-bar .s-bar-right {
  width: 20%;
  box-sizing: border-box;
  margin: 0;
}
.ui-bar .s-bar-right .ui-btn-inner {
  padding-right: 0;
}
.s-image-streams .x-stream {
  position: relative;
  margin-bottom: 8px;
  white-space: no-wrap;
}
.s-image-streams .x-stream .x-thumbs {
  display: inline-block;
  min-width: 311px;
}
.s-image-streams .x-stream .s-image-link {
  padding-left: 4px;
}
.s-image-streams .x-stream .s-load-more-inline {
  background-color: #fbfbfb;
  width: 101px;
  height: 101px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.s-image-streams .x-stream .s-load-more-inline .ui-btn-text {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: lowercase;
  bottom: 12px;
  position: absolute;
  width: 101px;
  color: #666666;
}
.s-image-streams .x-stream .s-load-more-inline .ui-icon-refresh {
  background-image: url('gfx/pull-to-refresh.png');
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;
  margin-top: -28px;
  margin-left: -28px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
  -webkit-transform: rotate(0deg) translateZ(0);
}
.s-image-streams .x-stream .s-load-more-inline.x-right-pull {
  margin-right: 9px;
}
.s-image-streams .x-stream .s-load-more-inline.x-right-pull .ui-icon-refresh {
  background-position: 0 -56px;
}
.s-image-streams .x-stream .s-load-more-inline.x-left-pull {
  margin-right: -4px;
}
.s-image-streams .x-stream .s-load-more-inline.x-left-pull .ui-icon-refresh {
  background-position: 0 0px;
}
.s-image-streams .x-stream .s-load-more-inline.x-flipped .ui-icon-refresh {
  background-position: 0 -112px;
  -webkit-transform: rotate(180deg) translateZ(0);
}
.s-image-streams .x-stream .ui-bar .s-image-tag {
  display: none;
}
.s-image-streams .x-stream.x-closed .ui-bar .s-image-tag,
.s-image-streams .x-stream.x-loading .ui-bar .s-image-tag,
.s-image-streams .x-stream.x-no-photos .ui-bar .s-image-tag,
.s-image-streams .x-stream.x-closed .ui-bar .s-image-time,
.s-image-streams .x-stream.x-loading .ui-bar .s-image-time,
.s-image-streams .x-stream.x-no-photos .ui-bar .s-image-time {
  display: none;
}
.s-image-streams .x-stream.x-loading .s-load-more-inline .ui-icon-refresh {
  background-image: url('gfx/spinner.png');
  background-position: center;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.s-image-streams .x-stream.x-no-more .x-right-pull .ui-icon-refresh {
  display: none;
}
.s-image-streams .x-stream.x-no-more .x-right-pull .x-msg {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 36px 0;
  width: 84px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
  color: white;
  height: 12px;
  vertical-align: middle;
  margin-left: 10px;
}
.s-image-streams .x-stream .x-no-photos {
  display: none;
}
.s-image-streams .x-stream .x-no-photos .x-msg {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 36px 0;
  width: 84px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
  color: white;
  height: 12px;
  vertical-align: middle;
  margin-left: 10px;
}
.s-image-streams .x-stream.x-no-photos .x-no-photos-alert {
  display: block;
}
.s-image-streams .x-stream .edit-overlay {
  display: none;
  position: absolute;
  top: 40px;
  width: 109%;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 101px;
  margin-left: -8px;
  margin-right: -8px;
  right: 0;
}
.s-image-streams .x-stream .edit-overlay .remove-stream {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -18px;
}
.s-image-streams .x-stream .edit-overlay.x-closed .edit-overlay {
  top: 0px;
  height: 36px;
  min-height: 36px;
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.2);
}
.s-image-streams .x-stream .edit-overlay.x-closed .edit-overlay .remove-stream {
  margin-top: -14px;
}
.s-image-streams .x-stream .edit-overlay.x-closed .edit-overlay .remove-stream .ui-btn-inner {
  padding: 4px 32px 4px 16px;
}
.edit .x-stream.user-stream .edit-overlay {
  display: block;
}
.x-scroll-wrapper {
  white-space: nowrap;
  display: inline-block;
}
.x-right-pull,
.x-left-pull {
  display: inline;
}
.s-search-header {
  overflow: visible;
}
.s-search-header input {
  overflow: visible;
}
.ui-input-search .ui-input-clear {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.x-loading .s-search-header .ui-input-search .ui-input-clear {
  display: block;
}
.x-loading .s-search-header .ui-input-search .ui-input-clear .ui-icon-delete {
  display: block;
  background-image: url('gfx/small-spinner-light.png') !important;
  background-position: center!important;
  background-repeat: no-repeat !important;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.s-dash-wrapper {
  min-height: 340px;
}
.s-dash-wrapper .s-competitions,
.s-dash-wrapper .s-tumblr-streams {
  margin-bottom: 0;
}
.s-dash-wrapper .s-competitions .x-post-stream,
.s-dash-wrapper .s-tumblr-streams .x-post-stream {
  margin-bottom: 8px;
}
.s-dash-edit-done {
  display: none;
}
#dash.edit .s-dash-edit-done {
  display: block;
}
#dash.edit .s-dash-wrapper {
  margin-top: 120px;
}
#dash.edit .s-dash-footer {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 0;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dash.edit .x-stream,
#dash.edit .s-tumblr-streams,
#dash.edit .s-competitions {
  display: none;
}
#dash.edit .x-stream.user-stream,
#dash.edit .s-tumblr-streams.user-stream,
#dash.edit .s-competitions.user-stream {
  display: block;
}
#dash-add-person .s-people-list .x-follow-btn {
  display: none;
}
.s-tumblr-streams {
  position: relative;
}
.tumblr-item {
  min-height: 101px;
  height: 101px;
  overflow: hidden;
  margin: 5px -4px;
  position: relative;
  display: block;
}
.tumblr-item .tumblr-exceprt {
  text-align: left;
  background-color: #f7f7f7;
  padding: 8px;
  min-height: 101px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.tumblr-item .tumblr-exceprt .crop-content {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 62px;
}
.tumblr-item .tumblr-exceprt blockquote {
  margin: 4px;
  border-left: solid 2px #666666;
  padding-left: 8px;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.tumblr-item .tumblr-exceprt blockquote small {
  display: inline-block;
  color: #666666;
}
.tumblr-item .tumblr-exceprt p {
  margin: 6px 4px 4px 4px;
  color: #666666;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.tumblr-item .tumblr-exceprt .tumblr-details {
  position: relative;
  font-size: 12px;
  color: #666666;
  line-height: 24px;
  height: 24px;
  padding-right: 24px;
  margin-left: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 4px;
}
.tumblr-item .tumblr-exceprt .tumblr-details .tumblr-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.tumblr-item .tumblr-exceprt.tumblr-photo,
.tumblr-item .tumblr-exceprt.tumblr-video {
  margin-left: 103px;
}
.tumblr-item .tumblr-exceprt.tumblr-photo blockquote,
.tumblr-item .tumblr-exceprt.tumblr-video blockquote {
  margin-left: 0;
  border-left: 0;
}
.tumblr-item .tumblr-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 101px;
  height: 101px;
}
#tumblr-posts blockquote {
  margin: 8px;
  font-style: italic;
}
#tumblr-posts .s-tumblr-stream {
  overflow: hidden;
  margin: 0 -8px;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item {
  border-bottom: 1px solid #fbfbfb;
  margin: 0px;
  padding: 4px;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post {
  width: 100%;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post img,
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post video {
  width: 100%;
  margin: 0 auto;
  max-width: 512px;
  margin: 0 0 8px 0;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post audio {
  margin: 0 0 8px 0;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post .s-tumblr-body {
  margin: 4px;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post .s-photo-set {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tumblr-posts .s-tumblr-stream .s-tumblr-post-item .s-tumblr-post .s-photo-set li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#tumblr-posts .s-tumblr-stream > article:last-child {
  border-bottom: none;
}
.s-tumblr-credit {
  margin: 12px 0;
  font-size: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  padding-bottom: 25px;
  color: #666666;
  background-image: url('gfx/tumblr-logo.png');
  width: 115px;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
}
.ui-icon.tumblr-icon {
  background-image: url('gfx/tumblr-post-icons.png');
  width: 24px !important;
  height: 24px !important;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-text {
  background-position: 0px 0px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-photo {
  background-position: 0px -24px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-quote {
  background-position: 0px -48px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-link {
  background-position: 0px -72px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-video {
  background-position: 0px -144px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-audio {
  background-position: 0px -120px;
}
.ui-icon.tumblr-icon.ui-icon-tumblr-chat {
  background-position: 0px -96px;
}
.competition {
  position: relative;
}
.competition .banner {
  margin: 0 -8px;
  background-color: #f7f7f7;
  min-height: 100px;
}
.competition .banner .banner-image {
  display: block;
  width: 100%;
}
.competition .info {
  background-color: #fbfbfb;
  margin: 8px 0;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 12px;
}
.s-feed-header.s-inline-header {
  position: relative;
  padding-left: 100px;
  height: 100px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.s-feed-header.s-inline-header .s-user-icon-left {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
.s-feed-header.s-inline-header .s-user-icon-left .s-avatar-large,
.s-feed-header.s-inline-header .s-user-icon-left .s-icon-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.s-feed-header.s-inline-header .s-user-icon-left .s-avatar-large {
  background-color: #fbfbfb;
}
.s-feed-header.s-inline-header .s-follow-btn {
  z-index: 1;
  display: block;
  width: 100%;
  height: 36px;
}
.s-feed-header.s-inline-header .s-follow-btn .ui-btn-inner {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}
.s-feed-header.s-inline-header .s-username {
  z-index: 2;
  position: absolute;
  margin: 0;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  top: 0;
  display: inline-block;
  left: 108px;
}
.s-feed-header.s-inline-header .s-header-stats {
  height: 64px;
  padding-left: 100px;
  text-align: center;
  font-size: 12px;
}
.s-feed-header.s-inline-header .s-header-stats .s-hero-number {
  padding-top: 12px;
  display: block;
  font-size: 20px;
}
.s-image-item-block {
  margin: 8px 0 24px 0;
}
.s-image-item-block .s-image-item-topbar {
  height: 35px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-image-item-block .s-image-item-topbar .s-avatar,
.s-image-item-block .s-image-item-topbar .s-username,
.s-image-item-block .s-image-item-topbar .s-image-time-and-location,
.s-image-item-block .s-image-item-topbar .s-image-time {
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
.s-image-item-block .s-image-item-topbar .s-username {
  font-size: 16px;
}
.s-image-item-block .s-image-item {
  position: relative;
}
.s-image-item-block .s-image-item .s-image-status {
  position: absolute;
  top: -14px;
  background-color: #e5592f;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-shadow: none;
  padding: 0px 3px;
  right: 0;
  height: 14px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  opacity: .5;
  display: none;
}
.s-image-item-block .s-main-image-link {
  display: block;
}
.s-image-item-block .s-main-image-link .s-main-image {
  width: 100%;
}
.s-image-item-block .s-image-description {
  margin-top: 8px;
  margin-bottom: -8px;
}
.s-image-item-block .s-image-item-base {
  position: relative;
  margin-top: 8px;
  margin-bottom: -8px;
}
.s-image-item-block .s-reactions-list {
  display: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-image-item-block .s-reactions-list li.ui-li {
  border: none!important;
  padding: 0;
}
.s-image-item-block .s-reactions-list li.ui-li .ui-link-inherit {
  padding: 0 0 8px 0 !important;
  display: inline-block;
  white-space: normal;
}
.s-image-item-block .s-reactions-list li.ui-li .ui-icon-arrow-r {
  display: none;
}
.s-image-item-block .s-reactions-list li.ui-li .username {
  text-transform: none;
  text-shadow: none;
}
.s-image-item-block .s-reactions-list li.ui-li .comment,
.s-image-item-block .s-reactions-list li.ui-li .like-text {
  white-space: normal;
  font-weight: normal;
  text-transform: none;
  text-shadow: none;
}
.s-image-item-block .s-comment-area {
  display: none;
}
.s-image-item-block .s-comment-area .s-photo-comment {
  min-height: 75px;
}
.s-image-item-block.private .s-image-status {
  display: inherit;
}
.s-has-palette {
  position: relative;
  display: inline-block;
  float: left;
}
.s-has-palette .s-action-palette {
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0px;
}
.s-has-palette .s-action-palette .s-center-palette {
  display: inline-block;
  position: relative;
  left: 50%;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette {
  position: relative;
  left: -50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 6px;
  white-space: nowrap;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette .ui-controlgroup {
  margin-bottom: 1px;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette .ui-btn {
  vertical-align: middle;
  line-height: 22px;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette .ui-btn-icon-notext {
  top: 0;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette .ui-btn-icon-left .ui-btn-inner {
  padding-left: 40px;
}
.s-has-palette .s-action-palette .s-center-palette .s-inline-palette .ui-btn-icon-left .ui-btn-inner .ui-icon {
  left: 0;
}
#feed .s-upload-progress-header {
  display: none;
}
.s-my-snaps-only {
  display: none!important;
}
.x-my-snaps .s-my-snaps-only {
  display: inline-block !important;
}
.x-my-snaps .s-not-on-my-snaps {
  display: none!important;
}
#uploading .s-upload-progress-header {
  min-height: 117px;
}
#uploading .s-upload-progress-item {
  padding: 0;
}
#uploading .s-upload-progress-item .s-upload-image-thumb-gall {
  position: absolute;
  left: 0;
  top: 8px;
}
#uploading .s-upload-progress-item .s-progress-bar {
  margin: 8px 0;
}
#uploading .s-upload-progress-item .s-upload-info-block {
  padding-left: 109px;
}
#uploading .s-upload-progress-item .s-upload-info-block p {
  margin-top: 0;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#uploading .s-upload-progress-item .s-upload-info-block .s-upload-shared-to {
  margin: 4px 0 0 0;
  padding: 0;
}
#uploading .s-upload-progress-item .s-upload-info-block .s-upload-shared-to li {
  list-style: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
#uploading .s-offline-uploading {
  position: relative;
  top: -8px;
}
#uploading .s-offline-uploading .ui-btn-inner {
  overflow: visible;
}
.s-upload-progress-header {
  padding: 0 8px;
  overflow: hidden;
}
.s-upload-progress-header .s-upload-progress-item {
  list-style: none;
  padding: 0 8px;
  min-height: 34px;
  margin-bottom: 8px;
  position: relative;
  overflow: visible;
}
.s-upload-progress-header .s-upload-progress-item:first-child {
  padding-top: 8px;
}
.s-upload-progress-header .s-upload-progress-item .s-upload-image-thumb-gall {
  position: absolute;
  left: 0;
  top: 0;
}
.s-upload-progress-header .s-upload-progress-item .s-upload-info-block {
  position: relative;
  padding-left: 42px;
}
.s-upload-progress-header .s-upload-progress-item .s-upload-info-block .s-upload-info {
  padding-top: 5px;
}
.s-upload-progress-header .s-upload-progress-item .s-upload-info-block p {
  margin-top: 0;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.s-progress-bar {
  position: relative;
  padding: 8px 28px 8px 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 13px;
}
.s-progress-bar .s-bar-wrapper {
  position: relative;
}
.s-progress-bar .s-bar-wrapper .s-bar {
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.s-progress-bar .s-bar-wrapper .s-bar-prog {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffff00;
}
.s-progress-bar .s-bar-wrapper .s-bar-bg {
  background-color: #C5C4C4;
  -moz-box-shadow: inset 0 0 9px 2px #afaeae;
  -webkit-box-shadow: inset 0 0 9px 2px #afaeae;
  box-shadow: inset 0 0 9px 2px #afaeae;
}
.s-progress-bar .s-upload-message {
  position: absolute;
  line-height: 24px;
  vertical-align: middle;
  top: 0px;
  left: 8px;
  font-weight: bold;
  font-size: 12px;
}
.s-progress-bar .s-bar-action {
  position: absolute;
  right: -12px;
  top: -8px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: none;
}
.s-progress-bar .s-bar-action .ui-icon {
  display: block;
  top: 50%;
  position: absolute;
  margin-top: -18px;
  right: 7px;
}
.s-share-icon-small {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.s-share-icon-small .ui-icon {
  background-image: url('gfx/share-icons-small.png');
  width: 21px;
  height: 21px;
  position: relative!important;
  display: block;
  top: 1px!important;
  left: 1px!important;
  margin: 0!important;
}
.s-share-icon-small.s-twitter-sharing {
  background-color: #68d9ff;
  -moz-box-shadow: inset 0 3px 20px #309dc2;
  -webkit-box-shadow: inset 0 3px 20px #309dc2;
  box-shadow: inset 0 3px 20px #309dc2;
}
.s-share-icon-small.s-twitter-sharing .ui-icon {
  background-position: 0 0px !important;
}
.s-share-icon-small.s-facebook-sharing {
  background-color: #507ab8;
  -moz-box-shadow: inset 0 3px 20px #2e5998;
  -webkit-box-shadow: inset 0 3px 20px #2e5998;
  box-shadow: inset 0 3px 20px #2e5998;
}
.s-share-icon-small.s-facebook-sharing .ui-icon {
  background-position: 0 -21px !important;
}
.s-share-icon-small.s-tumblr-sharing {
  background-color: #5a687d;
  -moz-box-shadow: inset 0 3px 20px #2c3c54;
  -webkit-box-shadow: inset 0 3px 20px #2c3c54;
  box-shadow: inset 0 3px 20px #2c3c54;
}
.s-share-icon-small.s-tumblr-sharing .ui-icon {
  background-position: 0 -42px !important;
}
.s-share-icon-small.s-foursquare-sharing {
  background-color: #34a0ce;
  -moz-box-shadow: inset 0 3px 20px #29708e;
  -webkit-box-shadow: inset 0 3px 20px #29708e;
  box-shadow: inset 0 3px 20px #29708e;
}
.s-share-icon-small.s-foursquare-sharing .ui-icon {
  background-position: 0 -63px !important;
}
.s-share-photo div[data-role="header"] {
  z-index: 20;
}
.s-share-photo div[data-role="content"] {
  z-index: 10;
  position: static;
}
.s-share-photo .s-image-bg-layer {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;
  overflow: hidden;
}
.s-share-photo .s-image-bg-layer .s-image-placeholder {
  position: absolute;
  top: 50%;
  height: 1024px;
  margin-top: -512px;
  line-height: 1024px;
  text-align: center;
  max-width: 1024px;
}
.s-share-photo .s-image-bg-layer .s-image-placeholder img {
  width: 100%;
  vertical-align: middle;
}
.s-share-photo .s-share-settings-layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-top: 40px;
}
.s-share-photo .s-share-settings-layer .s-share-settings {
  padding: 8px;
  margin: 8px;
}
.s-share-photo .s-image-toggle {
  position: absolute;
  bottom: 0;
  right: 8px;
  z-index: 10;
}
.s-share-photo .s-show-share-settings {
  display: none;
}
.s-share-photo.x-show-image .s-share-settings-layer {
  display: none;
}
.s-share-photo.x-show-image .ui-header {
  display: none;
}
.s-share-photo.x-show-image .s-show-share-settings {
  display: block;
}
.s-activity-streams {
  margin-bottom: 0;
}
.s-activity-streams .ui-bar.s-arrow-d-left .ui-btn-text {
  padding-left: 8px;
}
.s-activity-streams .s-username,
.s-activity-streams .ui-li-desc {
  display: inline-block;
  margin-bottom: 0;
}
.s-activity-streams .s-activity-item {
  border: none;
  border-top: solid 1px #f7f7f7;
  margin-top: 4px;
  padding-top: 0;
}
.s-activity-streams .s-activity-item .s-activity-desc {
  white-space: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
}
.s-activity-streams .s-activity-item .s-small-text {
  position: relative;
  top: 1px;
  color: #666666;
}
.s-activity-streams .s-image-link {
  position: absolute;
  left: -4px;
  top: 0;
}
.s-activity-streams .s-activity-item {
  border: none;
  border-top: solid 1px #f7f7f7;
  margin-top: 8px;
  padding-top: 0;
}
.s-activity-streams .s-comments-list {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-activity-streams .s-comments-list .s-comment-item.ui-li-has-icon {
  padding: 0;
  margin-top: 8px;
  padding-top: 8px!important;
}
.s-activity-streams .s-comments-list .s-comment-item.ui-li-has-icon .ui-link-inherit {
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-left: 38px !important;
  min-height: 34px;
}
.s-activity-streams .s-comments-list .s-comment-item.ui-li-has-icon .ui-li-icon {
  top: 0;
  left: 0;
}
.s-activity-streams .s-comments-list .s-comment-item.ui-li-has-icon .ui-li-heading {
  padding: 0;
  margin: 0;
}
.s-activity-streams .s-image-likes {
  min-height: 34px;
}
.s-activity-streams .s-image-likes .s-icons-list,
.s-activity-streams .s-image-likes p {
  display: inline-block;
  vertical-align: top;
}
.s-activity-streams .s-image-likes .s-like-icons-list {
  margin-top: 8px;
  margin-bottom: 0;
}
.s-activity-streams .s-image-likes .s-like-icon {
  margin-bottom: 4px;
  display: inline-block;
}
.s-activity-streams .s-activity-follow-item {
  position: relative;
  padding-left: 0;
  margin-top: 8px;
  min-height: 34px;
  display: block;
}
.s-activity-streams .s-activity-follow-item .s-username,
.s-activity-streams .s-activity-follow-item .s-activity-desc,
.s-activity-streams .s-activity-follow-item .s-small-text {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
}
.s-activity-streams .s-activity-follow-item .ui-link {
  display: block;
  padding-left: 34px;
  padding-top: 8px ;
  min-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-activity-streams .s-activity-follow-item .ui-li-icon {
  display: block;
  position: absolute;
  left: -4px;
  top: 0;
}
.s-activity-streams .s-photo-activity .s-activity-item:first-child {
  border-top: none;
  padding-top: 0!important;
}
.s-activity-streams .s-activity-item:first {
  border-top: none;
  margin-top: 0!important;
  padding-top: 0!important;
}
.s-activity-streams .s-activity-image-item {
  position: relative;
  min-height: 101px;
  padding-left: 105px;
  margin-bottom: 12px;
}
.s-activity-streams .s-activity-image-item .s-activity-item:first {
  border-top: none;
  margin-top: 0!important;
  padding-top: 0!important;
}
.s-activity-streams .s-activity-stream:nth-child(2) .s-activity-follow-item {
  border-top: none;
  margin-top: 0!important;
  padding-top: 0!important;
}
.s-add-services .shared .ui-icon-arrow-r,
.s-add-services .ready .ui-icon-arrow-r {
  display: none;
}
.s-add-services .s-connect-status {
  position: absolute;
  right: 4px;
  padding-right: 40px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}
.s-add-services .s-connect-status .ui-icon {
  right: 0;
}
.s-app-link {
  margin: 24px 8px;
}
.s-app-link .s-appstore-badge {
  display: block;
  position: relative;
}
.s-app-link .s-appstore-badge .s-platform-logo {
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 60px;
}
.s-app-link .s-appstore-badge .s-coming-soon {
  text-shadow: none;
  color: #B9B9B9;
  position: absolute;
  top: 64px;
  left: 90px;
}
.s-iOS-appstore .s-platform-logo {
  background-repeat: no-repeat;
  background-image: url('gfx/iphone-appstore.png');
}
.s-android-marketplace .s-platform-logo {
  background-repeat: no-repeat;
  background-image: url('gfx/android-logo.png');
}
div.ps-carousel-item-loading {
  background: url('gfx/image-load-dark.gif') no-repeat center center;
}
#map div[data-role="content"] {
  padding-top: 0;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#map .s-map-loading {
  display: none;
}
#map.x-loading .s-map-time .s-map-time-btn {
  display: none;
}
#map.x-loading .s-map-loading {
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: block;
}
#map-layer #google-map {
  margin: -3px -8px;
}
.s-photo-map {
  position: relative;
  overflow: hidden;
}
.s-photo-map .s-map-point {
  width: 1px;
  height: 1px;
  overflow: visible;
  position: absolute;
  z-index: 1;
}
.s-photo-map .s-map-thumb {
  position: absolute;
  bottom: -3px;
  left: -38px;
  width: 78px;
  height: 120px;
  z-index: 100;
}
.s-photo-map .s-map-thumb .s-map-thumbimage {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 60px;
  height: 60px;
}
.s-photo-map .s-map-thumb .s-map-pin {
  position: absolute;
  top: 83px;
  left: 32px;
  background-image: url('gfx/map-pin.png');
  width: 28px;
  height: 35px;
  display: block;
}
.s-photo-map .s-map-thumb .s-thumb-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('gfx/map-thumb-bg.png');
  width: 78px;
  height: 88px;
  display: block;
}
.s-photo-map .s-map-venue .s-venue-pin {
  background-image: url('gfx/map-spot-pin.png');
  position: absolute;
  display: block;
  bottom: 0;
  left: -18px;
  width: 36px;
  height: 28px;
  cursor: pointer;
}
.s-photo-map .s-map-venue .s-venue-label {
  display: none;
  background-image: url('gfx/map-spot-label.png');
  position: absolute;
  bottom: 23px;
  left: -70px;
  width: 139px;
  height: 47px;
  z-index: 1;
  text-decoration: none;
}
.s-photo-map .s-map-venue .s-venue-label .spot-icon {
  position: absolute;
  top: 5px;
  left: 3px;
}
.s-photo-map .s-map-venue .s-venue-label .s-venue-label-text {
  color: white;
  font-weight: bold;
  text-shadow: #000000 0 -1px 1px;
  display: block;
  padding: 9px 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  text-decoration: none;
}
.s-photo-map .s-map-venue.x-active {
  z-index: 2;
}
.s-photo-map .s-map-venue.x-active .s-venue-label {
  display: block;
}
.s-photo-map .s-map-current-location {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 17px;
  height: 17px;
  z-index: 100;
  background-image: url('gfx/map-current-location-marker.png');
}
.s-photo-map .s-map-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  margin-top: -30px;
}
.s-photo-map .s-map-alert .s-alert-text {
  background-color: white;
  padding: 6px;
  padding-left: 48px;
  position: relative;
  color: #f19d3c;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: solid #ffff00 4px;
  font-size: 12px;
  font-style: normal;
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.s-photo-map .s-map-alert .s-alert-text .ui-icon-no-images {
  display: block;
  position: absolute;
  left: 9px;
  top: 3px;
}
.s-photo-map .s-map-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 -8px;
}
.s-photo-map .s-map-controls .ui-select,
.s-photo-map .s-map-controls .ui-input-text {
  display: block;
  vertical-align: middle;
  margin-bottom: 0;
}
.s-photo-map .s-map-controls .s-map-time {
  position: absolute;
  left: 8px;
  top: 6px;
}
.s-photo-map .s-map-controls .s-map-time .s-map-time-label {
  position: absolute;
  top: -32px;
  left: 0;
  white-space: nowrap;
  line-height: 12px;
  height: 24px;
  padding: 6px 8px;
}
.s-photo-map .s-map-controls .s-map-filters {
  margin: 6px;
  margin-left: 48px;
}
.s-photo-map .s-disambiguation {
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  z-index: 100;
  min-height: 0px;
  overflow: visible;
}
.jqm .dwo {
  background-color: rgba(0, 0, 0, 0.6);
}
.jqm .dwbc .dwbw .dwb {
  margin: 8px;
}
.s-spots-search-filters {
  padding-right: 44px;
  margin-top: 8px;
  position: relative;
}
.s-spots-search-filters .s-distance-btn {
  width: 36px;
  position: absolute;
  right: 0;
  top: 0;
}
.s-spots-search-filters .s-distance-btn .ui-select .ui-btn-inner {
  width: 18px;
  height: 18px;
}
.s-spots-search-filters .s-distance-btn .ui-select .ui-btn-text {
  display: none;
}
.s-spot-item {
  padding-left: 109px !important;
  min-height: 101px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: visible;
}
.s-spot-item .s-spot-photo-crop {
  position: absolute;
  left: 0;
  top: 0;
}
.s-spot-item .s-spot-photo-crop img {
  display: block;
}
.s-spot-item .s-spot-photo-crop .s-no-photo-yet {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #fbfbfb;
  margin: 6px;
  border-radius: 45px;
  text-align: center;
  padding: 15px;
  color: white;
  text-shadow: none;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  font: Helvetica, Arial, sans-serif;
}
.s-spot-header {
  margin-left: -8px;
  margin-right: -8px;
  position: relative;
  background-color: #f7f7f7;
  padding: 4px;
  min-height: 101px;
}
.s-spot-header .spot-venue-details {
  min-height: 64px;
}
.s-spot-header p {
  padding-top: 4px;
  margin: 0;
}
.s-spot-header .s-spot-phone,
.s-spot-header .s-spot-address {
  padding-top: 4px;
  margin-bottom: 8px;
  display: block;
}
.s-spot-header .s-spot-distance {
  font-size: 12px;
}
.s-spot-header .s-foursquare-btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  width: 70px;
  height: 24px;
}
.s-spot-header .s-foursquare-btn .ui-icon-foursquare-logo {
  background-image: url('gfx/foursquare-btn.png');
  height: 24px;
  width: 69px;
}
.s-top-users ul {
  padding-left: 0;
}
.s-top-users .s-top-user-item {
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}
.s-top-users .s-top-user-item .s-small-username {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 4px;
  display: block;
}
.ui-dialog.s-special-bg,
.ui-page.s-special-bg {
  background-image: none!important;
}
.ui-dialog.s-special-bg div[data-role="content"],
.ui-page.s-special-bg div[data-role="content"] {
  background: none;
}
.ui-dialog.s-snapr-bg,
.ui-page.s-snapr-bg {
  background-color: #ffff33 !important;
  -moz-box-shadow: inset 0px -2px 100px #ffe400;
  -webkit-box-shadow: inset 0px -2px 100px #ffe400;
  box-shadow: inset 0px -2px 100px #ffe400;
}
.ui-dialog.s-tumblr-bg,
.ui-page.s-tumblr-bg {
  background-color: #718199 !important;
  -moz-box-shadow: inset 0px -2px 100px #2c3c54;
  -webkit-box-shadow: inset 0px -2px 100px #2c3c54;
  box-shadow: inset 0px -2px 100px #2c3c54;
}
.ui-dialog.s-twitter-bg,
.ui-page.s-twitter-bg {
  background-color: #7ac5de !important;
  -moz-box-shadow: inset 0px -2px 100px #309dc2;
  -webkit-box-shadow: inset 0px -2px 100px #309dc2;
  box-shadow: inset 0px -2px 100px #309dc2;
}
.ui-dialog.s-snapr-welcome-bg,
.ui-page.s-snapr-welcome-bg {
  background-color: #acebdd!important;
  background-image: url('gfx/welcome-image.png') !important;
  -webkit-background-size: 320px 318px !important;
  -moz-background-size: 320px 318px !important;
  -o-background-size: 320px 318px !important;
  background-size: 320px 318px !important;
  background-repeat: no-repeat !important;
  background-position: center bottom!important;
}
.ui-btn-inner {
  padding-left: 8px;
  padding-right: 8px;
}
.s-twitter-button.ui-btn-up-e,
.s-twitter-button.ui-btn-hover-e,
.s-twitter-button.ui-btn-down-e {
  background: #68d9ff;
  color: white;
  text-shadow: 0 -1px 1px #666666;
}
.s-twitter-button.ui-btn-up-e a.ui-link-inherit,
.s-twitter-button.ui-btn-hover-e a.ui-link-inherit,
.s-twitter-button.ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.s-twitter-button.ui-btn-hover-e {
  background: #9be6ff;
}
.s-tumblr-button.ui-btn-up-e,
.s-tumblr-button.ui-btn-hover-e,
.s-tumblr-button.ui-btn-down-e {
  background: #5a687d;
  color: white;
  text-shadow: 0 -1px 1px #434748;
}
.s-tumblr-button.ui-btn-up-e a.ui-link-inherit,
.s-tumblr-button.ui-btn-hover-e a.ui-link-inherit,
.s-tumblr-button.ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.s-tumblr-button.ui-btn-hover-e {
  background: #718199;
}
.s-facebook-button.ui-btn-up-e,
.s-facebook-button.ui-btn-hover-e,
.s-facebook-button.ui-btn-down-e {
  background: #507ab8;
  color: white;
  text-shadow: 0 -1px 1px #434748;
}
.s-facebook-button.ui-btn-up-e a.ui-link-inherit,
.s-facebook-button.ui-btn-hover-e a.ui-link-inherit,
.s-facebook-button.ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.s-facebook-button.ui-btn-hover-e {
  background: #7496c7;
}
.s-snapr-button.ui-btn-up-e {
  background: #ffff00;
  text-shadow: 0 1px 1px white;
  color: #333333;
}
.s-snapr-button.ui-btn-up-e a.ui-link-inherit {
  color: #333333;
}
.s-snapr-button.ui-btn-hover-e {
  background: #ffff33;
  color: #333333;
}
.s-snapr-button.ui-btn-hover-e a.ui-link-inherit {
  color: #333333;
}
.s-snapr-button.ui-btn-down-e {
  background: #ffff00;
  color: #333333;
}
.s-snapr-button.ui-btn-down-e a.ui-link-inherit {
  color: #333333;
}
.s-logo-button .ui-btn-inner {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 36px;
}
.s-button-logo {
  background-image: url('gfx/service-full-logos.png');
  height: 36px;
  width: 150px;
  display: inline-block;
  overflow: hidden;
  text-indent: -300px;
  background-repeat: no-repeat;
}
.s-button-logo.s-twitter-logo {
  width: 100px;
  background-position: 0 0px;
}
.s-button-logo.s-foursquare-logo {
  width: 100px;
  background-position: 0 -72px;
}
.s-button-logo.s-tumblr-logo {
  width: 102px;
  background-position: 0 -36px;
  height: 32px;
}
.s-button-logo.s-facebook-logo {
  width: 108px;
  background-position: 0 -108px;
  height: 32px;
}
.s-button-logo.s-snapr-logo {
  width: 80px;
  background-position: 0 -144px;
  height: 32px;
}
.hide {
  display: none;
}
.ui-disabled {
  filter: alpha(opacity=100);
  opacity: 1;
}
/* margins on bottom element not having proper effect */
.s-margin-clear {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
body.x-browser-testing {
  width: 320px!important;
  margin: 0 auto 0 0!important;
  /* this was 20px but some things are set to window height, meaning they were going 20px off the bottom
    margin: 20px auto 0 20px!important; */

  display: block;
  position: relative;
  height: 100%!important;
  /* so loader relates to container rather than being fixed */

  /* hack for photoswipe plugin */

}
body.x-browser-testing .ui-loader {
  position: absolute;
}
body.x-browser-testing .ps-caption,
body.x-browser-testing .ps-toolbar,
body.x-browser-testing .ps-uilayer,
body.x-browser-testing .ps-carousel,
body.x-browser-testing .ps-document-overlay {
  width: 320px!important;
}
body.x-browser-testing .ps-carousel,
body.x-browser-testing .ps-uilayer {
  height: 480px!important;
}
body.x-browser-testing .ps-caption-bottom {
  top: 435px!important;
}
body.x-browser-testing .ui-footer,
body.x-browser-testing .ui-footer-fixed {
  width: 320px!important;
}
