//
// COMPONENTS - Bare Bones of Snapr Specific Components
// --------------------------------------------------





// @HEADERS
// -------------------------


div[data-role="header"]{
    min-height: @topBarHeight; // So Topbar doesn't collapse without heading

    // Add Centered Button Option 
    .ui-btn-center{
        position: absolute;
        top: @padding;
        width: 100%;
        text-align: center;
    }

    // Line Up Multiple buttons 
    .ui-btn-center{
        .ui-btn,
        .ui-controlgroup{
             margin: 0;
         }
    }
    
    .ui-btn-right,
    .ui-btn-left{
        white-space: nowrap;
        .ui-btn{
             display: inline-block;
             margin: 0;
             top: @padding;
         }
    }
}

// @CONTENT
// -------------------------


div[data-role="content"]{
    position: relative;
    padding: 0 @padding * 2;
    
    .ui-content{
        padding: @padding * 2;
    }
    .ui-listview{
        margin: 0 -@padding * 2;
    }
    .s-inline-header{
        margin: 0 -@padding * 2;
        background-color: @grayLighter;
        padding: 0 @padding * 2;
    }
    
    .s-inline-footer{
        margin: 0 -@padding * 2;
        background-color: @grayLighter;
        padding: @padding * 2;
    }
    
}


// Set page element to full height if you need fullscreen elements 
.s-full-height{
    min-height: 400px;
    .box-sizing(border-box);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


// @TABBAR
// -------------------------


.s-tabbar-activity{
    position: absolute;
    top: -30px;
    right: 0;
}

// Add base padding to pages with tab bars and square off rounded corners for content

*[data-tab-bar="true"]{
    padding-bottom: @tabBarHeight;

    div[data-role="content"]{
    }

    //Hide home menu and camera button on pages where the is a tab bar
    div[data-role="header"]{
        *[data-icon="home"],
        *[data-icon="camera"]{
            display: none;
        }
    }

   
}




// @AVATARS
// -------------------------

.s-avatar,
.s-avatar-med,
.s-avatar-large{
    width: @avatarSize;
    height: @avatarSize;
    background-color: @grayLighter;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    .border-radius(2px);
    display: block;
}

.s-avatar-med{
    width: @avatarSizeMed;
    height: @avatarSizeMed;
    .border-radius(4px);
}

.s-avatar-large{
    width: @avatarSizeLarge;
    height: @avatarSizeLarge;
    .border-radius(4px);
}


// @USERNAMES
// -------------------------

.s-small-username{
   font-size: @fontSizeSmall; 
}


// @FORMS
// -------------------------

// Hides the button version of the submit buttons so pressing enter to submit will work,
// but we still have ability to control look of button
.s-invisible-submit-button{
    width: 0;
    height: 0;
    overflow: hidden;
}


// IMAGES
// -------------------------


.s-image-loader-bg{
    background-color: @grayLight;
    background-image: url('gfx/image-load.gif');
    background-repeat: no-repeat;
    background-position: center;
    img{
        display: block;
    }
}

.s-css-thumb{
    background-color: @grayLighter;
    background-position: center;
    .background-size(cover);
}

.s-thumb-image{
    width: @thumbSize;
    height: @thumbSize;
    padding: 0;
    margin: 0;
    display: block;
    background-color: @grayLight;
}

.s-thumbs-grid-med,
.x-grid .x-feed-images{
    margin: 0 -@padding * 2;
    padding: @padding 0 @padding / 2 @padding / 2;
    min-height: @thumbSize;

    .s-feed-item{
        display: inline-block;
        margin: 0 @padding / 2;
    }

    .s-image-link{
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
}


// BAR
// -------------------------

.ui-bar{
    margin: 0 -@padding * 2;
    font-size: @fontSizeSmall;
    
    strong{
        font-size: @fontSizeUsername;
    }
    
    .ui-btn,
    &.ui-btn{
        .ui-btn-inner{
            padding-top: 0;
            padding-bottom: 0;
            height: @barHeight;
            line-height: @barHeight;
            text-align: left;
        }
        .ui-btn-text{
            font-size: @fontSizeSmall;
             strong{
               font-size: @fontSizeUsername;
           }
        }
    }
    
    // Split Bars with Button on right
    .ui-controlgroup-controls{
        width: 100%;
    }
    .s-bar-left{
        width: 80%;
        box-sizing: border-box;
        margin: 0;
        border-right: none;
        .ui-btn-inner{
            text-align: left;
            padding-right: 0;
        }
    }
    .s-bar-right{
        width: 20%;
        box-sizing: border-box;
        margin: 0;
        .ui-btn-inner{
            padding-right: 0;
        }
    }
}


// STREAMS
// -------------------------

/* Horizontally scrolling image stream components */
.s-image-streams{
    .x-stream{
        position: relative;
        margin-bottom: @padding * 2 ;
        white-space: no-wrap;
        .x-thumbs{
            display: inline-block;
            min-width: @thumbSize * 3 + @padding * 2;
        }
        .s-image-link{
            padding-left: @paddingGrid;
        }
        .s-load-more-inline{
            background-color: @grayLight;
            width: @thumbSize;
            height: @thumbSize;
            display: inline-block;
            vertical-align: top;
            position: relative;
            .ui-btn-text{
                display: inline-block;
                text-align: center;
                font-size: 11px;
                font-weight: bold;
                text-transform: lowercase;
                bottom: 12px;
                position: absolute;
                width: 101px;
                color: @gray;
            }
            .ui-icon-refresh{
                background-image: url('@{gfx}@{gfxRefresh}');
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                width: @gfxRefresh-grid;
                height: @gfxRefresh-grid;
                margin-top: -@gfxRefresh-grid / 2;
                margin-left: -@gfxRefresh-grid / 2;
                -webkit-transition-property:-webkit-transform;
            	-webkit-transition-duration:250ms;
            	-webkit-transform:rotate(0deg) translateZ(0);
            }
            &.x-right-pull{
                margin-right: 9px;
                .ui-icon-refresh{
                    background-position: @gfxRefresh-x @gfxRefresh-right-y;
                }
            }
            &.x-left-pull{
                margin-right:-@padding;
                 .ui-icon-refresh{
                     background-position: @gfxRefresh-x @gfxRefresh-left-y;
                 }
            }
            &.x-flipped{
                 .ui-icon-refresh{
                     background-position: @gfxRefresh-x @gfxRefresh-refresh-y;
    	            -webkit-transform:rotate(180deg) translateZ(0);
	            }
    	    }
        }
        .x-loading {
            .s-load-more-inline{
                 .ui-icon-refresh{
                    background-image: url('gfx/spinner.png');
                    background-position: center;
                    .spin();
                }
            }
        }
        .x-no-more{
            .x-right-pull{
                .ui-icon-refresh{
                    display: none;
                }
                //turns 'the end' into big full stop..
                .x-msg{
                    background-color:rgba(0,0,0,.12);
                    padding: 36px 0;
                    width: 84px;
                   .border-radius(44px);
                    color: white;
                    height: 12px;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
        }
        .edit-overlay{
            display: none;
            position: absolute;
            top: 40px;
            width: 109%;
            background-color: rgba(255, 255, 255, .8);
            min-height: @thumbSize;
            margin-left: -8px;
            margin-right: -8px;
            right: 0;
            .remove-stream{
                display: inline-block;
                position: absolute;
                right: 8px;
                top: 50%;
                margin-top: -18px;
            }
            // Styles for remove btn on streams with no images
            &.over-bar{
                top: 2px;
                width: auto;
                min-height: 0;
                z-index: 10;
                .remove-stream{
                    margin-top: 4px;
                    .ui-btn-inner{
                        padding: 4px 32px 4px 16px;
                    }
                }
            }

         }

    }
}
.edit{
       .x-stream.user-stream{
            .edit-overlay{
                   display: block;
            }
        }
    }

.x-scroll-wrapper {
  white-space: nowrap;
  display:inline-block;
}
.x-right-pull, .x-left-pull{
    display:inline;
}



// SEARCH
// -------------------------

.s-search-header{
    overflow: visible;
    input{
        overflow: visible;
    }
}

.ui-input-search{
 
}

.x-loading{
    .s-search-header{
        .ui-input-search{
            .ui-input-clear {
                display:block;
                .ui-icon-delete{
                    .spinner();
                    .spin();
                }
            }
        }
    }
}


// DASH
// -------------------------

.dash-wrapper{
    min-height: 316px;
}

.dash-edit-done{
    display: none;
}

#dash.edit{
    // Show the btn to exit edit mode
    .dash-edit-done{
        display: block;
    }
    // Shuffle the app people buttons to the top
    .dash-wrapper{
       margin-top: 94px;
    }
    .dash-footer{
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 0;
        .border-top-radius (8px);
        .border-bottom-radius(0);
    }
    // Hide the default streams that are unremovable
   .x-stream,
   .tumblr-streams,
   .competitions{
      display: none;
      &.user-stream{
        display: block;
      }
   }
}

// Hide the follow btns on dash lists
#dash-add-person{
    .people-list{
        .x-follow-btn{
            display: none;
        }

    }
}



// TUMBLR
// -------------------------


.tumblr-streams{
    position: relative;
}

.tumblr-item{
    min-height: @thumbSize;
   height: @thumbSize;
   overflow: hidden;
    margin: @padding + 1 -@padding;
    position: relative;
    display: block;
    .tumblr-exceprt{
        text-align: left;
        background-color: @grayLighter;
        padding: @padding * 2;
        min-height: @thumbSize;
        .box-sizing(border-box);
        .border-radius(@corners);
        .crop-content{
            text-overflow: ellipsis;
            overflow: hidden;
            height:62px;
        }
        blockquote{
            margin: @padding;
            border-left: solid 2px @gray;
            padding-left: @padding * 2;
            font-family: @fontSerif;
            font-style: italic;
            font-size: @fontSizeUsername;
            small{
                display: inline-block;
                color: @gray;
            }
        }
        p{
            margin: @padding * 1.5 @padding @padding @padding;
            color: @gray;
            font-family: @fontSerif;
            font-style: italic;
            font-size: @fontSizeSmall;
        }
        .tumblr-details{
            position: relative;
            font-size: @fontSizeSmall;
            color:  @gray;
            line-height: @gfxTumblr-grid;
            height: @gfxTumblr-grid;
            padding-right:@gfxTumblr-grid;
            margin-left: 4px;
            .box-sizing(border-box);
            top: @padding;
            .tumblr-icon{
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        &.tumblr-photo,
        &.tumblr-video{
            margin-left: @thumbSize + 2px;
            blockquote{
                margin-left: 0;
                border-left: 0;
            }

        }
    }
    .tumblr-thumb{
        position: absolute;
        left: 0;
        top: 0;
        width: @thumbSize;
        height: @thumbSize;
    }
}


.tumblr-credit{
    margin: 12px 0;
    font-size: @fontSizeSmall;
    height: @fontSizeSmall;
    line-height: @fontSizeSmall;
    padding-bottom: @gfxTumblrLogo-height ;
    color: @gray;
    background-image: url('@{gfx}@{gfxTumblrLogo}');
    width: @gfxTumblrLogo-width;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
}

.ui-icon.tumblr-icon{   
    background-image: url('@{gfx}@{gfxTumblr}');
    width: @gfxTumblr-grid!important;
    height: @gfxTumblr-grid!important;
    &.ui-icon-tumblr-text{background-position: @gfxTumblr-x @gfxTumblr-text-y;}
    &.ui-icon-tumblr-photo{background-position: @gfxTumblr-x @gfxTumblr-photo-y;}
    &.ui-icon-tumblr-quote{background-position: @gfxTumblr-x @gfxTumblr-quote-y;}
    &.ui-icon-tumblr-link{background-position: @gfxTumblr-x @gfxTumblr-link-y;}
    &.ui-icon-tumblr-video{background-position: @gfxTumblr-x @gfxTumblr-video-y;}
    &.ui-icon-tumblr-audio{background-position: @gfxTumblr-x @gfxTumblr-audio-y;}
    &.ui-icon-tumblr-chat{background-position: @gfxTumblr-x @gfxTumblr-chat-y;}
}


// COMPS
// ----------------------------


.competition{
    position: relative;
    .banner{
        margin: 0 -@padding * 2;
        background-color: @grayLighter;
        min-height: 100px;
        .banner-image{
            display: block;
        }
    }
    .info{
        background-color: @grayLight;
        margin: @padding * 2 0;
        padding: @padding * 2;
        .border-radius(@corners);
        font-size: @fontSizeSmall;
    }
}



// FEED
// -------------------------


.s-feed-header{
    position: relative;
    .s-icon-left{
        padding-left: @avatarSizeLarge;
        height: @avatarSizeLarge;
    }
    .s-profile-icon,
    .s-icon-overlay{
        position:absolute;
        top: 0;
        left: 0;
        width: @avatarSizeLarge;
        height: @avatarSizeLarge;
    }
    .s-profile-icon{
        background-color: @grayLight;
        z-index: 3;
    }
    
    .s-follow-btn{
        z-index: 1;
        position: absolute;
        right: 0;
        top:0;
        display: block;
        width: 100%;
        height: @barHeight;
        .ui-btn{
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            width: 100%;
            text-align: right;
            
            .ui-btn-inner{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    
    .s-username{
        z-index: 2;
        position: relative;
        padding-left: @padding * 2;
        margin: 0;
        height: @barHeight;
        line-height: @barHeight;
        vertical-align: middle;
        top: 0;
        
    }
    .s-header-stats{
        height: @avatarSizeLarge - @barHeight ;
        text-align: center;
        font-size: @fontSizeSmall;
        .s-hero-number{
            padding-top: @padding * 3;
            display: block;
            font-size: 20px;
        }
    }
}



.s-image-item-block{
    margin: @padding * 2 0 @padding * 6 0;
    .s-image-item-topbar{
        height:  @avatarSize + 1px;//haxy to account for mysterious icon overhang
        margin-bottom: @padding * 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .s-avatar,
        .s-username,
        .s-image-time-and-location,
        .s-image-time{
            height:@avatarSize;
            line-height:@avatarSize;
            vertical-align: middle;
            display: inline-block;
            font-size: @fontSizeSmall;
        } 
        .s-username{
            font-size: @fontSizeUsername;
        }    
    }
    .s-image-item{
        position: relative;
        .s-image-status{
            position: absolute;
            top: -14px;
            background-color: #e5592f;
            color: white;
            font-size: 11px;
            font-weight: bold;
            text-shadow: none;
            padding: 0px 3px;
            right: 0;
            height: 14px;
            .border-top-radius(4px);
            opacity: .5;
            display: none;
        }
    }
    .s-main-s-image-link{
        display: block;
        .s-main-image{
            width: 100%;
        }
    }
    .s-image-description{
        margin-top: @padding * 2;
        margin-bottom: -@padding * 2;
    }
    .s-image-item-base{
        position: relative;
        margin-top: @padding * 2;
        margin-bottom: -@padding * 2;
    }


    .reactions-list{
        display: none;
        .box-shadow(none);
        li.ui-li{
            border: none!important;
            padding:0;
             .ui-link-inherit{
                    padding: 0 0 @paddingElement 0!important;
                    display: inline-block;
                    white-space: normal;
                }
            .ui-icon-arrow-r{
                display: none;
            }
            .username{
                text-transform: none;
                text-shadow: none;
            }
            .comment,
            .like-text{
                white-space: normal;
                font-weight: normal;
                text-transform: none;
                text-shadow: none;
            }
        }

    }
    .comment-area{
        display: none;
        .photo-comment{
            min-height: 75px;
        }
    }
}

.s-image-item-block.private{
    .s-image-status{
        display:inherit;
    }
}

//Prefer to swap these palettes for jMob popups
.has-palette{
    position: relative;
    display: inline-block;
    .action-palette{
        position: absolute;
        bottom: 100%;
        left: 20px;
        width: 0px;
        .center-palette{
            display:inline-block;
            position:relative;
            width: 200px;
            left:50%;
            .inline-palette{
                position:relative;
                left:-50%;
            }
        }
    }
}


// Show this via script.. otherwise it causes layout pain for other things
#feed{
    .s-upload-progress-header {
        display: none;
    } 
}


.s-my-snaps-only {
  display: none!important;
}
.x-my-snaps .s-my-snaps-only {
  display: inline-block !important;
}
.x-my-snaps .s-not-on-my-snaps {
  display: none!important;
}


// @UPLOADING
// -------------------------


#uploading{
    .s-upload-progress-item{
        padding: 0;
        .s-upload-image-thumb-gall{
            position: absolute;
            left:0;
            top: @padding * 2;
        }
        .s-progress-bar{
            margin: 8px 0;
        }
        .s-upload-info-block{
            padding-left: @thumbSize + @padding * 2;
            p{
                margin-top: 0;
               margin-bottom: 2px;
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden;
             }
            .s-upload-shared-to{
                margin: @padding 0 0 0 ;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 2px;
                }
            }
        }
    }
    .s-offline-uploading{
        position: relative;
        top: -8px;
        .ui-btn-inner{
            overflow: visible;
        }
    }

}


// UPLOAD QUEUE
// -------------------------

.s-upload-progress-header{
    padding: 0 @padding * 2;
    overflow:hidden;

    .s-upload-progress-item{
        list-style:none;
        padding: 0 @padding * 2;
        min-height: @avatarSize;
        margin-bottom: @padding * 2;
        position: relative;
        overflow: visible;
        &:first-child{
            padding-top: @padding * 2;
        }
        .s-upload-image-thumb-gall{
            position: absolute;
            left:0;
            top: 0;
        }
        .s-upload-info-block{
            position: relative;
            padding-left: @avatarSize + @padding * 2;
            .s-upload-info{
                padding-top: 5px;
                
            }
            p{
                margin-top: 0;
                margin-bottom: 2px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

        }
    }
}


// @PROGRESSBAR
//-----------------

.s-progress-bar{
    position: relative;
    padding: 8px 28px 8px 8px;
    height:8px;
    background-color: lighten(@grayLighter, 10%);
    border-radius: 13px;
    .s-bar-wrapper{
        position: relative;
        .s-bar{
            height: 8px;
            .border-radius(4px);
        }
        .s-bar-prog{
            position: absolute;
            top: 0;
            left: 0;
            background-color: @yellow;
        }
        .s-bar-bg{
            background-color: #C5C4C4;
            .box-shadow(inset 0 0 9px 2px #AFAEAE);
        }
    }
    .s-upload-message{
        position: absolute;
        line-height: 24px;
        vertical-align: middle;
        top: 0px;
        left:8px;
        font-weight: bold;
        font-size: @fontSizeSmall;
    }
    
    .s-bar-action{
        position: absolute;
        right: -12px;
        top: -8px;
        margin: 0;
        width: 40px;
        height: 40px;
        background: none;
        .ui-icon{
            display: block;
            display: block;
            top: 50%;
            position: absolute;
            margin-top: -9px;
        }
    }
}

// @SHAREICONS
//-----------------

.s-share-icon-small{
    background-color: lighten(@grayLighter, 10%);
    .border-radius(4px);
    width: 22px;
    height: 22px;
    display: inline-block;
    .ui-icon{
        background-image: url('@{gfx}@{gfxShareSmall}');                             
        width: @gfxShareSmall-grid;
        height: @gfxShareSmall-grid;
        position: relative!important;
        display: block;
        top: 1px!important;
        left: 1px!important;
        margin: 0!important;
    }
    &.s-twitter-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-twitter-y!important;}
       background-color: @twitterBlue;
        .box-shadow(inset 0 3px 20px @twitterBlue-tint);
    }
    &.s-twitter-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-facebook-y!important;}
       background-color: @facebookBlue;
       .box-shadow(inset 0 3px 20px @facebookBlue-tint);
   }
   &.s-tumblr-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-tumblr-y!important;}
       background-color: @tumblrBlue;
       .box-shadow(inset 0 3px 20px @tumblrBlue-tint);
   }
   &.s-foursquare-sharing{
       .ui-icon{background-position: @gfxShareSmall-x @gfxShareSmall-foursquare-y!important;}
        background-color: @foursquareBlue;
        .box-shadow(inset 0 3px 20px @foursquareBlue-tint);
   }
}


// @SHARE
// -------------------------

.s-share-photo{
    div[data-role="content"]{
        position: static; // not sure why it needs this but without it layer collapses to zero height
    }
    .s-image-bg-layer{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 5;
        overflow:hidden;
        .s-image-placeholder{
               position: absolute;
               top: 50%;
               height: 1024px;
               margin-top: -512px;
               line-height: 1024px;
               text-align: center;
               max-width: 1024px;
               img{
                   width: 100%;
                   vertical-align: middle;
               }
           }
    }
    .s-share-settings-layer{
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        padding-top: @topBarHeight;
        .s-share-settings{
            padding: @padding * 2;
            margin: @padding * 2;
        }
    }
    .s-image-toggle{
        position: absolute;
        bottom: 0;
        right: @padding * 2;
         z-index: 10;
    }
    .s-show-share-settings{
        display: none;
    }
    &.x-show-image{
        .s-share-settings-layer{
            display: none;
        }
        .ui-header{
            display: none;
        }
        .s-show-share-settings{
            display: block;
        }
    }   
}




// @GALLERIES
// -------------------------

div.ps-carousel-item-loading
{
    background: url('gfx/image-load-dark.gif') no-repeat center center;
}



// @MAP
//------------------

#map{
    div[data-role="content"]{
        padding-top: 0;
        padding-bottom: @padding * 2;
        .box-sizing(border-box);
    }
    &.loading{
        .s-map-time{
            .s-map-time-btn{
                display: none;
            }
        }
        .s-map-loading{
            width: 32px;
            height:32px;
            overflow: hidden;
            .border-radius(16px);
            .ui-icon{
                opacity: .7;
                width: 32px;
                height:32px;
            }
        }
    }
}

#map-layer{
    #google-map{
        margin: -3px -@padding * 2;
    }
}

.s-photo-map{
    position:relative;
    overflow:hidden;

    // Map Thumbs
    .s-map-point {
        width: 1px;
        height: 1px;
        overflow: visible;
        position:absolute;
        z-index: 1;
    }
    
    .s-map-thumb {
           position: absolute;
           bottom: -3px;
           left: -38px;
           width: 78px;
           height: 120px;
           z-index: 100;
           .s-map-thumbimage {
               position: absolute;
               top: 8px;
               left: 9px;
               width: 60px;
               height: 60px;
           }
           .s-map-pin{
               position: absolute;
               top:83px;
               left: 32px;
               background-image: url('gfx/map-pin.png');
               width:28px;
               height: 35px;
               display: block;
           }
           .s-thumb-bg {
               position: absolute;
               top: 0;
               left: 0;
               background-image: url('gfx/map-thumb-bg.png');
               width:78px;
               height: 88px;
               display: block;
           }
       }
    
    
    .x-map-venue{
        .x-map-venue-pin{
            background-image: url('gfx/map-spot-pin.png');
            position: absolute;
            display: block;
            bottom: 0;
            left: -18px;
            width: 36px;
            height: 28px;
            cursor: pointer;
        }
        .x-map-venue-label{
            display: none;
            background-image: url('gfx/map-spot-label.png');
            position: absolute;
            bottom: 23px;
            left: -70px;
            width: 139px;
            height: 47px;
            z-index: 1;
            text-decoration: none;
            .s-venue-label-text{
                color: white;
                font-weight: bold;
                text-shadow: black 0 -1px 1px;
                display: block;
                padding: 9px 26px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 13px;
                text-decoration: none;
            }
        }
        &.active{
            z-index: 2;
            .x-map-venue-label{
                display: block;
            }
        }
    }

    .s-map-current-location{
      position: absolute;
      top: -9px;
      left: -9px;
      width: 17px;
      height: 17px;
      z-index: 100;
      background-image: url('gfx/map-current-location-marker.png');
    }
   

    #s-map-alert{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 160px;
        margin-left: -80px;
        margin-top: -30px;
        .s-map-image-alert{
            background-color: white;
            padding: 6px;
            padding-left: 48px;
            position: relative;
            color: @grayDark;
            .border-radius(8px);
            border: solid #ffcc00 4px;
            font-size: 12px;
            .box-shadow(0px 4px 6px rgba(0, 0, 0, .3) );
            .ui-icon-no-images{
                position: absolute;
                left: 9px;
                top: 3px;
            }
        }
    }
    .s-map-controls{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 -8px;
        .ui-select,
        .ui-input-text{
            display: block;
            vertical-align: middle;
            margin-bottom: 0;
        }
        .s-map-time{
            position: absolute;
            left: 8px;
            top: 6px;
            .s-map-time-label{
                position: absolute;
                top: -32px;
                left: 0;
                white-space: nowrap;
            }
        }
        .s-map-filters{
            margin: 6px;
            margin-left: 48px;
        }
    }
    #x-map-disambiguation{
        position: absolute;
        display: none;
        top: @padding * 2;
        right: @padding * 2;
        z-index: 100;
        min-height: 0px;
        overflow: visible;
    }

    #x-no-results {
        width:70%;
        .s-map-image-alert {
            background-color: #ffffff;
            padding: 6px;
            padding-left: 48px;
            position: relative;
            color: #ff8400;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            border: solid #ffff00 4px;
            font-size: 12px;
            -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        }
    }
}

//a tweak for the mobiscroll time picker css
.jqm{
    .dwo{background-color: @blackTrans;}
    .dwbc{.dwbw{.dwb{margin: 8px;}}}
}




// @SPOTS
// -------------------------

.s-spots-search-filters{
    padding-right: 44px;
    margin-top: @padding * 2;
    position: relative;
    
    .distance-btn{
        width: 36px;
        position: absolute;
        right: 0;
        top: 0;
        .ui-select{
            .ui-btn-inner{
                width: 18px;
                height: 18px;
            }
            .ui-btn-text{
                display: none;
            }
    
        }
    }
}

.s-spot-item{
    padding-left: @thumbSize + @padding * 2!important;
    min-height: @thumbSize;
    .box-sizing(border-box);
    position: relative;
    display: block;
    overflow: visible;
    .s-spot-photo-crop{
        position:  absolute;
        left: 0;
        top: 0;
        img{
            display: block;
        }
        .s-no-photo-yet{
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 60px;
            background-color: @grayLight;
            margin: 6px;
            border-radius: 45px;
            text-align: center;
            padding: 15px;
            color: white;
            text-shadow: none;
            font-weight: bold;
            line-height: 18px;
            font-size: 14px;
            font: @font;
        }
    }
}


// @SPOT PAGE
// -------------------------

.s-spot-header{
    margin-left: -@padding * 2;
    margin-right: -@padding * 2;
    position: relative;
    background-color: @grayLighter;
    padding: @padding;
    min-height:@thumbSize;
    .spot-venue-details{
        min-height: 64px;
    }
    p{
        padding-top:@padding;
        margin: 0;
    }   
    .s-spot-phone,
    .s-spot-address{
        padding-top:@padding ;
        margin-bottom: @padding * 2;
        display: block;
    }
    .s-spot-distance {
        font-size: @fontSizeSmall;
    }
    .s-foursquare-btn{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4px;
        width: 70px;
        height: 24px;
        .ui-icon-foursquare-logo{
            background-image: url('@{gfx}@{gfxFoursquareBtn}');
            height: @gfxFoursquareBtn-height;
            width: @gfxFoursquareBtn-width;
        }
    }
}

.s-top-users{
    ul{
        padding-left: 0;
    }
    .s-top-user-item{
        width: @avatarSizeMed;
        display: inline-block;
        margin-right: 5px;
        .s-small-username{
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            margin-top: 4px;
            display: block;
        }
    }
}




// MISC
// -------------------------

a{
    text-decoration: none;
}


.hide{
    display: none;
}


.ui-disabled {
    filter: Alpha(Opacity=100)!important;
    opacity: 1!important;
}


// BROWSER TESTING
// -------------------------


body.x-browser-testing{
    width: 320px!important;
    margin: 0 auto 0 0!important;
    /* this was 20px but some things are set to window height, meaning they were going 20px off the bottom
    margin: 20px auto 0 20px!important; */
    display: block;
    position: relative;
    height: 100%!important;

    /* so loader relates to container rather than being fixed */
    .ui-loader{
        position: absolute;
    }
    /* hack for photoswipe plugin */
    .ps-caption,
    .ps-toolbar,
    .ps-uilayer,
    .ps-carousel,
    .ps-document-overlay{
        width: 320px!important;
    }
    .ps-carousel,
    .ps-uilayer{
        height: 480px!important;
    }
    .ps-caption-bottom{
        top: 435px!important;
    }

    .ui-footer,
    .ui-footer-fixed{
        width: 320px!important;
    }
}


