//
// COMPONENTS - Bare Bones of Snapr Specific Components
// --------------------------------------------------


// HEADERS
// -------------------------


div[data-role="header"]{
    min-height: @topBarHeight; // So Topbar doesn't collapse without heading

    // Add Centered Button Option 
    .ui-btn-center{
        position: absolute;
        top: @padding;
        width: 100%;
        text-align: center;
    }

    // Line Up Multiple buttons 
    .ui-btn-center{
        .ui-btn,
        .ui-controlgroup{
             margin: 0;
         }
    }
    
    .ui-btn-right,
    .ui-btn-left{
        white-space: nowrap;
        .ui-btn{
             display: inline-block;
             margin: 0;
             top: @padding;
         }
    }
}

// CONTENT
// -------------------------


div[data-role="content"]{
    padding: @padding * 2;
    
    .s-inset-header{
        margin: -@padding * 2 -@padding * 2 0 -@padding * 2;
        background-color: @grayLighter;
    }
}


// TAB BAR
// -------------------------


.s-tabbar-activity{
    position: absolute;
    top: -30px;
    right: 0;
}





// AVATARS
// -------------------------

.s-avatar,
.s-avatar-med,
.s-avatar-large{
    width: @avatarSize;
    height: @avatarSize;
    background-color: @grayLighter;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    .border-radius(2px);
    display: block;
}

.s-avatar-med{
    width: @avatarSizeMed;
    height: @avatarSizeMed;
    .border-radius(4px);
}

.s-avatar-large{
    width: @avatarSizeLarge;
    height: @avatarSizeLarge;
    .border-radius(4px);
}


// IMAGES
// -------------------------


.s-image-loader-bg{
    background-color: @grayLight;
    background-image: url('gfx/image-load.gif');
    background-repeat: no-repeat;
    background-position: center;
    img{
        display: block;
    }
}


// FEED
// -------------------------


.s-feed-header{
    position: relative;
    .s-icon-left{
        padding-left: @avatarSizeLarge;
        height: @avatarSizeLarge;
    }
    .s-profile-icon,
    .s-icon-overlay{
        position:absolute;
        top: 0;
        left: 0;
        width: @avatarSizeLarge;
        height: @avatarSizeLarge;
    }
    .s-profile-icon{
        background-color: @grayLight;
    }
    .s-username{
        position: relative;
        padding-left: @padding * 2;
        margin: 0;
        height: @barHeight;
        line-height: @barHeight;
        vertical-align: middle;
        top: 0;
        .s-follow-btn{
            position: absolute;
            right: 0;
            top:0;
            display: block;
            width: 100%;
            .ui-btn{
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                width: 100%;
                text-align: right;
                
                .ui-btn-inner{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    .s-header-stats{
        height: @avatarSizeLarge - @barHeight ;
        text-align: center;
        .s-hero-number{
            padding-top: @padding * 4;
            display: block;
        }
    }
}



.s-image-item-block{
    margin: @padding * 2 0 @padding * 6 0;
    .s-image-item-topbar{
        height:  @avatarSize + 1px;//haxy to account for mysterious icon overhang
        margin-bottom: @padding * 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .s-avatar,
        .s-username,
        .s-image-time-and-location,
        .s-image-time{
            height:@avatarSize;
            line-height:@avatarSize;
            vertical-align: middle;
            display: inline-block;
        }      
    }
    .s-image-item{
        position: relative;
        .s-image-status{
            position: absolute;
            top: -14px;
            background-color: #e5592f;
            color: white;
            font-size: 11px;
            font-weight: bold;
            text-shadow: none;
            padding: 0px 3px;
            right: 0;
            height: 14px;
            .border-top-radius(4px);
            opacity: .5;
            display: none;
        }
    }
    
    .s-main-image-link{
        display: block;
    }
    .s-main-image{
        width: 100%;
    }
    .s-image-description{
        margin-top: @padding * 2;
        margin-bottom: -@padding * 2;
    }
    .image-item-base{
        position: relative;
    }
    .image-actions{
        // reactions btn off to the right
        .reactions-button{
           position: absolute;
           right: 0;
           top: 0;
        }

    }

    .reactions-list{
        display: none;
        .box-shadow(none);
        li.ui-li{
            border: none!important;
            padding:0;
             .ui-link-inherit{
                    padding: 0 0 @paddingElement 0!important;
                    display: inline-block;
                    white-space: normal;
                }
            .ui-icon-arrow-r{
                display: none;
            }
            .username{
                text-transform: none;
                text-shadow: none;
            }
            .comment,
            .like-text{
                white-space: normal;
                font-weight: normal;
                text-transform: none;
                text-shadow: none;
            }
        }

    }
    .comment-area{
        display: none;
        .photo-comment{
            min-height: 75px;
        }
    }
}

.s-image-item-block.private{
    .s-image-status{
        display:inherit;
    }
}


// removing the annoying negative margins temporarily
.ui-content {
    .feed-upload-list{
        margin: 0;
    }
}

.s-my-snaps-only {
  display: none!important;
}
.x-my-snaps .s-my-snaps-only {
  display: inline-block !important;
}
.x-my-snaps .x-not-on-my-snaps {
  display: none!important;
}
