//  SNAPR BASE VARIABLES - A few things to make the base styles easier to manage
// --------------------------------------


// Colors
// ------------------------
@yellow:                #ffff00; 
@orange:                #ffcc00; 
@blue:                  #4185f4; 


// Grays
// -------------------------
@black:                 #000;
@blackTrans:           rgba(0, 0, 0, .6);
@grayDark:              #434748;
@gray:                  #666;
@grayLight:             #fbfbfb;
@grayLighter:           #f7f7f7;
@white:                 #fff;


// Padding
// -------------------------

@padding:               4px;
@paddingPage:           8px;
@paddingElement:        @paddingPage;
@paddingFeed:           @paddingPage;
@paddingGrid:           4px;


// Sizes
// -------------------------

@thumbSize:             101px;

@avatarSize:            34px;
@avatarSizeMed:        50px;
@avatarSizeLarge:      100px;

@topBarHeight:            40px;
@topBarBtnHeight:         44px;