<div id="about" data-role="page" class="welcome-bg s-special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1><%= T('Info') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            
            <div class="sk-main-logo">
                   <div class="sk-main-logo-icon">
                   </div>
               </div>
            

            
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <p>Capture os momentos favoritos com a galera e acompanhe os locais que já visitou com o I-Beats Photo – by Snapr.</p>
                    
                    <p>I-Beats Photo faz parte da coleção de aplicativos I-Beats que a Skol esta lançando para ajudar você a curtir o máximo da sua vida noturna.</p>
                </li>
            </ul>

            <p class="s-centered-link">
                <a href="#/about-snapr/"><%= T('About') %> Snapr &rsaquo;</a></li>
            </p>
        </div>
    </div>
</div>
