<div id="home" data-title="Snapr" data-role="page" data-short-title="Menu" data-theme="d" class="" data-ajax="false">

    <div data-role="header" data-theme="b">
        <div class="ui-btn-right">
            <% if (auth.has('access_token')) { %>
                <a href="#/my-account/" data-role="button" data-icon="gear" data-iconpos="notext"></a>
                <% } else { %>
                    <a href="#/login/" data-role="button" data-icon="join" data-iconpos="notext"></a>
                    <% } %>
                </div>
            </div>

            <div data-role="content" class="s-menu-main s-full-height" data-theme="e">

                

                <div class="sk-menu-bg s-full-height">
                    <div class="s-menu-btns">

                        <div class="sk-logo-top">
                            <a href="#/about/" data-role="button" data-iconpos="notext" data-icon="skol-ibeats-logo" data-theme="z" data-corners="false" data-shadow="false">
                                iBeats <%= T('Info') %>
                            </a>
                        </div>

                        <div class="sk-centered-button">
                            <!-- Camera Button -->
                            <a class="x-launch-camera-options" data-role="button" data-theme="z" data-corners="false" data-shadow="false" data-iconpos="notext" data-icon="main-menu-camera"><%= T('Shoot') %></a>
                        </div>

                        <div class="sk-bottom-buttons action-icons">
                            <!-- Image Feed Button -->
                            <a class="x-feed-button" data-role="button" data-iconpos="left" data-icon="pics" data-theme="c" data-inline="true">
                                <%= T('Pics') %>
                            </a><br/>
                            <!-- Spots Button -->
                            <a href="#/spots/" data-role="button" data-iconpos="left" data-icon="venue" data-theme="c" data-inline="true"><%= T('Spots') %></a>

                        </div>

                    </div>
                </div><!-- /content -->
           
                <div class="s-menu-stream x-menu-stream s-full-height"></div>
           
            </div>
