<div id="login" data-overlay-theme="c" data-role="page" data-theme="c" data-ajax="false" class="">
    <div data-role="header" data-theme="c">
        <h1><%= T('Log In') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d">
        <div class="s-inset-page-content">
            <p class="x-login-message s-warning-message"></p>

          <p><%= T('Login with') %>:</p>

            <a data-role="button" class="x-facebook-button s-facebook-button s-logo-button" data-theme="h"> <span class="s-facebook-logo s-button-logo">Facebook</span></a>

            <p class="s-centered-link">
                <%= T('All users must agree to the') %> <a href="http://sna.pr/docs/legal/terms/skol/"><%= T('Terms of Use') %></a>
            </p>

        </div>
    </div>
</div>
