<div id="dash-add-search" data-role="page" data-overlay-theme="c" data-theme="c" data-ajax="false">
    <div data-role="header" data-theme="c">
        <h1>Add Search</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="c">
        <div class="s-inset-page-content">

            <form action="javascript: void(0);" accept-charset="utf-8" id="search-form">
                <ul data-role="listview" data-inset="true" data-theme="d">
                    <li data-role="fieldcontain" class="ui-hide-label">
                        <input type="text" placeholder="Keyword&hellip;" autocapitalize="off" class="x-search-field" id="dash-search-keywords">
                    </li>
                    <li data-role="fieldcontain" class="ui-hide-label s-has-select">
                        <select id="dash-search-type" class="x-search-type" data-theme="c">
                            <option value="">Anywhere</option>
                            <option value="1000">Nearby (1km)</option>
                            <option value="5000">Nearby (5km)</option>
                            <option value="20000">Nearby (20km)</option>
                        </select>
                    </li>
                </ul>
                <input type="submit" data-theme="e" value="Search">

            </form>
        </div>
    </div>
</div>
