<div id="dash-add-search" data-role="page" data-overlay-theme="c" data-theme="c" data-ajax="false">
    <div data-role="header" data-theme="c">
        <h1><%= T('Add a Search') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="c">
        <div class="s-inset-page-content">

            <form action="javascript: void(0);" accept-charset="utf-8" id="search-form">
                <ul data-role="listview" data-inset="true" data-theme="d">
                    <li data-role="fieldcontain" class="ui-hide-label">
                        <input type="text" placeholder="<%= T('Keyword') %>&hellip;" autocapitalize="off" class="x-search-field" id="dash-search-keywords">
                    </li>
                    <li data-role="fieldcontain" class="ui-hide-label s-has-select">
                        <select id="dash-search-type" class="x-search-distance" data-theme="c">
                            <option value=""><%= T('Anywhere') %></option>
                            <option value="1000"><%= T('Nearby') %> (1km)</option>
                            <option value="5000"><%= T('Nearby') %> (5km)</option>
                            <option value="20000"><%= T('Nearby') %> (20km)</option>
                        </select>
                    </li>
                </ul>
                <input type="submit" data-theme="h" value="<%= T('Search') %>">

            </form>
        </div>
    </div>
</div>
