<div id="dash-add-person" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1>Add Person</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="c" data-ajax="false">
        <div class="s-search-header">
           <input class="x-search-field" type="search" id="people-search" value="" placeholder="Username&hellip;" autocapitalize="off" autocorrect="off"/>
        </div>
        <ul class="x-people-list people-list" data-role="listview" data-inset="true" >
        </ul>
    </div>
</div>
