<a class="ui-bar x-details" data-query="<%= escape($.param(model.get("query"))) %>" data-role="button" data-iconpos="left" data-icon="open" data-theme="c">
    <span class="image-details">
        <strong><%= model.get("display").short_title %><% if(model.get("query").radius){ %> (<%= model.get("query").radius/1000 %>km)<% } %></strong>        
        <span class="image-tag x-tag"></span>
        <span class="image-time small-text">
            <span class="ui-icon ui-icon-clock "></span><span class="x-date"></span>
        </span>
    </span>
</a>
<a class="x-view-full" data-corners="false" data-role="button" data-icon="arrow-r" data-iconpos="right" data-theme="c"></a>
<div class="thumbs-grid thumbs-grid-med x-scroll-area" style="display:none">
    <div class="x-scroll-wrapper"><!-- inner div for scroll -->
        <div class="x-left-pull thumb-med load-more-inline">
            <span class="ui-icon ui-icon-refresh"></span>
            <span class="ui-btn-text x-msg">Refresh</span>
        </div>
        <div class="x-thumbs"></div>
        <div class="x-right-pull thumb-med load-more-inline">
            <span class="ui-icon ui-icon-refresh"></span>
            <span class="ui-btn-text x-msg">Load More</span>

        </div>
    </div>
</div>

<div class="edit-overlay trans-bg">
    <a class="remove-stream" data-role="button" data-icon="delete" data-iconpos="right" data-theme="c">Remove</a>
</div>
