 <% if(collection.length){%>
    <a class="ui-bar x-details open top-left-arrow" data-query="<%= escape($.param(model.get("query"))) %>" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="c">
        <span class="image-details">
            <span class="ui-icon ui-icon-<%= model.get("display").type %> "></span>
            <em><%= model.get("display").short_title %><% if(model.get("query").radius){ %> (<%= model.get("query").radius/1000 %>km)<% } %></em>
            <span class="image-tag x-tag"><%= collection.models[0].get('description') %></span>
            <span class="s-image-time small-text">
                <span class="ui-icon ui-icon-clock "></span><span class="x-date"><%= string_utils.short_timestamp( collection.models[0].get('date') )  %></span>
            </span>
        </span>
    </a>
    <div class="thumbs-grid thumbs-grid-med x-scroll-area" style="display:none">
        <div class="x-scroll-wrapper"><!-- inner div for scroll -->
            <div class="x-left-pull thumb-med load-more-inline">
                <span class="ui-icon ui-icon-refresh"></span>
                <span class="ui-btn-text x-msg">Refresh</span>
            </div>
            <div class="x-thumbs"></div>
            <div class="x-right-pull thumb-med load-more-inline">
                <span class="ui-icon ui-icon-refresh"></span>
                <span class="ui-btn-text x-msg">Load More</span>

            </div>
        </div>
    </div>

    <div class="edit-overlay trans-bg">
        <a class="remove-stream" data-role="button" data-icon="delete" data-iconpos="right" data-theme="c">Remove</a>
    </div>

<% }else{ %>
    <a class="ui-bar closed" data-query="<%= escape($.param(model.get("query"))) %>" data-role="button" data-theme="c" data-iconpos="right" data-icon="">
        <span class="image-details">
            <span class="ui-icon ui-icon-<%= model.get("display").type %> "></span>
            <em><%= model.get("display").short_title %><% if(model.get("query").radius){ %> (<%= model.get("query").radius/1000 %>km)<% } %></em>
            <span class="image-tag"></span>
        </span>
    </a>
    <div class="edit-overlay trans-bg over-bar">
        <a class="remove-stream" data-role="button" data-icon="delete" data-iconpos="right" data-theme="c">Remove</a>
     </div>
<% } %>
