<div data-role="controlgroup" data-type="horizontal" class="ui-bar">
    <a class="ui-bar x-details open s-arrow-d-left s-bar-left" data-role="button" data-iconpos="left" data-icon="open" data-theme="c" data-ajax="false">
    <strong>
        <%= feed.display.short_title %>
    </strong>
    </a>

    <a href="#/tumblr-posts/?host=<%= feed.host %>"  class="x-view-full ui-bar-icons s-bar-right" data-corners="false" data-role="button" data-icon="arrow-r" data-iconpos="right" data-theme="c" data-ajax="false"></a>
</div>

<% if(posts){ %>
    <div class="s-tumblr-stream x-posts">
        <% _.each(posts, function(post){ %>

            <a class="s-tumblr-item" href="#/tumblr-posts/?host=<%= feed.host %>" data-ajax="false">

                <% switch(post.get('type')) { case 'text': %>

                    <div class="s-tumblr-exceprt s-tumblr-text">
                        <div class="s-crop-content">
                            <% if(post.get('title')){ %>
                                <blockquote>
                                    <%= post.get('title') %>
                                    <span class="s-small-text"><%= post.get('body') %></span>
                                </blockquote>
                            <% }else{ %>
                                    <blockquote><%= post.get('body') %></blockquote>
                            <% } %>
                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-text"></span>
                        </div>
                    </div>

                <% break; case 'photo': %>

                    <% var image = (_.where(post.get('photos')[0].alt_sizes, {width:250}) || _.where(post.get('photos')[0].alt_sizes, {height:250}))[0] %>

                    <div class="s-tumblr-thumb" style="background-size: cover; background-image:url(<%= image && image.url %>)"></div>

                    <div class="s-tumblr-exceprt s-tumblr-photo">
                        <div class="s-crop-content">
                            <blockquote><%= post.get('caption').replace(/\n/g, '<br>' ) %></blockquote>
                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-photo"></span>
                        </div>
                    </div>

                <% break; case 'link': %>

                    <div class="s-tumblr-exceprt s-tumblr-link">
                        <div class="s-crop-content">
                            <% if(post.get('title')){ %>
                                <blockquote>
                                    <%= post.get('title') %> &rarr;
                                    <small><%= post.get('description').replace(/\n/g, '<br>' ) %></small>
                                </blockquote>
                            <% }else{ %>
                                <%= post.get('url') %> &rarr;
                                <span class="s-small-text"><%= post.get('description').replace(/\n/g, '<br>' ) %></span>
                            <% } %>
                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-link"></span>
                        </div>
                    </div>

                <% break; case 'video': %>

                    <div class="s-tumblr-thumb" style="background-size: cover; background-image:url(<%= post.get('thumbnail_url') %>)"></div>

                    <div class="s-tumblr-exceprt s-tumblr-video">
                        <div class="s-crop-content">
                            <blockquote><%= post.get('caption').replace(/\n/g, '<br>' ) %></blockquote>
                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-video"></span>
                        </div>
                    </div>

                <% break; case 'chat': %>

                    <div class="s-tumblr-exceprt s-tumblr-chat">
                        <div class="s-crop-content">
                            <blockquote>
                                <%= post.get('title') %><br>
                                <%if (post.get('dialogue')) {%>
                                    <span class="s-small-text">
                                        <%_.each(post.get('dialogue'), function(dialogue){%>
                                            <em class="s-tumblr-chat-label"><%=dialogue.label%></em> <%=dialogue.phrase%><br>
                                        <%});%>
                                    </span>
                                <%}%>
                            </blockquote>

                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-chat"></span>
                        </div>
                    </div>

                <% break; case 'quote': %>

                    <div class="s-tumblr-exceprt s-tumblr-quote">
                        <div class="s-crop-content">
                            <blockquote>
                                <%= post.get('text').replace(/\n/g, '<br>' ) %>
                            </blockquote>
                            <% if(post.get('source')){ %>
                                <p>&mdash; <%= post.get('source') %></p>
                            <% } %>
                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-quote"></span>
                        </div>
                    </div>

                <% break; case 'audio': %>

                    <div class="s-tumblr-exceprt s-tumblr-audio">
                        <div class="s-crop-content">
                            <blockquote>
                                <%= post.get('track_name') %>
                                <% if(post.get('artist')){ %>
                                <span class="s-small-text">(<%= post.get('artist') %>)</span>
                                <% } %>
                            </blockquote>
                            <% if(post.get('caption')){ %>
                                <p>&mdash; <%= post.get('caption').replace(/\n/g, '<br>' ) %></p>

                             <% } %>

                        </div>
                        <div class="s-tumblr-details"><%= string_utils.time_ago(post.get('date')) %> <% if(post.get('note_count')){ %>, <%= post.get('note_count') %> Notes<% } %> <span class="ui-icon tumblr-icon ui-icon-tumblr-audio"></span>
                        </div>
                    </div>

                <% }%>

            </a>
        <% })%>
    </div>
<% }else{ %>
    <a class="s-tumblr-item">
        <div class="s-tumblr-exceprt tumblr-loading">
        </div>
    </a>

<% } %>
