<a class="ui-bar top-left-arrow <%= spot.get('category').slug %> ui-spot-icon-left" data-role="button" data-theme="e" data-iconpos="right" data-icon="arrow-r" data-ajax="false" href="#/feed/?spot=<%= spot.get('id') %>&venue_name=<%= spot.get('name') %>">
    <span class="ui-icon ui-icon-category spot-icon dark-spot-icon"></span>
    <em class="spot-name"><%= spot.get('name') %></em>
    <% if (spot.get('stats').photos_count) { %>
        <span class="small-text">(<%= spot.get('stats').photos_count %> photo<% if ((spot.get('stats').photos_count) > 1) { %>s<% } %>)</span>
    <% } %>
</a>

<div class="spot-header ui-body-c">
    <div class="spot ui-content">
        <a class="spot-photo-crop">
        <% if (spot.get('info').hero_image) { %>
            <img src="https://s3.amazonaws.com/media-server2.snapr.us/thm2/<%= spot.get('info').hero_image.secret %>/<%= spot.get('info').hero_image.id %>.jpg" class="thumb-image thumb-med" />
        <%} else { %>
            <div class="no-photo-yet">
                no<br />
                photos<br />
                yet<br />
            </div>
        <% } %>
        </a>
        <div class="spot-venue-details">
            <a class="spot-address small-text" href="http://maps.google.com/maps?ll=<%= spot.get('location').latitude %>,<%= spot.get('location').longitude %>&q=<%= spot.get('name') %>">
                <% if (spot.get('location').address !== "False") { %>
                    <%= spot.get('location').address %></br>
                <% } %>
                <% if(spot.get('location').city !== "False") { %><%= spot.get('location').city %><% } %>
                <% if (spot.get('location').distance) { %>
                    <span class="spot-distance "><%= string_utils.short_distance( spot.get('location').distance ) %> </span>
                <% } %><span class="spot-distance ">&rsaquo;</span>
            </a>
            <% if(spot.get('contact').phone !== "False") { %>
                <a  href="tel:<%= spot.get('contact').phone %>" class="spot-phone small-text">
                    &#9742; <%= spot.get('contact').phone %>
                </a>
            <% } %>
        </div>
        <p class="spot-photo-credit small-text">
            <% if (spot.get('info').hero_image) { %>
            &lsaquo; photo by <a href="#/feed/?username=<%= spot.get('info').hero_image.username %>" class="username"><%= spot.get('info').hero_image.display_username %></a>
            <% } %>
        </p>

        <% if (spot.get('foursquare').venue_page) { %>
        <a href="<%= spot.get('foursquare').venue_page %>" class="foursquare-btn" data-role="button" data-icon="foursquare-logo" data-iconpos="notext" data-theme="c"></a>
        <% } %>

    </div>
</div>
