<div class="s-upload-info-block">
    <a class="s-upload-image-thumb-gall x-gallery-link s-image-link ui-link"
        <% if(upload_status == 'completed'){ %> href="#/feed/?photo_id=<%= photo_id %>&username=<%= username %>"<% } %>>
       <div style="background-image: url('<%= thumbnail %>')" class="s-thumb-image s-css-thumb"></div>
    </a>

    <div class="s-upload-info">
        <p class="upload-s-image-tag"><% if(description){ %><span class="ui-icon feed-icons ui-icon-quote"></span><%= description %><% } %>&nbsp;</p>
        <% if ( venue ){ %>
            <p class="upload-image-venue"><a class="ui-link">@ <%= venue %></a></p>
        <% } %>

         <div class="s-progress-bar <%= upload_status %>">
            <!-- //Active uploads -->
            <% switch (upload_status) { case 'active': %>
                <% if (percent_complete == 100){ %>
                    <span class="s-upload-message"><%= T('Finishing') %></span>
                    <a class="s-bar-action">
                        <span class="ui-icon ui-icon-spinner"></span>
                    </a>
                <% }else{ %>
                    <div class="s-bar-wrapper">
                        <div class="s-bar-bg s-bar"></div>
                        <div class="s-bar-prog s-bar" style="width:<%= percent_complete %>%"></div>
                    </div>
                    <a class="s-bar-action x-cancel-upload">
                        <span class="ui-icon ui-icon-delete"></span>
                    </a>
                <% } %>
            <% break; case 'waiting': %>
                <span class="s-upload-message"><%= T('Waiting') %></span>
                <a class="s-bar-action x-cancel-upload">
                    <span class="ui-icon ui-icon-delete"></span>
                </a>
            <% break; case 'canceled': %>
                <span class="s-upload-message"><%= T('Canceled') %></span>

            <% break; case 'queued': %>
                <span class="s-upload-message"><%= T('Queued') %></span>
                <a class="s-bar-action">
                    <span class="ui-icon ui-icon-refresh"></span>
                </a>
            <% break; case 'completed': %>
                <span class="s-upload-message"><%= T('Complete') %></span>
                <a class="s-bar-action">
                    <span class="ui-icon ui-icon-check"></span>
                </a>
            <% break;}%>
        </div>

        <ul class="s-upload-shared-to <% if (shared){%>shared<%}%>">
        <% if (facebook_sharing){ %>
            <li>
                <div class="s-facebook-sharing s-share-icon-small">
                    <span class="ui-icon"></span>
                </div>
            </li>
        <% } %>
        <% if (twitter_sharing){ %>
            <li>
                <div class="s-twitter-sharing s-share-icon-small">
                    <span class="ui-icon"></span>
                </div>
            </li>
        <% } %>
        <% if (tumblr_sharing){ %>
            <li>
                <div class="s-tumblr-sharing s-share-icon-small">
                    <span class="ui-icon"></span>
                </div>
            </li>
        <% } %>
         <% if (foursquare_sharing){ %>
                <li>
                    <div class="s-foursquare-sharing s-share-icon-small">
                        <span class="ui-icon"></span>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</div>
