<div class="ff-linking">
    <% switch(provider) { case 'twitter': %>
        <p class="s-small-text s-light-text">Please connect your account:</p>
        <a data-role="button" class="link-service s-twitter-button logo-button" data-theme="e">Link <span class="twitter-logo button-logo">Twitter</span></a>
    <% break; case 'facebook': %>
        <p class="s-small-text s-light-text">Please connect your account:</p>
        <a data-role="button" class="link-service s-facebook-button logo-button" data-theme="e">Link <span class="facebook-logo button-logo">Facebook</span></a>
    <% break; } %>
</div>
