<!-- A service that has been linked. Shows icon, unlink button and settings. -->

<div data-role="collapsible" data-collapsed="true">
    <% switch(service.provider) { case 'twitter': %>
        <h3>
            <span class="s-twitter-sharing s-share-icon-small">
                <span class="ui-icon"></span>
            </span>
            <%= service.get('username') %>
        </h3>

        <fieldset data-role="controlgroup">

            <p>Update my profile details to match Twitter:</p>

            <p>
                <button data-inline="true" data-theme="c" class="x-twitter-import-profile twitter-import-profile">Import Profile</button>
            </p>

            <div data-role="fieldcontain" class="s-switch-setting">
                <span class="s-setting-label">Show Twitter in my Profile</span>
                <select name="twitter-link" id="twitter-link" class="x-twitter-link" data-role="slider" data-mini="true">
                    <option value="false">Off</option>
                    <option value="true" <% if (service.get('show_username')){%>selected<%}%>>On</option>
                </select>
            </div>

        </fieldset>

    <% break; case 'foursquare': %>
        <h3>
            <span class="s-foursquare-sharing s-share-icon-small">
                <span class="ui-icon"></span>
            </span>
            <%= service.get('username') %>
        </h3>

        <div data-role="fieldcontain" class="s-switch-setting">
            <span class="s-setting-label">Show Fsq in my Profile</span>
            <select name="foursquare-link" id="foursquare-link" class="x-foursquare-link" data-role="slider" data-mini="true">
                <option value="false">Off</option>
                <option value="true" <% if (service.get('show_username')){%>selected<%}%>>On</option>
            </select>
        </div>

    <% break; case 'tumblr': %>
        <h3>
            <span class="s-tumblr-sharing s-share-icon-small">
                <span class="ui-icon"></span>
            </span>
            <%= service.get('username') %>
        </h3>

        <div data-role="fieldcontain" class="s-switch-setting">
            <span class="s-setting-label">Show Tumblr in my Profile</span>
            <select name="tumblr-link" id="tumblr-link" class="x-tumblr-link" data-role="slider" data-mini="true">
                <option value="false">Off</option>
                <option value="true" <% if (service.get('show_username')){%>selected<%}%>>On</option>
            </select>
        </div>

    <% break; case 'facebook': %>
        <h3>
            <span class="s-facebook-sharing s-share-icon-small">
                <span class="ui-icon"></span>
            </span>
            <%= service.get('username') %>
        </h3>

        <div data-role="fieldcontain" class="s-switch-setting">
            <span class="s-setting-label">Show Facebook in my Profile</span>
            <select name="facebook-link" id="facebook-link" class="x-facebook-link" data-role="slider" data-mini="true">
                <option value="false">Off</option>
                <option value="true" <% if (service.get('show_profile_link')){%>selected<%}%>>On</option>
            </select>
        </div>

    <% } %>
    <div class="ui-grid-b">
        <div class="ui-block-a"></div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c">
            <button data-theme="c" class="x-unlink unlink">Unlink</button>
        </div>
        <!-- <div class="ui-block-c">
            <button data-theme="h" class="x-save save">Save</button>
        </div> -->
    </div>
</div>
