<!-- A service that has not been linked. Shows icon and link button. -->

<% switch(provider) { case 'twitter': %>
    <a class="x-link link-service">
        <span class="s-twitter-sharing s-share-icon-small">
            <span class="ui-icon"></span>
        </span>
        Link Twitter
    </a>

<% break; case 'foursquare': %>
    <a class="x-link link-service">
        <span class="s-foursquare-sharing s-share-icon-small">
            <span class="ui-icon"></span>
        </span>
        Link Foursquare
    </a>

<% break; case 'tumblr': %>
    <a class="x-link link-service">
        <span class="s-tumblr-sharing s-share-icon-small">
            <span class="ui-icon"></span>
        </span>
        Link Tumblr
    </a>
<% break; case 'facebook': %>
    <a class="x-link link-service">
        <span class="s-twitter-sharing s-share-icon-small">
            <span class="ui-icon"></span>
        </span>
        Link Facebook
    </a>
<% } %>
