// App Logo
// -------------------------

.ui-footer .s-app-logo{
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -999px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	background-position: center;
	.img-responsive-theme('app-logo.png', 60px, 60px);
	
}

.s-tabbar-activity{
	position: absolute;
	left: 50%;
	margin-left: 32px;
	top: 50%;
	margin-top: -9px;
	overflow: visible;
	&:after{
		.arrow-left(5px, @accent-color, 50%, 0);
	}
	&:hover{
		&:after{
			.arrow-left(5px, darken(@accent-color, 10%), 50%, 0);
		}
	}
	&:active{
		&:after{
			.arrow-left(5px, @accent-color, 50%, 0);
		}
	}
}
	

