#user .s-avatar-block {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../css/gfx/1x/tk-behind-icon.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 140dpi), only screen and (min-resolution: 1.5dppx) {
  #user .s-avatar-block {
    background-image: url("../css/gfx/1.5x/tk-behind-icon.png");
    -webkit-background-size: 101px 101px;
    -moz-background-size: 101px 101px;
    -o-background-size: 101px 101px;
    background-size: 101px 101px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #user .s-avatar-block {
    background-image: url("../css/gfx/2x/tk-behind-icon.png");
    -webkit-background-size: 101px 101px;
    -moz-background-size: 101px 101px;
    -o-background-size: 101px 101px;
    background-size: 101px 101px;
  }
}
