#user .s-header {
  text-align: center;
}
#user .s-avatar-large {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background-size: cover;
}
#user .s-avatar-large:before {
  height: 120px;
  width: 120px;
  content: "";
  display: block;
  background-image: url('gfx/rough_avatar_frame.png');
  background-size: cover;
}
#user .ui-btn .s-number {
  color: #4ebfda;
}
