// Global values
// --------------------------------------------------

@m: 10px; // A number to use as a foundation for layout padding & sizes, less fiddly than em


// Brand colors
// -------------------------

@brand-color:       #34495E;
@accent-color:      #1ABC9C;

@info-color:        @brand-color;
@warning-color:     @brand-color;
@danger-color:      @accent-color;

@facebook-blue:     #4a689d;
@twitter-blue:      #3cacec;
@tumblr-blue:       #476c8d;
@foursquare-blue:   #48c0ed;

@gradient-bg-top:   @brand-color; // Gradients
@gradient-bg-bottom:#7bdce0;


// Grays
// -------------------------

@white:             #fff;
@gray-lighter:      #e6e6e6;
@gray-light:        #ccc;
@gray:              #999;
@gray-dark:         #666;
@gray-darker:       #202020;
@black:             #000;

@transparent:       rgba(0,0,0,0); // For using `transparent` in swatches with mixins & color modifiers
@black-trans:       rgba(0, 0, 0, .6);


// Typography
// -------------------------

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

@font-size-base:                15px;
@font-size-small:               13px;
@line-height:                   1.4;

@font-serif:                    Georgia,'Times New Roman', Times, sans-serif;
@font-sans:                     HelveticaNeue, Helvetica, Arial, sans-serif;
@font-special:                  HelveticaNeue-Light,Helvetica, Arial, sans-serif;
@font-special-2:                Montserrat, Helvetica, Arial, sans-serif;

@font:                          @font-special;

.font-normal(){
    font-family:                @font;
    font-weight:                500;
    font-size:                  @font-size-base
}

.font-italic(){
    font-style:                 italic;
    font-weight:                200;
}

.username-font(){
    font-family:                @font-special;
    font-size:                  @font-size-base;
    text-transform:             none;
}


// Headers
// ------------------------


// Headers
// ------------------------

.heading-font(){
    font-family: @font-special;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: @m * 2;
    line-height: @bar-title-line-height;
}
.heading-font-bold(){
    font-family: @font-sans;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

// .header-bar-font(){
//     font-family: @font-special;
//     font-weight: normal;
//     text-transform: lowercase;
//     font-size: @bar-title-font-size;
//     -webkit-font-smoothing: antialiased;
// }

.header-bar-font(){
    font-family: @font-special-2;
    text-transform: uppercase;
    font-size: @m * 1.5;
    -webkit-font-smoothing: antialiased;
    letter-spacing: @m * 0.4;
    font-weight: 700;
}

// Buttons
// ------------------------

@icon-large-width:  3*@m;

.button-font(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: none;
    font-size: @button-font-size;
    -webkit-font-smoothing: antialiased;

}

.button-font-light(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: lowercase;
    font-size: @button-font-size;
    -webkit-font-smoothing: antialiased;

}
.button-font-bold(){
    font-family: @font;
    font-weight: bold;
    text-transform: lowercase;
    font-size: @m * 1.5;
    -webkit-font-smoothing: antialiased;
}

.button-font-small(){
    font-family: @font;
    font-weight: bold;
    font-size: @font-size-small;
    line-height: @font-size-small;
}


// Bars
// ------------------------

.ui-bar-font(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}

/* Active stuff */
@active-background-color: @accent-color;


// Page
// ------------------------



// Layout
@padding: @m;
@margin: @m;
@vertical-margin: @m; // Space above and below components

.page(){

.s-avatar {
    display: none;
}

//HEADERS
@headerHeight: 5 * @m;
div[data-role='header']{  
    background-color: @brand-color !important;         
    min-height: @headerHeight;
    height:@headerHeight;   
    h1{
        line-height: @headerHeight;
        min-height: @headerHeight;
    }
    .ui-btn {
        height:@headerHeight !important;    
        width: 4 * @m !important;       
    }
} 

//PHOTOS FEED
#feed {
    .aj-radius-menu {
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 33.3%;
    }

    @coordinatesHeight : 4 * @m;
    .coordinates {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;
        height: @coordinatesHeight;
        background-color: rgba(255,255,255,0.6);
        color: @brand-color !important;
        .ui-icon-location {
            font-size: @m * 2.5;
            float: left;
            color: @brand-color;
        }
        .s-time {
            float: right;
            line-height: @coordinatesHeight;
            margin-right: 0.5 * @m;
            color: @brand-color;
        }
        .s-location {
            text-transform: uppercase;
            margin-top: @m;
            line-height: @coordinatesHeight;
            max-width: 55%;
            text-decoration: underline;
            cursor: pointer;
            color: @brand-color;
        }
        .haveTaken {
            clear: both;
            padding-left: @m;
            background-color: rgba(255,255,255,0.6);
        }
    }

    .aj-new {
        clear: both;
        float: left;
        margin-left: @m / 2;
        .ui-icon-bookmark {
            color: @accent-color;
        }
    }

    .s-image-details {
        padding-left: 0px;  
    }

    .s-description {
        margin-bottom: 5px;
    }

    .s-more-menu {
        position: fixed;
        top: 35%;
        left: 25%;
        width: 50%;
    }

    .takenText {
        position: absolute;
        top: 30%;
        left: 20%;
        color: @accent-color;
        font-size: @font-size-base * 3;
        letter-spacing: @m / 5 !important;
        -webkit-transform: rotate(-30deg);
        z-index: 5;
        opacity: 0;
    }

    div[class^="tags"] {
        background-color: @gray-lighter;
        padding: 3px 3px;
        min-height: 30px;
        border-radius: 0;
        .ui-btn {
            margin: 3px !important;
			
            font-size: 1 * @m;

        }
		.ui-icon-edit{
			font-size: 1 * @m;
        
			margin-left:0 !important;;
		}
    }

    .owner {
        background-color: #d6d6d6 !important;
    }

    .tags-editable { 
        display: none;
        border: 1px solid @white;
    }

    .s-action-buttons {
        border: none !important;
        .ui-btn {
            border: none;    
            border-radius: 0;   
            width: 3.5 * @m;
            height: 3.5 * @m;;
            margin: 0  0.5 * @m 0 0;   
        }
		.ui-btn:after {
                color: @gray-light;
         }
    }

    .afterImg {
        height: 0;
        margin-top: 2 * @m;
        border-top: 1px solid @gray-light;
        border-bottom: 1px solid @white;
       }

       .s-feed-end {
           a {
               color: @gray-dark;
               border-color: @gray-dark;
           }
           .outline-style:after {
               color: @gray-dark;
           }
       }
}



//SHARE PAGE
#share {
    label {
        color: @gray;
    }
    .s-image-textarea {
        .s-image-thumb {
            overflow: hidden;
        }
    }
    .materials {
        min-height: 42px;
        padding: 4px;
        background-color: @white;
    }
    .materials span {
        background-color: #ddd;
    }
    .edit-material .ui-btn {
        font-weight: normal;
    }
    .select-material {
        margin-bottom: 25px;
    }
    .x-location {
        padding: 10px;
    }
    .s-upload-image-location {
        position: static;
        top: 0; 

        .ui-icon-remove {
            //height: 48px;
            //line-height: 48px;
            margin-right: .5 * @m;
        }
		.ui-icon:after{
			float: left;
			margin-top: 3px;
		}
		.s-btn-text {
			top:0 !important;
		}
    }
    .x-share-button {
        letter-spacing: 0.1em ;
        font-weight: bold;
        position: relative;
        top: 20px;
        padding-bottom: 10px;
    }
} 

#uploading {
    .email{
        display: none; //shows when upload complete
    }
    label {
        margin-top: 1* @m;
    }
	.ui-block-a {
		float:left !important;
		width: 100%;
		background-color: @white;
		a {
			font-family: @font-special;
			font-size: 1.6 * @m;
	        /*font-family: @font-special-2 !important;
			font-size: 1.5 * @m;
			font-weight: 700;
	        -webkit-font-smoothing: antialiased !important;
	        letter-spacing: 0.4 * @m !important;
	        font-weight: normal !important;
	        text-transform: uppercase;*/
			color: @gray;
			float:left !important;
			
		}
		
	}

}

#activity {
    .s-comment-item {
        padding-left: 0;
    }
    .s-username {
        cursor: default;
    }
}

}

//FOOTER NAV BAR
@footerHeight: 5 * @m;
.ui-footer {
	/*border-top: 1px solid @white !important;*/
   .ui-btn {
        line-height: @footerHeight !important;
        font-family: @font-special-2 !important;
        -webkit-font-smoothing: antialiased !important;
        letter-spacing: 0.4 * @m !important;
        font-weight: normal !important;
        text-transform: uppercase;
		height: 2 * @m !important;
		
   }
	.ui-block-a{
		height: 5 * @m !important;
		border-right: 1px solid @white;
		.browse-btn:after {
	            font-size: 3 * @m !important;
				margin: 0 !important;
				padding: 0 !important;
				left: 42% !important;
				top: 12% !important;
	     }
	}
	.ui-block-b{
		height: 5 * @m !important;
		border-right: 1px solid @white;
		.map-btn:after {
	            font-size: 2.8 * @m !important;
				margin: 0 !important;
				padding: 0 !important;
				left: 40% !important;
				top: 20% !important;
	     }
	}

	.ui-block-c{
		height: 5 * @m !important;
		.launch-camera-options{
			height: 5 * @m !important;
			

		}
		.post-btn:after {
	            font-size: 2.8 * @m !important;
				margin: 0 !important;
				padding: 0 !important;
				left: 40% !important;
				top: 20% !important;
	     }

	}	
    min-height: @footerHeight !important;


}

.aj-distance {
	display: block !important;
	border-bottom: 1px solid @white !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	padding:0 !important;
	margin:0 !important;
	height: @footerHeight!important;
	text-align: center;
	vertical-align: middle !important;
	line-height: 50px !important;
}

//MAP PAGE
#map {
    // .s-map-base {
    //     display: none;
    // }

    .s-map-thumb {
         background-color: @accent-color;
     }

     .s-map-thumb-old {
          background-color: @brand-color;
      }

    .x-search-panel {
        .s-panel-header {
            h1 {
	        	font-family: @font-special-2 !important;
	        	-webkit-font-smoothing: antialiased !important;
                text-transform: uppercase;
                color: @brand-color;
				margin:0 !important;
				height: 6 * @m !important;
				line-height: 6.1 * @m !important;
            }
        }
		.x-search-button {
			margin-top: 2 * @m !important;
		}
    }
    .s-search-bar {
        right: 9px; //align with location input
    }

    input {
        font-family: @font-special;
        letter-spacing:.1 * @m;
        font-weight: normal;
        //background-color: @white;
        color: @black;
        text-transform:capitalize;
    }
}

#about {
	margin:0;
	pading:0;
	width:100%;
	
	text-align: center;
	color: @black;
	
	a.ui-btn{
		line-height: @m * 5;
	}
	

	p { 
		margin:0;
	}
	
	.ui-content {
		text-align: center;
		color: @black;
		margin:0;
	}
	li {
		text-align: center;
		color: @black;
	}
}






