// Global values
// --------------------------------------------------

@m: 10px; // A number to use as a foundation for layout padding & sizes, less fiddly than em


// Brand colors
// -------------------------

@brand-color:       #34495E;
@accent-color:      #1ABC9C;

@info-color:        @brand-color;
@warning-color:     @brand-color;
@danger-color:      @accent-color;

@facebook-blue:     #4a689d;
@twitter-blue:      #3cacec;
@tumblr-blue:       #476c8d;
@foursquare-blue:   #48c0ed;

@gradient-bg-top:   @brand-color; // Gradients
@gradient-bg-bottom:#7bdce0;


// Grays
// -------------------------

@white:             #fff;
@gray-lighter:      #e6e6e6;
@gray-light:        #ccc;
@gray:              #999999; //e6e6e6;
@gray-dark:         #666;
@gray-darker:       #5D6D7E; // 202020;
@black:             #000;

@transparent:       rgba(0,0,0,0); // For using `transparent` in swatches with mixins & color modifiers
@black-trans:       rgba(0, 0, 0, .6);


// Typography
// -------------------------

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

@font-size-base:                15px;
@font-size-small:               13px;
@line-height:                   1.4;


@font-serif:                    Georgia,'Times New Roman', Times, sans-serif;
@font-sans:                     HelveticaNeue, Helvetica, Arial, sans-serif;
@font-special:                  HelveticaNeue-Light,Helvetica, Arial, sans-serif;
@font-special-2:                Montserrat, Helvetica, Arial, sans-serif;

@font:                          @font-special;

.font-normal(){
    font-family:                @font;
    font-weight:                500;
    font-size:                  @font-size-base
}

.font-italic(){
    font-style:                 italic;
    font-weight:                200;
}

.username-font(){
    font-family:                @font-special;
    font-size:                  @font-size-base;
    text-transform:             none;
}

// .font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
// }


// Headers
// ------------------------

.heading-font(){
    font-family: @font-special;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: @m * 2;
    line-height: @bar-title-line-height;
}
.heading-font-bold(){
    font-family: @font-sans;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

// .header-bar-font(){
//     font-family: @font-special;
//     font-weight: normal;
//     text-transform: lowercase;
//     font-size: @bar-title-font-size;
//     -webkit-font-smoothing: antialiased;
// }

.header-bar-font(){
    font-family: @font-special-2;
    text-transform: uppercase;
    font-size: @m * 1.5;
    -webkit-font-smoothing: antialiased;
    letter-spacing: @m * 0.4;
    font-weight: 700 !important;
}

// Buttons
// ------------------------

@icon-large-width:  3*@m;

.button-font(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: none;
    font-size: @button-font-size;
    -webkit-font-smoothing: antialiased;

}

.button-font-light(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: lowercase;
    font-size: @button-font-size;
    -webkit-font-smoothing: antialiased;

}
.button-font-bold(){
    font-family: @font;
    font-weight: bold;
    text-transform: lowercase;
    font-size: @m * 1.5;
    -webkit-font-smoothing: antialiased;
}

.button-font-small(){
    font-family: @font;
    font-weight: bold;
    font-size: @font-size-small;
    line-height: @font-size-small;
}

// Bars
// ------------------------

.ui-bar-font(){
    font-family: @font-special;
    font-weight: normal;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}

/* Active stuff */
@active-background-color: @accent-color;


// Page
// ------------------------

// Layout
@padding: @m;
@margin: @m;
@vertical-margin: @m; // Space above and below components

.page(){

    @headerHeight: 50px;
    div[data-role='header']{           
        min-height: @headerHeight;
        height:@headerHeight;   
        //border-bottom: 1px solid @black;
        h1{
            line-height: @headerHeight;
            min-height: @headerHeight;
        }
        .ui-btn {
            height:@headerHeight !important;    
            width:@headerHeight;       
        }

    } 

    #feed {
        .s-time {
            float: right;
            cursor: cursor;
        }
        .s-location {
            text-transform: uppercase;
            max-width: 55%;
        }
        .s-image-area {
            padding-bottom: 0 !important;
            margin: 0;
            .takenContainer {
                position: absolute;
                bottom: 2px;
                right: 5px;
                .ui-slider {
                    border-radius: 20px !important;
                    width: 80px;
                    text-transform: uppercase;
                }
            }
        }
        .s-image-details {
            padding-left: 0;  
            .s-description {
                text-align: center;
                margin-bottom: 5px;
            }
            div[class^="tags"] {
                background-color: @gray-lighter;
                padding: 0 5px;
                min-height: 20px;
                border-radius: 0;
                a[href] {
                    color: @black;
                }
            }

            .owner {
                background-color: #d6d6d6 !important;
            }

            .tags-editable { 
                //cursor: pointer;
                display: none;
                .submitTag {
                    //float: right;
                }
                .ui-btn {
                    //margin-top: @m/2;
                    //margin-bottom: @m /2;
                }
            }
            .s-action-buttons {
                border: none !important;
                .ui-btn {
                    border: none;    
                    border-radius: 0;   
                    width: 3.5 * @m;
                    height: 3.5 * @m;;
                    margin: 0  0.5 * @m 0 0;   

                }

            }
        }

    } //end feed

    #share {

        label {
            color: @gray;
            height: 15px !important;
        }

        .s-image-textarea {
            .s-image-thumb {
                overflow: hidden;
            }

        }

        .materials {
            min-height: 42px;
            //height: 42px;
            padding: 4px;
            background-color: @white;
        }

        .materials span {
            background-color: #ddd;
        }

        .edit-material .ui-btn {
            font-weight: normal;
        }

        .select-material {
            margin-bottom: 25px;
        }

        .s-upload-image-location {
            position: static; 
            .x-location {
                height: 48px;
                line-height: 48px;
                padding: 0 10px;
                margin: 0;
            }
        }

        .x-share-button {
            letter-spacing: 0.1em ;
            font-weight: bold;
            position: relative;
            top: 20px;
            padding-bottom: 10px;
        }


    } //end share


    #uploading {
        .ui-btn-active{
            background-color: @brand-color !important;
        }
        .email{
            display: none; //shows when upload complete
        }
    }

    #map {
        .s-map-base {
            display: none;
        }

       .s-map-thumb {
            background-color: green;
        }

       .s-map-thumb-old {
            background-color: red;
        }
    }

    //Footer

    .footerStyles {
        font-size:1.5 * @m !important;
        font-family: Montserrat;
        -webkit-font-smoothing: antialiased !important;
        padding: 0 !important;
        margin: 0 !important;
        text-transform: uppercase;
        letter-spacing: 0.4 * @m;
        font-weight: normal;
    } 

    @footerHeight: 5 * @m;

    .ui-footer {
        min-height: @footerHeight !important;
       .ui-btn {
            line-height: @footerHeight !important;
            .footerStyles;

       }
       .ui-select {
            .footerStyles;
        }

    }

    #browse-listbox .ui-title {
        display: none; //or else browse pop-up is off
    }

    #browse-menu{ //doesn't work nested in the footer
        position: fixed;
        bottom: @footerHeight;
        left: 0;
        width: 50%;
        border-radius: 0;
        .ui-btn{ //buttons inside the select browse menu
            text-align: center;
            font-size: 0.8em;
            height: @footerHeight;
            line-height: @footerHeight;
            margin: 0;
            
            padding: 0;
        }
    }

}



