<div id="about" data-role="page" class="welcome-bg s-special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1><%= T('Who Moi?') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <h4>Bow Ties on Cats.</h4>
                    <p>Is your cat a bit scruffy? Does he/she object to being dressed up? Now there is a solution.</p>
                    <p>Choose from a range of dapper outfits and accessories that are sure to make your feline friend all the more charming.</p>
                    <p>Snap on a classic themed filter and miaow! You are ready to light up the interwaves. Share the photo to all your favourite social networks.</p>
                    <p>Stay classy pussycats!</p>
                </li>
                <li>
                    <a href="#/about-snapr/"><%= T('About') %> Snapr &rsaquo;</a>
                </li>
            </ul>

        </div>
    </div>
</div>
