<div id="about" data-role="page" class="welcome-bg s-special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1><%= T('Tuxedo Kittie') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <h4>Who Moi?</h4>
                    <p>Give your feline friend a sense of classic style.</p>
                    <p>Choose from a range of dapper outfits and accessories, snap on an old timey filter and miaow! You are ready to light up the interwaves.</p>
                    <p>Share the photos to all your favourite social networks and find other kitties to adore.</p>
                </li>
                <li>
                    <a href="#/about-snapr/"><%= T('About') %> Snapr &rsaquo;</a>
                </li>
            </ul>

        </div>
    </div>
</div>
