<div data-role="footer" data-position="fixed" data-ajax="false" data-tap-toggle="false" data-theme="b" class="s-tab-bar tab-bar-icons">
<div class="s-bg-load-bar">
    <span class="s-load-bar-animate"></span>
</div>
    <div data-role="navbar" data-iconpos="top">
        <ul>
            <li><a href="#/feed/" data-icon="home" data-theme="b" data-name="feed"><%= T('Feeds') %></a></li>
            <li>
                <span class="s-hero-button">
                <label class="x-launch-camera-options" for="x-web-upload"><a data-icon="share"  data-theme="b" data-name="share"><%= T('Share') %></a></label>
                </span>
                </li>
            <% if(username){ %>
                <li>

                    <a href="#/feed/?username=<%= username %>" data-icon="user" data-theme="b" data-name="me"><%= T('Me') %></a>
                    <span class="x-upload-count hide s-count-item"></span>

                </li>
            <% }else{ %>
                <li><a href="#/welcome/" data-icon="user" data-theme="b" data-name="welcome"><%= T('Login') %></a></li>
            <% } %>

        </ul>
    </div><!-- /navbar -->

    <% if(username){ %>
        <a class="x-activity s-tabbar-activity s-my-snaps-only ui-bar" href="#/activity/" data-role="button" data-mini="true" data-theme="e">
            <!-- <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-heart"></span>x 1</span>
            <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-comment"></span>x 4</span> -->

            <span class="s-activity-count icon-left"><span class="ui-icon ui-icon-activity"></span><%= T('Activity') %></span>
        </a>
    <% } %>
</div><!-- /footer -->
