<div id="snapr-apps" class="welcome-bg special-bg" data-role="dialog" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1>Apps</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="inset-page-content wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <a href="#/about/">Featured Apps TBC</a>
                </li>
            </ul>
        </div>
    </div>
</div>
