<div id="my-account"  data-tab-bar="true" data-title="My Account" data-role="page" data-short-title="My Account" data-theme="d">
    <div data-role="header" data-theme="b">
        <div class="ui-btn-left" data-ajax="false">
            <a data-role="button" data-rel="back">Menu</a>
        </div>

        <h1>My Account</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>
    <div data-role="content" data-theme="c" data-ajax="false">
        <div class="account-content">
        </div>
    </div>
</div>
