<div id="upload" data-role="page" data-short-title="Upload" data-theme="a" data-ajax="false">
    <div data-role="header">
        <h1>Upload</h1>
        <a href="#/" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d">
        <div class="inset-page-content">
            <form id="upload-form" action="javascript:void(0);" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="redirect_uri" id="redirect_uri"/>
                <input type="hidden" name="device-time" id="device-time"/>
                <input type="hidden" name="-set-later-" id="_access_token"/>
                <input type="hidden" name="app_group" id="app_group"/>
                <input type="hidden" name="privacy" id="privacy" value="queued"/>

                <ul data-role="listview" data-inset="true" data-theme="d">

                    <li>
                        <h1>Select a photo to upload:</h1>
                        <input type="file" name="photo" id="upload-file" />
                    </li>
                    <li class="ui-hide-label">
                        <p>*Images should be in the .jpg format</p>
                    </li>
                    <li class="ui-hide-label">
                        <div style="border:1px #666 solid; weight:12px;"><div id="progress-bar" style="height:12px; background:#BadA55; width:0%;"></div></div>
                        <div id="upload-status"></div>
                    </li>
                </ul>


                <input disabled="true" type="submit" value="Upload Snap" id="upload-submit" data-theme="e" />
            </form>
        </div>
    </div>
</div>
