<div class="center-palette">
    <div class="inline-palette ui-body-b" data-theme="b">
        <div data-role="controlgroup" data-type="horizontal" class="dark-icons">
            <% if (mine) {%>
                <a class="x-image-privacy" data-role="button" data-icon="settings" data-inline="true" data-iconpos="left">
                    <%= status %>
                </a>
                <a class="x-image-delete" data-role="button" data-icon="delete" data-inline="true" data-iconpos="notext">
                   delete
               </a>
            <%} else {%>
                <a class="x-image-flag" data-role="button" data-icon="flag" data-inline="true" data-iconpos="notext">
                    <% if (flagged){%> flagged <% }else{ %> flag <% } %>
                </a>
            <%}%>
       </div>
    </div>
</div>
