<div class="feed-user-header page-inset-header">
    <div class="ui-bar-e feed-follow-bar ui-bar top-no-arrow">
        <span class="ui-bar-inner">
        <span class="username"><%= user.get('display_username') %></span>
           <div class=" ui-btn-right">
            <% if (!logged_in) {%>
                <button data-inline="true" data-icon="plus" data-iconpos="right" data-corners="false" data-shadow="false" class="follow">Follow</button>
            <%}else{%>
                <% if (user.get('username') == auth_username){%>
                    <button data-inline="true" disabled="true" data-icon="check" data-iconpos="right" data-corners="false" data-shadow="false" class="thats-me">That&apos;s Me</button>
                <%}else{%>
                    <% if (user.get('relationship').you_follow) {%>
                    <button data-inline="true" data-icon="check" data-iconpos="right" data-corners="false" data-shadow="false" class="unfollow">Following</button>
                    <%}else{%>
                    <button data-inline="true" data-icon="plus" data-iconpos="right" data-corners="false" data-shadow="false" class="follow">Follow</button>
                    <%}%>
                <%}%>
            <%}%>
            </div>
        </div>

    <div class="user-info-block">
        <div class="user-icon-left">
            <a class="user-profile-icon" data-snapr-dialog="true" href="#/user/profile/?username=<%= user.get('username') %>">
                <div class="user-icon-big" style="background-image: url('<%= config.get('avatar_url') %>/<%= user.get('user_id') %>?size=large');"></div>
                <div class="icon-overlay-info"></div>
            </a>
        </div>

        <div class="ui-grid-b user-stats">
            <div class="ui-block-a">
                <a href="#/feed/?username=<%= user.get('username') %>">
                    <span class="big-number"><%= user.get('photo_count') %></span>
                    <span>Photos</span>
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#/user/followers/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                    <span class="big-number"><%= user.get('followers') %></span>
                    <span>Followers</span>
                </a>
            </div>
            <div class="ui-block-c">
                <a href="#/user/following/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                    <span class="big-number"><%= user.get('following') %></span>
                    <span>Following</span>
                </a>
            </div>
        </div>

    </div>
 </div>
