<div class="ui-bar-e ui-bar">
    <% if(feed_title){ %>
        <strong><%= feed_title %></strong>
    <% }else{ %>
        <% switch (feed_type) { case 'spot': %>
            @ <strong><%= feed_parameter %></strong>
        <% break; case 'location': %>
            <strong>Location Feed</strong>
        <% break; case 'search': %>
            Search for <strong><%= feed_parameter %></strong>
        <% break; case 'favorites': %>
            Favorited by <a href="#/feed/?username=<%= feed_parameter %>"><strong><%= feed_parameter %></strong></a>
        <% break; case 'recent': %>
            <strong>Recent Uploads</strong>
        <% break; case 'feed': %>
            <strong>Photos</strong>
        <% break;}%>
    <% } %>
</div>
