<div class="s-upload-info-block">
    <a class="s-upload-image-thumb-gall x-gallery-link s-image-link ui-link">
        <div style="background-image: url('<%= thumbnail %>')" class="s-thumb-image thumb-small s-css-thumb"></div>
    </a>
    <div class="s-upload-info">
        <div class="s-progress-bar <%= upload_status %>">
            <!-- //Active uploads -->
            <% switch (upload_status) { case 'active': %>
            <% if (percent_complete == 100){ %>
            <span class="s-upload-message">Finishing</span>
            <a class="s-bar-action">
                <span class="ui-icon ui-icon-spinner"></span>
            </a>
            <% }else{ %>
            <div class="s-bar-wrapper">
                <div class="s-bar-bg s-bar"></div>
                <div class="s-bar-prog s-bar" style="width:<%= percent_complete %>%"></div>
            </div>
            <a class="s-bar-action x-cancel-upload">
                <span class="ui-icon ui-icon-delete"></span>
            </a>
            <% } %>

            <% break; case 'waiting': %>
            <span class="s-upload-message">Waiting</span>
            <a class="s-bar-action x-cancel-upload">
                <span class="ui-icon ui-icon-delete"></span>
            </a>

            <% break; case 'canceled': %>

            <% break; case 'hold': %>

            <% break; case 'completed': %>
            <span class="s-upload-message">Complete</span>
            <a class="s-bar-action">
                <span class="ui-icon ui-icon-check"></span>
            </a>
            <% break;}%>
        </div>
    </div>
</div>
