<div class="s-feed-header s-inset-header">
    <div class="s-icon-left">
        <a class="s-profile-icon" data-snapr-dialog="true" href="#/user/profile/?username=<%= user.get('username') %>">
            <div class="s-avatar-large" style="background-image: url('<%= config.get('avatar_url') %>/<%= user.get('user_id') %>?size=large');"></div>
            <div class="s-icon-overlay"></div>
        </a>
        <h4 class="s-username">
            <%= user.get('display_username') %>
            <span class="s-follow-btn x-follow-btn ui-btn-right">
                <% if (!logged_in) {%>
                <button data-inline="true" data-icon="plus" data-iconpos="right" data-corners="false" data-shadow="false" class="follow" data-theme="e">Follow</button>
                <%}else{%>
                <% if (user.get('username') == auth_username){%>
                <button data-inline="true" disabled="true" data-icon="check" data-iconpos="right" data-corners="false" data-shadow="false" class="thats-me" data-theme="e">That&apos;s Me</button>
                <%}else{%>
                <% if (user.get('relationship').you_follow) {%>
                <button data-inline="true" data-icon="check" data-iconpos="right" data-corners="false" data-shadow="false" class="unfollow" data-theme="e">Following</button>
                <%}else{%>
                <button data-inline="true" data-icon="plus" data-iconpos="right" data-corners="false" data-shadow="false" class="follow" data-theme="e">Follow</button>
                <%}%>
                <%}%>
                <%}%>
            </span>
        </h4>
        <div class="ui-grid-b s-header-stats">
            <div class="ui-block-a">
                <a href="#/feed/?username=<%= user.get('username') %>">
                    <span class="s-hero-number"><%= user.get('photo_count') %></span>
                    <span>Photos</span>
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#/user/followers/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                    <span class="s-hero-number"><%= user.get('followers') %></span>
                    <span>Followers</span>
                </a>
            </div>
            <div class="ui-block-c">
                <a href="#/user/following/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                    <span class="s-hero-number"><%= user.get('following') %></span>
                    <span>Following</span>
                </a>
            </div>
        </div>
    </div>
</div>
