<div id="post-<%= model.get('id') %>" class="post-<%= model.get('type') %> post">

    <div class="tumblr-body">
        <audio controls preload="none" src="<%= model.get('audio_url') %>"></audio>


        <%if(model.get('track_name') || model.get('artist') || model.get('album')) { %>
               <h4><%= model.get('track_name') %>
                   <% if(model.get('artist')) { %> by <%= model.get('artist') %><% } %>
                   <% if(model.get('album')) { %> from '<%= model.get('album') %>'
                     <% if (model.get('year')) { %> <%= model.get('year') %> <% } %>
                   <% } %>
               </h4>
           <% } %>

    <% if(model.get('caption')){%><%=model.get('caption').replace(/\n/g, '<br>' )%><%}%>
    <% if(model.get('plays')) {%><p><%=model.get('plays')%> plays</p><%}%>
    <% if(model.get('source')){%><%=model.get('source') %><%}%>
    </div>
</div>
