<div id="about" class="welcome-bg s-special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1>Info</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <h4>About Your App</h4>
                    <p>Put info about your app here :)</p>
                </li>
            </ul>

            <p class="centered-link">
                <a href="#/about-snapr/">About Snapr &rsaquo;</a></li>
            </p>
        </div>
    </div>
</div>
