<div id="about-snapr" data-role="page" class="s-snapr-welcome-bg s-special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1><%= T('About') %> Snapr</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <p><%= T('Snapr is a new service that makes it easy for people to create great photo apps.') %></p>
                    <p><a class="" href="http://apps.sna.pr"><%= T('Check out some of the first apps to use Snapr') %> &rarr;</a></p>

                    <p><%= T("If an app offers 'Sign in with Snapr' you can also view all your photos on Snapr's website and app") %>:</p>

                </li>

                <li class="s-app-link">
                    <a class="s-iOS-appstore s-appstore-badge" href="http://itunes.apple.com/app/snapr/id359528116?mt=8">
                        <span class="s-platform-logo"></span>
                    </a>
                </li>
                <li class="s-app-link">
                    <a class="s-android-marketplace s-appstore-badge" href="https://play.google.com/store/apps/details?id=pr.sna.snapr">
                        <span class="s-platform-logo"></span>
                    </a>
                </li>
                <li>
                    <p><%= T('Are you a developer? Find out more about how you can easily create your own apps at') %> <a href="http://developers.sna.pr">developers.sna.pr.</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
