<div id="about-snapr" class="snapr-welcome-bg special-bg" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1>About Snapr</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <p>Snapr is a new service that makes it easy for people to create their own photo sharing apps for different activities, interests, or causes.</p>
                    <p><a class="" href="http://apps.sna.pr">Check out some of the first apps to use Snapr &rarr;</a></p>

                    <p>If an app offers 'Sign in with Snapr' you can view all your photos on Snapr's website and app:</p>

                </li>

                <li>
                    <a class="iphone-appstore appstore-badge" href="http://itunes.apple.com/app/snapr/id359528116?mt=8">
                        <span class="platform-logo"></span>
                    </a>
                </li>
                <li>
                    <a class="android-marketplace appstore-badge" href="https://play.google.com/store/apps/details?id=pr.sna.snapr">
                        <span class="platform-logo"></span>
                    </a>
                </li>
                <li>
                    <p>Are you a developer? Find out more about how you can easily create great photo apps at <a href="http://developers.sna.pr">developers.sna.pr.</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
