<div id="activity" data-title="Activity" data-add-back-btn="true" data-role="page" data-theme="d" data-tab-bar="true">
    <div data-role="header" data-theme="b">
        <h1>Activity</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/" data-role="button" data-icon="home" data-iconpos="notext"></a>
       </div>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <ul class="activity-streams">
            <!-- dynamic -->
        </ul>
  </div>
</div>
