<div id="app" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1>Get the App!</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="inset-page-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li class="wrap-content">
                    <p>For the best experience please download one of our apps:</p>
                </li>

                <li>
                    <a class="iphone-appstore appstore-badge" href="http://itunes.apple.com/app/snapr/id359528116?mt=8">
                        <span class="platform-logo"></span>
                    </a>
                </li>
                <li>
                    <a class="android-marketplace appstore-badge" href="market://details?id=pr.sna.snapr&feature=search_result">
                        <span class="platform-logo"></span>
                    </a>
                </li>
            </ul>
            <p class="small-text">Does your phone allow browser based uploads?</p>
            <a data-role="button" data-theme="e" class="x-web-upload">Upload via Mobile Web </a>
            </div>
        </div>
    </div>
</div>
