<div id="cities" data-title="Cities" data-add-back-btn="true" data-role="page" data-theme="d">

   <div data-role="header" data-theme="b">
        <h1>Cities</h1>
        <div class="ui-btn-right" data-ajax="false">
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>

    <div data-role="content" data-theme="a" data-ajax="false">
        <ul class="x-image-streams image-streams">

            <!-- Streams get injected here -->

            <li class="image-stream">
                <a class="ui-bar ui-bar-b x-details" data-role="button" data-theme="b">
                    <span class="image-details x-details">
                        <span class="ui-icon ui-icon-redheart "></span>
                        <em></em>
                        <span class="image-tag x-tag"></span>
                        <span class="s-image-time small-text">
                            <span class="ui-icon ui-icon-clock "></span>
                            <span class="x-date"></span>
                        </span>
                    </span>
                </a>
           </li>

        </ul>
   </div>

</div>
