 <div id="comp" data-title="Comps" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">
        <h1>Comps</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
        </div>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false" class="competition">
        <% if(!initial){ %>
            <a class="ui-bar x-details s-arrow-d-left" data-role="button" data-iconpos="left" data-icon="open" data-theme="e" data-ajax="false">
            <span class="s-image-details">
                    <em><%= title %></em>
                </span>
            </a>
            <div class="banner">
                <img class="banner-image" src="<%= banner.mobile %>">
            </div>

            <ul class="award-stream"></ul>

            <% if(status == 'open'){ %>
                <a class="ui-bar x-details x-launch-camera-options" data-role="button" data-icon="arrow-r" data-iconpos="right" data-theme="c" data-ajax="false" data-extra_params="comp_id=<%= id %>">
                    <span class="comp-details">
                        <em>Enter now!</em>
                        <span class="s-small-text">
                            <% if(closing_date){ %>
                                Submissions close <%= string_utils.short_timestamp(closing_date) %>
                            <% } %>
                        </span>
                    </span>
                </a>

                <br>

                <a data-role="button" data-theme="e">submit a photo</a>

            <% } else { %>
                <a class="ui-bar x-details x-launch-camera-options" data-role="button" data-icon="arrow-r" data-iconpos="right" data-theme="c" data-ajax="false" data-extra_params="comp_id=<%= id %>">
                    <span class="comp-details">
                        <em>Comp closed!</em>
                        <span class="s-small-text">Check out the winning shots.</span>
                    </span>
                </a>
            <% } %>

            
            <ul data-role="listview" data-ajax="false" data-theme="d">
                <li>
                    <h4>More info:</h4>
                    <p><%= long_description %></p>
                </li>
            </ul>
            

            <ul class="s-image-streams"></ul>

            <div class="comp-footer s-inline-footer ui-body-c ">
                <div class="ui-content">
                    <a data-role="button" data-theme="c">previous competitions</a>
                </div>
            </div>

        <% } %>
    </div>
</div>
