<div id="connect" data-role="page" data-title="Connect" data-ajax="false">
    <div data-role="header" data-theme="c">
        <h1>Connect</h1>
        <a href="#/" data-role="button" data-icon="delete" data-iconpos="notext" class="x-close"></a>
    </div>
    <div data-role="content" data-theme="d">
        <div class="s-inset-page-content">
            <p>Please link up for sharing:</p>
            <ul data-role="listview" data-ajax="false" class="s-add-services" data-inset="true" data-theme="d">
            </ul>
        </div>
    </div>
</div>
