<div id="feed" data-role="page" data-tab-bar="true" data-title="<%= T('Feed') %>" data-theme="d" data-add-back-btn="true">
    <div data-role="header" data-theme="b">

        <div class="ui-btn-center" data-ajax="false">
            <fieldset data-role="controlgroup" data-type="horizontal" class="x-feed-view-toggle s-feed-view-toggle s-header-toggle dark-icons">
                <input type="radio" name="feed-view-list" id="feed-view-list" class="x-list" value="list" >
                <label for="feed-view-list"><span class="ui-icon ui-icon-list-view"></span><%= T('List') %></label>
                <input type="radio" name="feed-view-grid" id="feed-view-grid" class="x-grid" value="grid">
                <label for="feed-view-grid"><span class="ui-icon ui-icon-grid-view"></span><%= T('Grid') %></label>
            </fieldset>
        </div>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/my-account/" class="s-my-snaps-only" data-role="button" data-icon="gear" data-iconpos="notext"></a>
            <a href="#/search/" class="s-not-on-my-snaps" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>

    <div class="x-feed-content" data-role="content" data-theme="d" data-ajax="false">
        <div class="s-upload-progress-header s-inline-header">
            <ul class="x-feed-upload-list">
            </ul>
        </div>
        <div class="s-main-feed-content">
            <div class="x-feed-header">

                <% if(obj.user){ %>

                <div class="s-feed-header s-inline-header">
                        <div class="s-user-icon-left">
                            <a class="s-profile-icon" data-snapr-dialog="true" href="#/user/profile/?username=<%= user.get('username') %>">
                                <div class="s-avatar-large" style="background-image: url('<%= config.get('avatar_url') %>/<%= user.get('user_id') %>?size=large');"></div>
                                <div class="s-icon-overlay"></div>
                            </a>
                        </div>


                        <% if(config.get('follow_controls')){ %>
                            <% if (!auth.has( "access_token" )) {%>
                                <a data-inline="true" data-icon="plus" data-iconpos="right"  data-shadow="false" class="x-follow s-follow-btn ui-bar" data-theme="e" data-role="button"><%= T('Follow') %></a>
                            <%}else if (user.get('username').toLowerCase() == auth.get("snapr_user").toLowerCase()){%>
                                <a data-inline="true" disabled="true" data-icon="check" data-iconpos="right" data-shadow="false" class="thats-me s-follow-btn ui-bar" data-theme="e" data-role="button"><%= T("That's Me") %></a>
                            <%}else if (user.get('relationship').you_follow) {%>
                                <a data-inline="true" data-icon="check" data-iconpos="right"  data-shadow="false" class="x-unfollow s-follow-btn ui-bar" data-theme="e" data-role="button"><%= T('Following') %></a>
                            <%}else{%>
                                <a data-inline="true" data-icon="plus" data-iconpos="right" data-shadow="false" class="x-follow s-follow-btn ui-bar" data-theme="e" data-role="button"><%= T('Follow') %></a>
                            <%}%>
                        <%}%>


                        <h4 class="s-username">
                            <%= user.get('display_username') %>
                        </h4>


                        <div class="ui-grid-b s-header-stats">
                            <div class="ui-block-a">
                                <a href="#/feed/?username=<%= user.get('username') %>">
                                    <span class="s-hero-number"><%= user.get('photo_count') %></span>
                                    <span><%= T('Photos') %></span>
                                </a>
                            </div>
                            <div class="ui-block-b">
                                <a href="#/user/followers/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                                    <span class="s-hero-number"><%= user.get('followers') %></span>
                                    <span><%= T('Followers') %></span>
                                </a>
                            </div>
                            <div class="ui-block-c">
                                <a href="#/user/following/?username=<%= user.get('username') %>" data-snapr-dialog="true">
                                    <span class="s-hero-number"><%= user.get('following') %></span>
                                    <span><%= T('Following') %></span>
                                </a>
                            </div>
                        </div>
                    </div>

                <% }else if(obj.feed){ %>

                    <a class="ui-bar <% if(config.get('dropdown_menu_options')){ %>x-has-dropdown<% } %>" data-role="button" data-theme="e">


                        <% var selected = feed.get_dropdown_selected() %>
                        <% if(feed.query.feed_title){ %>
                            <strong><%= feed.query.feed_title %></strong>
                        <% }else if(selected){ %>
                            <span class="ui-icon ui-icon-<%= selected.icon %>"></span><strong><%= T(selected.label) %></strong>
                        <% }else if (feed.query.keywords){ %>
                            <span class="ui-icon ui-icon-search"></span><%= T('Search for') %> <strong><%= feed.query.keywords %></strong>
                        <% }else if (feed.query.area){ %>
                            <span class="ui-icon ui-icon-location"></span><strong><%= T('Location Feed') %></strong>
                        <% }else if (feed.query.favorited_by){ %>
                            <span class="ui-icon ui-icon-heart"></span><%= T('Favorited by') %> <a href="#/feed/?username=<%= feed.query.favorited_by %>" data-role="none"><strong><%= feed.query.favorited_by %></strong></a>
                        <% }else if (feed.query.spot && feed.query.venue_name){ %>
                            <span class="ui-icon ui-icon-venue"></span>@ <strong><%= feed.query.venue_name %></strong>
                        <% }else if (feed.query.sort == 'weighted_score'){ %>
                            <span class="ui-icon ui-icon-heart"></span><strong><%= T('Popular') %></strong>
                        <% }else{ %>
                            <span class="ui-icon ui-icon-photos"></span><strong><%= T('Photos') %></strong>
                        <% } %>
                        <span class="ui-icon ui-icon-arrow-d"></span>

                    </a>

                    <% if(config.get('dropdown_menu_options')){ %>
                        <ul class="x-dropdown s-dropdown">
                            <% _.each(config.get('dropdown_menu_options'), function(item){ %>
                                <% if(item != selected){ %>
                                    <% if(
                                        (item.show_for == "logged_in_only" && !auth.has('access_token')) ||
                                        (item.show_for == "logged_out_only" && auth.has('access_token'))
                                    ){ return } %>
                                    <li>
                                        <a href="<%= item.url %>" class="ui-bar" data-role="button" data-theme="b" data-icon="<%= item.icon %>" data-icon-pos="left"><%= T(item.label) %></a>
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    <% } %>

                <% } %>
            </div>

            <section id="feed-images" class="x-feed-images gallery"></section>

            <div class="v-feed-more x-feed-more">
                <div class="s-feed-footer s-inline-footer ui-body-c hide">
                    <button class="x-load-more ui-btn-right"><%= T('Load More') %></button>
                </div>
            </div>
        </div>
    </div>

</div>
