<div id="find-friends" data-role="page" data-title="Find Friends" data-overlay-theme="c" data-theme="c">
    <div data-role="header" data-theme="c">
        <h1><%= T('Find Friends') %></h1>

        <a class="x-back" data-ajax="false" data-role="button" data-icon="delete" data-iconpos="notext" data-transition="none"></a>
    </div>
    <div data-role="content" data-theme="c" data-ajax="false">
        <div class="s-inset-page-content">
            <ul data-role="listview" data-ajax="false" class="share-icons-list" data-inset="true" data-theme="d">
                <li>
                    <a class="find-friends-link x-back-here" href="#/find-friends-facebook/">
                        <span class="s-facebook-sharing s-share-icon-small">
                            <span class="ui-icon"></span>
                        </span>
                        Facebook
                     </a>
                </li>
                <li>
                    <a class="find-friends-link x-back-here" href="#/find-friends-twitter/">
                        <span class="s-twitter-sharing s-share-icon-small">
                            <span class="ui-icon"></span>
                        </span>
                        Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
