<div id="forgot-password" data-role="dialog" data-overlay-theme="c" data-theme="c" data-ajax="false" class="snapr-bg special-bg">
    <div data-role="header" data-theme="c">
        <h1>Forgot Password</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d">
        <div class="inset-page-content">
            <form action="javascript: void(0);" accept-charset="utf-8" id="forgot-form">
                <ul data-role="listview" data-inset="true" data-theme="d">
                    <li data-role="fieldcontain" class="ui-hide-label">
                        <label for="username">Username or Email</label>
                        <input type="text" name="username" placeholder="Username or Email" autocapitalize="off" autocorrect="off">
                    </li>
                </ul>
               <input type="submit" name="login" data-theme="e" value="Reset Password">

            </form>
        </div>
    </div>
</div>
