<div id="foursquare_venues" data-overlay-theme="c" data-theme="c" data-ajax="false">
    <div data-role="header" data-theme="c">
       <h1>Venues</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="c">
        <div class="s-search-header">
            <form class="venue-search">
               <input type="search" id="venue-search" value="x-search-input" class="" placeholder="Search&hellip;" autocapitalize="off" autocorrect="off"/>
            </form>
        </div>
        <ul class="venue-list " data-role="listview" data-inset="true" >
            <!-- dynamic -->
        </ul>
    </div>
</div>
