<div id="leaderboard" data-title="Leaderboard" data-overlay-theme="c" data-theme="c" data-ajax="false" data-add-back-btn="false">
    <div data-role="header" data-theme="c">
        <h1>Leaderboard</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="c">
        <div class="info-header">
            <p class="message">Each photo you take earns points. Get bonus points for sharing to social networks and if people comment on and like your images.
        </div>
        <ul class="x-people-list people-list leaderboard-list" data-role="listview" data-inset="true" data-theme="c" data-split-theme="c" data-corners="false" data-shadow="false">
            <!-- dynamic -->
        </ul>
    </div>
</div>
