<div id="s-linked-services" data-title="Linked Services" data-ajax="false">
    <div data-role="header">
        <h1>Linked Services</h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="services-content">
            <h2 class="tolink-message"></h2>
            <h4>Connect</h4>
            <ul class=" add-services" data-role="listview">
            </ul>
            <h4>Linked Services</h4>
            <div class="s-linked-services">
            </div>

        </div>
    </div>
</div>
