<div id="map" data-role="page" data-title="Map" data-add-back-btn="true" data-theme="d">
    <div data-role="header" data-theme="b">

      
        <div class="ui-btn-center " data-ajax="false">
            <fieldset data-role="controlgroup" data-type="horizontal" class="header-toggle dark-icons">
                <input type="checkbox" name="map-view-spots" id="map-view-spots" value="spots" >
                <label for="map-view-spots"><span class="ui-icon ui-icon-spots"></span>Spots</label>
                <input type="checkbox" name="map-view-photos" id="map-view-photos" value="photos">
                <label for="map-view-photos"><span class="ui-icon ui-icon-photos"></span>Photos</label>
            </fieldset>
        </div>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a data-role="button" data-icon="location" data-iconpos="notext" class="x-current-location"></a>
        </div>
    </div>

    <div id="map-layer" class="photo-map" data-role="content" data-theme="a">

        <a class="x-map-feed ui-bar ui-bar-b top-no-arrow" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="b">
            <span class="ui-icon ui-icon-location map-icons"></span>
            <em class="map-description"></em>
            <span class="image-tag">Show as Feed</span>
        </a>

        <div id="google-map"></div>

        <div id="map-disambiguation" data-role="content" data-theme="d" style="">
            <h4>Did you mean&hellip;</h4>
            <ul data-role="listview" id="map-disambiguation-list" class=" map-list">
            </ul>
            <div class="cancel-btn">
                <button id="map-disambituation-cancel" data-theme="c">Cancel</button>
            </div>
        </div>

        <div id="snaprmapalert" style="display:none;">
            <p class="imagealert"><span class="ui-icon ui-icon-sadface map-icons"></span>No images found in this area</p>
        </div>

        <div class="v-map-controls inline-footer ui-body-a trans-bg map-icons">
           <div class="map-time">
               <div class="ui-bar ui-bar-e small-top-left-arrow">
                   Now
               </div>

               <a class="map-time-btn" data-role="button" data-icon="mapTime" data-iconpos="notext">
            </a>
                <div class="map-loading ui-shadow">
                    <span class="ui-icon ui-icon-spinner"></span>
                </div>

            </div>
            <div class="map-filters">
                <div class="ui-grid-a">
                    <div class="ui-block-a">

                        <select id="map-filter">
                            <option value="just-one">Just One</option>
                            <option value="just-me">Just Me</option>
                            <option value="following">Following</option>
                            <option value="all">All</option>
                        </select>

                        <span class="ui-icon ui-icon-person-a"></span>
                    </div>

                    <div class="ui-block-b">
                        <form id="map-keyword" action="javascript:void(0);">
                            <input type="search" name="map-keyword"  placeholder="#keywords" class="" autocapitalize="off"/>
                        </form>

                        <span class="ui-icon ui-icon-search-a"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
