<div id="popular" data-title="Popular" data-tab-bar="true" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">

        <h1>Popular</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>

    </div>
    <div data-role="content" data-theme="d" data-ajax="false">

        <div data-role="navbar" data-theme="e" class="ui-body-e">
            <ul id="popular-timeframe">
                <li><a id="popular-time-today">Today</a></li>
                <li><a id="popular-time-week">Week</a></li>
                <li><a id="popular-time-all">All</a></li>
            </ul>
        </div>

        <div id="popular-thumbs" class="s-thumbs-grid s-thumbs-grid-med"></div>

    </div>
</div>
