<div id="share" class="s-share-photo" data-role="page" data-short-title="<%= T('Share') %>" data-theme="a" class="x-no-drag" data-ajax="false">
    <div data-role="header">
        <a href="#/" data-role="button" data-icon="delete" data-iconpos="notext"></a>
        <h1><%= T('Share') %></h1>
    </div>
    <div data-role="content" data-theme="a">
        <div class="x-content">
            <% if(obj.photo){ %>
                <form action="javascript: void(0);" >

                    <div class="s-image-bg-layer s-full-height s-trans-bg">
                        <div class="s-image-placeholder x-image-placeholder">
                            <% if (img_url){%><img class="x-image" src="<%= img_url %>" /><%}%>
                        </div>

                        <div class="s-image-toggle x-image-toggle s-show-share-settings action-icons">
                            <a data-role="button" data-icon="arrow-u" data-iconpos="right" >
                                <%= T('Show Options') %>
                            </a>
                        </div>
                    </div>


                    <!-- Fun Fact: setting the layer with the text inputs in it to have
                    absolute positioning will cause text not to enter properly on some android devices - for example s3 running 4.0.4 -->
                    <div class="s-full-height s-trans-bg s-share-settings-bg-layer">
                        <div class="s-image-toggle x-image-toggle action-icons">
                            <a data-role="button" data-icon="arrow-d" data-iconpos="right" >
                                <%= T('Show Photo') %>
                            </a>
                        </div>
                    </div>

                    <div class="s-share-settings-layer s-trans-bg">
                        <div class="s-share-settings">
                                <% if(comp){ %>Comp: <%= comp.get('title') %><% } %>
                                <div class="s-message-area">
                                    <% if(config.get('app_sharing_opt_in_message')){ %>
                                        <div class="x-sharing-message s-sharing-message"><%= T(config.get('app_sharing_opt_in_message')) %></div>
                                    <% } %>
                                    <textarea name="description" id="description" class="x-description" placeholder="<%= T('Add text') %>..." data-theme="d"><%= saved_description %></textarea>

                                    <% if(comp && comp.has('hashtag')){ %><span class="s-comp-hashtag"><%= comp.get('hashtag') %></span><% } %>
                                </div>


                                <fieldset data-role="controlgroup" data-type="horizontal" class="s-upload-image-privacy">
                                    <input type="checkbox" class="x-status" name="status" id="image-status" <% if (status != "private"){%> checked="true" <%}%> />
                                    <label for="image-status">&nbsp;<span class="ui-icon"></span></label>
                                </fieldset>


                                <fieldset data-role="controlgroup" data-type="horizontal" class="x-image-sharing s-upload-image-sharing">
                                    <legend><%= T('Share to') %>:</legend>


                                    <% if(config.get('app_sharing_opt_in')){ %>
                                        <input type="checkbox" name="app-sharing" id="app-sharing"
                                        <%if (status == "private"){%>disabled="true"<%}%>
                                        <% if(local_storage.get( "app-sharing" )){ %>checked="true"<%}%> />
                                        <label for="app-sharing"><span class="ui-icon"></span></label>
                                    <% } %>

                                    <% if(_.contains(config.get('services'), 'twitter')){ %>
                                        <input type="checkbox" name="tweet" id="twitter-sharing"
                                        <%if (status == "private"){%>disabled="true"<%}%>
                                        <%if (twitter_sharing && status != "private"){%>checked="true"<%}%> />
                                        <label for="twitter-sharing"><span class="ui-icon"></span>Twitter</label>
                                    <% } %>

                                    <% if(_.contains(config.get('services'), 'facebook')){ %>
                                        <input type="checkbox" name="facebook_album" id="facebook-sharing"
                                        <%if (status == "private"){%>disabled="true"<%}%>
                                        <%if (facebook_sharing && status != "private"){%>checked="true"<%}%>/>
                                        <label for="facebook-sharing"><span class="ui-icon"></span>Facebook</label>
                                    <% } %>

                                    <% if(_.contains(config.get('services'), 'tumblr')){ %>
                                        <input type="checkbox" name="tumblr" id="tumblr-sharing"
                                        <%if (status == "private"){%>disabled="true"<%}%>
                                        <%if (tumblr_sharing  && status != "private"){%>checked="true"<%}%> />
                                        <label for="tumblr-sharing"><span class="ui-icon"></span>Tumblr</label>
                                    <% } %>

                                    <% if(_.contains(config.get('services'), 'foursquare')){ %>
                                        <input type="checkbox" name="foursquare_checkin" id="foursquare-sharing"
                                        <%if (status == "private"){%>disabled="true"<%}%>
                                        <%if (foursquare_sharing && status != "private"){%>checked="true"<%}%> />
                                        <label for="foursquare-sharing"><span class="ui-icon"></span>Foursquare</label>
                                    <% } %>

                                </fieldset>

                                <hr />

                                <fieldset class="s-upload-image-location action-icons">

                                    <div id="no-foursquare-venue"
                                        <% if (foursquare_sharing && status != "private"){%> style="display:none;"<%}%>
                                         class="<% if (photo.attributes.location && !photo.attributes.location.location){%>x-ajax-loading <%}%>x-no-foursquare-venue">

                                        <span class="s-image-location">
                                            <input type="checkbox" name="share_location" class="x-share-location" id="share-location" <%if (share_location){ %>checked="true"<% } %> />
                                            <label for="share-location" class="ui-shadow"><span class="ui-icon ui-icon-location share-location-label" ></span>
                                                <span class="x-location-name s-location-name">
                                                <% if (photo.attributes.location && photo.attributes.location.location){%>
                                                     <%= photo.attributes.location.location %>
                                                <% }else{ %>
                                                    <% if (saved_location){ %>
                                                      <%= saved_location %>
                                                    <% }else{ %>
                                                      <% if (share_location){ %>
                                                          <%= T('Getting location') %>&hellip;
                                                      <% }else{ %>
                                                          <%= T('Share location') %>.
                                                      <% } %>
                                                    <% } %>
                                                <% } %>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                    <div id="foursquare-venue"
                                        <%if (!foursquare_sharing || status == "private"){%> style="display:none;"<%}%>
                                        class="<% if (photo.attributes.location && !photo.attributes.location.foursquare_venue_name){%>x-ajax-loading<%}%> x-foursquare-venue">
                                        <a data-role="button" id="foursquare-venue" data-icon="arrow-right">
                                            <span class="ui-icon ui-icon-venue"></span>
                                            <span class="s-foursquare-venue-name x-foursquare-venue-name">
                                                <% if (photo.attributes.location && photo.attributes.location.foursquare_venue_name){%>
                                                    <%= photo.attributes.location.foursquare_venue_name %>
                                                <%}else{%>
                                                    <%= T('Getting Venue') %>&hellip;
                                                <%}%>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="x-no-location hide">
                                        <a data-role="button" data-icon="arrow-right">
                                            <span class="ui-icon ui-icon-location"></span>
                                            <span>
                                                <%= T('Location Disabled') %>
                                            </span>
                                        </a>
                                    </div>
                                </fieldset>

                                <div class="ui-grid-b">
                                    <div class="ui-block-a">
                                        <% if (camplus){ %>
                                        <a data-role="button" data-theme="a" class="x-camplus-edit-photo camplus-icon"><%= T('Edit with') %> Camera&#43;</a>
                                        <% } %>
                                    </div>

                                    <div class="ui-block-b">
                                    <% if (edit){ %>
                                        <a data-role="button" data-theme="g" class="x-edit-photo"><%= T('Edit') %></a>
                                    <% } %>
                                    </div>

                                    <div class="ui-block-c">
                                        <input type="submit" data-role="button" data-theme="h" class="x-share-button" value="<%= T('Share') %>"/>
                                        <input type="submit" data-role="button" data-theme="c" class="x-done-button" value="<%= T('Done') %>"/>
                                    </div>
                                </div>
                            </div>



                    </div>
                </form>
            <% } %>
        </div>


    </div>
</div>
