 <div id="spot" data-title="Spots" data-tab-bar="true" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">
        <h1>Spots</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="spot-head">
             <!-- dynamic -->
        </div>

        <div class="spot-body">
            <ul class="image-streams">
                <!-- dynamic -->
            </ul>

            <h4 class="top-users-heading" style="display:none;">Top Users</h4>
            <ul class="top-users">
                <!-- dynamic -->
            </ul>

        </div>
     </div>
</div>
