<div id="spots" data-title="Spots" data-tab-bar="true" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">
        <h1>Spots</h1>

        <div class="ui-btn-right" data-ajax="false">
            <a href="#/map/" data-role="button" data-icon="map" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>

    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inline-header ui-body-c spots-search-header search-header">
            <div class="ui-content">
                <form id="spots-search" class="all-categories">
                    <input type="search" id="spot-search" class="x-search-field" value="" placeholder="Venue Name&hellip;" />

                    <div class="spots-search-filters">
                        <span class="distance-btn">

                             <select data-theme="c" name="location" id="options-location" class="x-location" data-native-menu="true">
                                <option value='anywhere' id="location-anywhere">&#8734;</option>
                                <option value='1000' id='location-walking' class="x-location-needed">1k</option>
                                <option value='10000' id='location-driving' class="x-location-needed">10k</option>
                                <option value='50000' id='location-travelling' class="x-location-needed">50k</option>
                            </select>
                        </span>

                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <select data-theme="c" name="sort" id="options-sort" class="x-sort" data-native-menu="true">
                                    <option value='weighted_score' id='options-weighted_score'>Popular</option>
                                    <option value='distance' class="x-location-needed" id="options-distance">Nearest</option>
                                </select>

                            </div>
                            <div class="ui-block-b category-btn">
                                <select data-theme="c" name="category" id="options-category" class="x-category" data-native-menu="true">
                                    <option value='all' id='location-anywhere'>All</option>
                                    <option value='food' id="category-nearby">Food</option>
                                    <option value='nightlife-spots' id="category-nightlife-spots">Nightlife</option>
                                    <option value='arts-and-entertainment' id="category-arts-and-entertainment">Arts</option>
                                    <option value='great-outdoors' id="category-great-outdoors">Outdoors</option>
                                    <option value='shops' id="category-shops">Shopping</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
       </div>

       <div class="spots-results-content">
           <ul class="spots x-spots-list">
           </ul>
       </div>

   </div>
</div>
