<div id="tumblr-posts" data-tab-bar="true" data-title="Tumblr blog" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">
        <h1>News</h1>
        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-tumblr-body">
            <a class="ui-bar s-arrow-d-left x-details" data-role="button" data-iconpos="left" data-icon="blog" data-theme="e">
                    <strong class="x-blog-title"><span><%= obj.title || 'Blog' /* must be wrapped */ %></span></strong>
                </span>
            </a>

            <section class="s-tumblr-stream x-posts image-item-block">

                <% _.each(obj.posts || [], function(post){ %>
                    <article class="s-tumblr-post-item">

                        <% switch(post.get('type')) { case 'text': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                                <div class="s-tumblr-body">
                                <h4 class="s-tumblr-post-title"><%=post.get('title')%></h4>
                                <p class="s-tumblr-post-body"><%=post.get('body').replace(/\n/g, '<br>' )%></p>
                                </div>
                            </div>

                        <% break; case 'photo': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                                <% if (post.get('photos')) { %>
                                    <ul class="s-photo-set">
                                        <% _.each(post.get('photos'), function (photo) { %>
                                            <li><img src="<%= getPhotoURL(photo, 500) %>" /></li>
                                        <% }); %>
                                    </ul>
                                <% } %>
                                <div class="s-tumblr-body">
                                <p class="s-tumblr-image-caption"><%=post.get('caption').replace(/\n/g, '<br>' )%></p>
                                </div>
                            </div>

                        <% break; case 'link': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                                <div class="s-tumblr-body">
                                
                                <h4>
                                    <% if(post.get('title') != ""){%>
                                    <a href="<%=post.get('url')%>"><%=post.get('title')%> <span class="s-tumblr-extra">&rarr;</span></a>
                                    <% } else {%>
                                    <a href="<%=post.get('url')%>"><%=post.get('url')%> <span class="s-tumblr-extra">&rarr;</span></a>
                                    <% } %>
                                    </h4>
                                <p><%=post.get('description').replace(/\n/g, '<br>' )%></p>
                                </div>
                            </div>

                        <% break; case 'video': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                                <%= getVideoEmbed(post) %>
                                <div class="s-tumblr-body">
                                <% if(post.get('caption')){%><%=post.get('caption').replace(/\n/g, '<br>' )%><%}%>
                                </div>
                            </div>

                        <% break; case 'chat': %>

                           <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                               <div class="s-tumblr-body">
                                <h4 class="s-tumblr-chat-title"><%=post.get('title')%></h4>
                                <%if (post.get('dialogue')) {%>
                                    <ul class="chat">
                                        <%_.each(post.get('dialogue'), function(dialogue){%>
                                            <li><strong class="s-tumblr-chat-label"><%=dialogue.label%></strong> <%=dialogue.phrase%></li>
                                        <%});%>
                                    </ul>
                                <%}%>
                                </div>
                            </div>

                        <% break; case 'quote': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">
                                <div class="s-tumblr-body">
                                <blockquote class="s-tumblr-quote"><%=post.get('text')%></blockquote>
                                <%if (post.get('source')) {%>
                                <p class="s-tumblr-source"><span class="s-tumblr-extra"> &mdash; </span><%=post.get('source')%></p>
                                <%}%>
                                </div>
                            </div>

                        <% break; case 'audio': %>

                            <div id="post-<%= post.get('id') %>" class="s-post-<%= post.get('type') %> s-tumblr-post">

                                <div class="s-tumblr-body">
                                    <audio controls preload="none" src="<%= post.get('audio_url') %>"></audio>
                                    <p>
                                    <%if(post.get('track_name') || post.get('artist') || post.get('album')) { %>
                                        <% if(post.get('artist')) { %><strong><%= post.get('track_name') %></strong><% } %>                                    
                                        <% if(post.get('artist')) { %> by <em class="s-tumblr-artist-name"><%= post.get('artist') %></em><% } %>
                                        <% if(post.get('album')) { %> from <em class="s-tumblr-album-name"><%= post.get('album') %></em> <% } %>
                                    <% } %>
                                    </p>

                                <% if(post.get('caption')){%>
                                    <blockquote class="s-tumblr-track-note"><%=post.get('caption').replace(/\n/g, '<br>' )%></blockquote><%}%>
                                <% if(post.get('source')){%><%=post.get('source') %><%}%>
                                </div>
                            </div>

                        <% }%>
                        <div class="s-tumblr-metadata">
                            <a href="<%= post.get('post_url') %>" class="ui-bar" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="z" data-corners="false" data-shadow="false">
                            <span class="ui-icon ui-icon-tumblr-<%= post.get('type') %> tumblr-icon"></span>
                            <%= string_utils.time_ago(post.get('timestamp')*1000) %><% if (post.get('note_count') > 0){ %>, <%= post.get('note_count') %> notes<%}%>
                            </a>
                        </div>
                    </article>

                <% })%>
            </section>
        </div>

        <div class="x-tumblr-footer s-tumblr-footer">
            <% if(obj.host){ %>
                <a href="http://<%= host %>/" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="z" data-corners="false" data-shadow="false">
                    <span class="s-tumblr-credit">View on <span class="hide">Tumblr</span></span>
                </a>
            <% } %>
        </div>

    </div>
</div>
