<div id="tumblr-posts" data-title="Tumblr blog" data-add-back-btn="true" data-role="page" data-theme="d">
    <div data-role="header" data-theme="b">
        <h1>Tumblr blog</h1>
        <div class="ui-btn-right" data-ajax="false">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="tumblr-body">
            <a class="ui-bar top-left-arrow x-details" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="e">
                <span class="image-details">
                    <span class="ui-icon ui-icon-nearby "></span>
                    <em class="x-blog-title"><!-- dynamic --></em>
                </span>
            </a>
          <ul class="posts-stream image-item-block"></ul>
        </div>
    </div>
</div>
