<div id="twitter-xauth" data-role="page" data-overlay-theme="c" data-theme="c" class="s-special-bg s-twitter-bg">
    <div data-role="header" data-theme="c">
        <h1><%= T('Connect') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>

    <div data-role="content" data-ajax="false" data-theme="d">
         <div class="s-inset-page-content">
        <div class="login-message x-login-message">
        </div>
        <form action="javascript: void(0);" accept-charset="utf-8" id="twitter-dialog" name="twitter-dialog">
            <ul data-role="listview" data-inset="true" data-theme="d">
                <li data-role="fieldcontain" class="ui-hide-label">
                    <label for="username">@<%= T('username') %></label>
                    <input type="text" name="username" placeholder="@<%= T('username') %>" autocapitalize="off" autocorrect="off" class="x-username" >
                </li>
                <li data-role="fieldcontain" class="ui-hide-label">
                    <label for="password"><%= T('Password') %></label>
                    <input type="password" name="password" placeholder="<%= T('Password') %>" class="x-password">
               </li>
            </ul>
            <!-- So pressing enter will still submit form, but so we can also add custom gfx to the other button -->
            <div class="s-invisible-submit-button">
                <input type="submit" name="twitter-dialog" data-theme="e" value="<%= T('Connect') %> Twitter">
            </div>
            <a data-role="button" class="x-twitter-button s-twitter-button s-logo-button" data-theme="e">
                <%= T('Connect') %> <span class="s-twitter-logo s-button-logo">Twitter</span>
            </a>
        </form>
   </div>
   </div>
</div>
