<div id="uploading" data-role="page" data-short-title="Uploading" data-theme="d" data-ajax="false" data-tab-bar="true">
    <div data-role="header" data-theme="b">
        <div class="ui-btn-left">
            <a class="x-launch-camera" data-role="button" data-icon="camera" data-iconpos="notext"></a>
        </div>

        <h1>Upload</h1>

        <div class="ui-btn-right">
            <a href="#/search/" data-snapr-dialog="true" data-role="button" data-icon="search" data-iconpos="notext"></a>
            <a href="#/home/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        </div>

    </div>
    <div data-role="content" data-theme="d">
        <div class="upload-progress-container upload-progress-header page-inset-header">
            <!-- dynamic -->
        </div>
        <a class="offline ui-bar top-no-arrow x-refresh offline-uploading" data-role="button" data-theme="c" style="display:none;">
            <span class="image-details">
                <span class="ui-icon ui-icon-connection "></span>
                <span class="image-tag"><strong>Offline Mode</strong></span>
            </span>
        </a>

        <ul class="image-streams">
            <!-- dynamic -->
        </ul>
    </div>
</div>
