<div id="s-user-profile" data-role="page" data-overlay-theme="c" data-theme="c" data-ajax="false">
    <div data-role="header" data-theme="c">
        <h1><%= T('Profile') %></h1>
        <a class="x-back" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" class="x-user-profile s-user-profile ui-content" data-theme="c">
        <% if(!initial){ /* initialy render empty */ %>
            <div class="s-profile-details">
                <div class="s-user-icon-left">
                    <a class="s-profile-icon x-back">
                        <div class="s-avatar-large" style="background-image: url('<%= config.get('avatar_url') %>/<%= user.get( "user_id" ) %>?size=large');"></div>

                    </a>
                </div>

                <div class="s-details">

                    <h1 class="real-name">
                    <% if (user.get("details").linked_services.facebook_mobile_url) {%>
                        <a class="username" href="<%= user.get("details").linked_services.facebook_mobile_url %>">
                        <%= user.get("details").linked_services.facebook_name %></a><span class="s-facebook-sharing s-share-icon-small"><span class="ui-icon"></span></span>
                    <%}else{%>
                        <span class="username">
                        <% if (user.get("details").profile.name) {%>
                            <%= user.get("details").profile.name %>
                        <%}else{%>
                            <%= user.get( "display_username" ) %>
                        <%}%>
                        </span>
                    <%}%>
                    </h1>
                    <hr>

                     <!-- if any services linked show em -->
                     <% if (user.get("details").linked_services.twitter_username || user.get("details").linked_services.tumblr_username || user.get("details").linked_services.foursquare_username){%>
                     <ul class="user-linked-services">

                        <!-- Twitter -->
                        <% if (user.get("details").linked_services.twitter_username) {%>
                        <li>
                            <a href="http://twitter.com/<%= user.get("details").linked_services.twitter_username %>">
                            <span class="s-twitter-sharing s-share-icon-small"><span class="ui-icon"></span></span>@<%= user.get("details").linked_services.twitter_username %>
                            </a>
                        </li>
                        <%}%>

                        <!-- Tumblr -->
                        <% if (user.get("details").linked_services.tumblr_username) {%>
                        <li>
                            <a href="http://<%= user.get("details").linked_services.tumblr_username %>.tumblr.com/">
                            <span class="s-tumblr-sharing s-share-icon-small"><span class="ui-icon"></span></span>@<%= user.get("details").linked_services.tumblr_username %>
                            </a>
                        </li>
                        <%}%>
                      <!-- Foursquare -->
                     <% if (user.get("details").linked_services.foursquare_username) {%>
                     <li>
                         <a href="<%= user.get("details").linked_services.foursquare_url %>">
                         <span class="s-foursquare-sharing s-share-icon-small"><span class="ui-icon"></span></span>@<%= user.get("details").linked_services.foursquare_username %>
                         </a>
                     </li>
                     <%}%>

                    </ul>
                    <hr>
                    <%}%>

                    <% if (user.get("details").profile.bio || user.get("details").profile.location || user.get("details").profile.website){%>

                        <% if (user.get("details").profile.bio){%>
                        <p class="user-bio">
                        <%= user.get("details").profile.bio %>
                        </p>
                        <%}%>
                        <% if (user.get("details").profile.location){%>
                        <p class="user-hometown">
                        <%= user.get("details").profile.location %>
                        </p>
                        <%}%>
                        <% if (user.get("details").profile.website){%>
                        <p class="user-website">
                            <a href="<%= user.get("details").profile.website %>"><span class="ui-icon ui-icon-link profile-icons"></span><%= user.get("details").profile.website %></a>
                        </p>
                        <%}%>
                    <%}else{%>
                        <p class="no-profile">
                            <i><%= user.get( "display_username" ) %> has not added a profile yet</i>
                        </p>

                    <%}%>
                </div>

            </div>
            <hr>
            <!-- base btns -->
            <div class="user-buttons">
                <% if (user.get("details").stats.photo_count){%>
                <a data-role="button" data-icon="feed" class="profile-icons" href="#/feed/?username=<%= user.get( "username" ) %>"><%= user.get("details").stats.photo_count %>
                 <%= T('Snaps') %></a>
                <%}%>
                <% if (user.get("details").stats.photos_favorited){%>
                <a href="#/feed/?favorited_by=<%= user.get( "username" ) %>&list_style=grid" data-role="button" data-icon="favs" class="profile-icons"><%= user.get("details").stats.favorite_count %> <%= T('Favs') %></a>
                 <%}%>
            </div>
            <hr>
        <%}%>
    </div>
</div>
