<div id="welcome" data-role="page" data-overlay-theme="c" data-theme="c" class="welcome-bg s-special-bg">
    <div data-role="header" data-theme="c">
        <h1>Welcome</h1>
        <a href="#" data-ajax="false" data-role="button" data-icon="delete" data-iconpos="notext"></a>
    </div>
    <div data-role="content" data-theme="d" data-ajax="false">
        <div class="s-inset-page-content s-wrap-content">
            <ul data-role="listview" data-ajax="false" class="" data-inset="true" data-theme="d">
                <li>
                    <h4>Hi!</h4>
                    <p>Do you already have an account? Or would you like to join up?</p>
                </li>
            </ul>

            <a data-role="button" data-theme="h" href="#/login/">Login</a>
            <a data-role="button" data-theme="g" href="#/join/">Join Snapr</a>

        </div>

        <p class="s-centered-link">
            <a href="#/about/">Find Out More &rsaquo;</a></li>
        </p>

    </div>
</div>
